<div class="web-layer layer"></div>
<div id="scene" class="scene unselectable" data-friction-x="0.1" data-friction-y="0.1" data-scalar-x="25" data-scalar-y="15" style="width: 100%; transform: translate3d(0px, 0px, 0px); transform-style: preserve-3d; backface-visibility: hidden;" data-mode="cursor">
  <div class="overlay colorblack"></div>
  <div class="img-holder" auto-height>
    <div class="container">
      <div class="text-left-ab text-sec-left">
        <div class="layer" data-depth="0.10">
          <div class="text-color3 fnt-60 uppercase avenir-medium line-height90">
            Local
          </div>
          <div class="life-icon life-icon3 color-white fnt-60 uppercase avenir-medium line-height90">
            <img src="img/libro-home/cycle.png" alt="TravelLibro" class="cycle-section3" />Life
          </div>
        </div>
        <div class="mobile-travellife color-white visible-xs">
          <span class="uppercase color-white fnt-22 mobile-home-travel-cont">
  Share the love for your city
    </span>
          <br>
          <span class="uppercase color-white fnt-22">
      Experience the city like a local
    </span>
        </div>
      </div>
    </div>
    <div class="mobile-home-travel-life visible-xs">
      <a href="img/libro-home/video/Local_life.mp4"  fancybox-box class="various fancybox.iframe">
        <div class="img-travel-life">
          <img src="img/home-mobile-3.png" class="img-responsive" alt="">
          <div class="play-mobile">
            <i class="fa fa-play"></i>
          </div>
        </div>
      </a>
    </div>
    <div class="locallife hidden-xs">
      <div class="description-shown text-sec2">
        <div class="text-1">
          <h4 class="color-white avenir-black text-center fnt-22 text-uppercase">Get Inspired</h4>
          <p class="color-white text-center avenir-heavy">
            Experience the city like a local.
            <br>Discover what’s trending
            <br> and read reviews of places
            <br> recommended by locals.
          </p>
        </div>
        <div class="text-center img-ballon-middle">
          <img src="img/libro-home/cycle-green.png" alt="Travel Libro">
        </div>
        <div class="text-1">
          <h4 class="color-white avenir-black text-center fnt-22 text-uppercase">Be the Inspiration</h4>
          <p class="color-white text-center avenir-heavy">
            Share the love for your
            <br>city by capturing the
            <br>favourite moments of your
            <br>local life to inspire others.
          </p>
        </div>
      </div>
      <!-- <div class="description">
        <p class="color-white text-center avenir-heavy fnt-20 text-one text-sec2">
          Discover what places are
          <br>trending in the city.
        </p>
        <p class="color-white text-center avenir-heavy fnt-20 text-two text-sec2">
          See what the locals
          <br>are recommending.
        </p>
        <p class="color-white text-center avenir-heavy fnt-20 text-three text-sec2">
          Get inspired and experience 
          <br>the city like a local.
        </p>
        <p class="color-white text-center avenir-heavy fnt-20 text-four text-sec2">
          Share the love for your 
          <br>city and inspire others.
        </p>
        <p class="color-white text-center avenir-heavy fnt-20 text-five text-sec2">
          Cherish your local
          <br>life memories forever.
        </p>
      </div>
      <div class="description-last text-sec2">
        <div class="text-1">
          <h4 class="color-white avenir-black text-center fnt-22 text-uppercase">Get Inspired</h4>
          <p class="color-white text-center avenir-heavy">
            Experience the city like a local.
            <br>Discover what’s trending
            <br> and read reviews of places
            <br> recommended by locals.
          </p>
        </div>
        <div class="text-center img-ballon-middle">
          <img src="img/libro-home/cycle-green.png" alt="Travel Libro">
        </div>
        <div class="text-1">
          <h4 class="color-white avenir-black text-center fnt-22 text-uppercase">Be the Inspiration</h4>
          <p class="color-white text-center avenir-heavy">
            Share the love for your
            <br>city by capturing the
            <br>favourite moments of your
            <br>local life to inspire others.
          </p>
        </div>
      </div> -->
    </div>
    <footer class="hidden-xs">
        <div class="container-fluid">
            <div class="">
                <div class="col-md-12">
                    <div class="app-icons ab">
                        <ul class="list-unstyled list-inline text-right color-white">
                            <li class="">
                                Download App
                            </li>
                            <li>
                                <a href="#" target="_blank" class="color-white">
                                    <i class="fa fa-apple"></i>
                                </a>
                            </li>
                            <li>|</li>
                            <li>
                                <a href="#" class="color-white" target="_blank">
                                    <i class="fa fa-android"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
  </div>
</div>
