<div class="web-layer layer"></div>
<div id="scene" class="scene unselectable" data-friction-x="0.1" data-friction-y="0.1" data-scalar-x="25" data-scalar-y="15"
  style="width: 100%; transform: translate3d(0px, 0px, 0px); transform-style: preserve-3d; backface-visibility: hidden;" data-mode="cursor">
  <div class="fullscreen-bg hidden-xs">
    <video class='videoPlayer' autoplay muted loop id="movie1">
      <source src='https://storage.googleapis.com/intro-videos/Homevideo.mp4' type='video/mp4'>
    </video>
    <div class="overlay colorblue"></div>
  </div>
  <div class="layer" data-depth="0.15">
    <div class="img-holder" auto-height>
      <div class="container">
        <div class="text-left-ab color-white">
          <ul class="list-unstyled dot-icon list-inline uppercase fnt-32 avenir-heavy">
            <li>Capture</li>
            <li>Inspire</li>
            <li>Relive</li>
          </ul>
          <ul class="list-unstyled list-inline text-center avenir-black">
            <li class="fnt-20">
              <span class="img-section1"><img src="img/libro-home/ballon-orange.png" alt=""/></span>Travel Life
            </li>
            <li class="no-pad fnt-20">
              |
            </li>
            <li class="fnt-20">Local Life<span class="img-section1"><img src="img/libro-home/cycle-green.png" alt=""/></span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div ng-include="template.footer" class="template footer"></div>
</div>
