<div class="web-layer layer"></div>
<div id="scene" class="scene unselectable" data-friction-x="0.1" data-friction-y="0.1" data-scalar-x="25" data-scalar-y="15" style="width: 100%; transform: translate3d(0px, 0px, 0px); transform-style: preserve-3d; backface-visibility: hidden;" data-mode="cursor">
  <div class="overlay colorblack"></div>
  <div class="img-holder" auto-height>
    <div class="container">
      <div class="text-left-ab text-sec-left">
        <div class="layer" data-depth="0.10">
          <div class="color-primary fnt-60 uppercase avenir-medium line-height90">
            Travel
          </div>
          <div class="life-icon color-white fnt-60 uppercase avenir-medium line-height90">
            <img src="img/libro-home/life.png" alt="TravelLibro" />Life
          </div>
        </div>
        <div class="mobile-travellife color-white visible-xs">
          <span class="uppercase color-white fnt-22 mobile-home-travel-cont">
      On-the-go-journeys
    </span>
          <br>
          <span class="uppercase color-white fnt-22">
      Past Travels
    </span>
        </div>
      </div>
      <div class="mobile-home-travel-life visible-xs">
        <a href="img/libro-home/video/Travel_life.mp4" fancybox-box class="various fancybox.iframe">
        <div class="img-travel-life">
          <img src="img/home-mobile-2.png" class="img-responsive" alt="">
          <div class="play-mobile">
            <i class="fa fa-play"></i>
          </div>
        </div>
      </a>
      </div>

      <div class="travellife hidden-xs">
        <div class="description-shown text-sec2">
          <div class="text-1">
            <h4 class="color-white avenir-black text-center fnt-22 text-uppercase">On-the-Go Journey</h4>
            <p class="color-white text-center avenir-heavy">
              Capture each moment of <br>your journey live On-the-Goto <br> create a stunning timeline <br>with friends and family.
            </p>
          </div>
          <div class="text-center img-ballon-middle">
            <img src="img/libro-home/ballon-orange.png" alt="Travel Libro">
          </div>
          <div class="text-1">
            <h4 class="color-white avenir-black text-center fnt-22 text-uppercase">Past Journey</h4>
            <p class="color-white text-center avenir-heavy">
              Revisit the treasured moments <br>of your past journeys <br>by creating a beautiful <br>memoir of your trip.
            </p>
          </div>
        </div>
        <!-- <div class="description">
          <p class="color-white text-center avenir-heavy fnt-20 text-one text-sec2">
            Capture your Travel
            <br> Journeys live <br> On-the-Go.
          </p>
          <p class="color-white text-center avenir-heavy fnt-20 text-two text-sec2">
            Start your journey and
            <br> add travel companions.
          </p>
          <p class="color-white text-center avenir-heavy fnt-20 text-three text-sec2">
            ​Record each <br>moment together.
          </p>
          <p class="color-white text-center avenir-heavy fnt-20 text-four text-sec2">
            ​Friends and family can
            <br> view your activities live.
          </p>
          <p class="color-white text-center avenir-heavy fnt-20 text-five text-sec2">
            ​A stunning travel
            <br> timeline of your entire trip.
          </p>
        </div>
        <div class="description-last text-sec2">
          <div class="text-1">
            <h4 class="color-white avenir-black text-center fnt-22 text-uppercase">On-the-Go Journey</h4>
            <p class="color-white text-center avenir-heavy">
              Capture each moment of <br>your journey live On-the-Goto <br> create a stunning timeline <br>with friends and family.
            </p>
          </div>
          <div class="text-center img-ballon-middle">
            <img src="img/libro-home/ballon-orange.png" alt="Travel Libro">
          </div>
          <div class="text-1">
            <h4 class="color-white avenir-black text-center fnt-22 text-uppercase">Past Journey</h4>
            <p class="color-white text-center avenir-heavy">
              Revisit the treasured moments <br>of your past journeys <br>by creating a beautiful <br>memoir of your trip.
            </p>
          </div>
        </div> -->
      </div>
    </div>
    <footer class="hidden-xs">
        <div class="container-fluid">
            <div class="">
                <div class="col-md-12">
                    <div class="app-icons ab">
                        <ul class="list-unstyled list-inline text-right color-white">
                            <li class="">
                                Download App
                            </li>
                            <li>
                                <a href="#" target="_blank" class="color-white">
                                    <i class="fa fa-apple"></i>
                                </a>
                            </li>
                            <li>|</li>
                            <li>
                                <a href="#" class="color-white" target="_blank">
                                    <i class="fa fa-android"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
  </div>
</div>
