.overlay {
  background: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
a.color-white {
  color: white;
  @include transition(all ease 300ms);
  &:hover {
    color: darken(#fff,20%);
  }
}
.text-shadow {
  text-shadow: 1px 1px 2px #444444;
}
.destination {
  .img-holder-destination {
    height: 100vh;
    width: 100%;
    background: url('../img/destination/info.jpg') no-repeat;
    background-size: cover;
    background-position: center center;
    overflow: hidden;
  }
  .list-horizontal {
    position: absolute;
    top: 10%;
    width: 150px;
    right: 30px;
    text-align: center;
    ul {
      li {
        height: 16vh;
        @extend .avenir-roman;
        span {
          @extend .avenir-heavy;
          @extend .text-shadow;
        }
        label {
          font-weight: normal;
          @extend .text-shadow;
        }
        a {
          text-decoration: underline;
          @extend .text-shadow;
          &:hover {
            color: darken(#fff,10%);
          }
        }
      }
    }
  }
  .country-title h4 {
    font-size: 40px;
    margin: 0;
    @extend .avenir-heavy;
    @extend .heading-blog;
  }
  .slide-cont-dest {
    position: absolute;
    bottom: 0;
    transform: translateY(100%);
    padding: 30px 50px;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    @include transition(all ease 300ms);
    z-index: 1;
    p {
      @extend .avenir-roman;
      margin-bottom: 15px;
    }
    a {
      text-decoration: underline;
      @extend .text-shadow;
      @extend .avenir-roman;
      &:hover {
        color: darken(#fff,10%);
      }
    }
    &.open-cont {
      transform: translateY(0);
    }
  }
}
.destination-nav {
  background: #ebebeb;
  ul {
    li {
      padding: 8px 0;
      margin: 0 20px;
      @extend .avenir-medium;
      cursor: pointer;
      border-bottom: 3px solid transparent;
      @include transition(all ease 300ms);
      &.active,
      &:hover {
        border-color: $brand-dark-pink;
        color: lighten(#000,20%);
      }
    }
  }
  .input-search {
    .form-control {
      background: transparent;
      border: 0;
      height: 25px;
      font-size: 12px;
      margin-top: 2px;
    }
    .input-group {
      border-bottom: 1px solid #1e5974;
      margin: 3px 0;
    }
  }
  .input-group-addon {
    background-color: transparent;
    border: 0;
    border-radius: 0;
    color: #232d4a;
    cursor: pointer;
  }
}
.destination-content {
  .head-title-all {
    h4 {
      color: #ff6759;
      margin: 0;
      padding: 15px 0;
    }
  }
  .img-holder {
    margin-bottom: 20px;
    border-radius: 5px;
    overflow: hidden;
    .title-head-left {
      font-size: 30px;
      position: absolute;
      top: 0;
      left: 0;
      padding: 8px 15px;
      background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0));
      width: 100%;
      @extend .avenir-heavy;
    }
    .right-bottom {
      position: absolute;
      bottom: 0;
      right: 0;
      padding: 8px 15px;
      background: linear-gradient(rgba(0, 0, 0, 0.12), rgba(0, 0, 0, 0.65));
      text-align: right;
      width: 100%;
      @extend .avenir-roman;
    }
    .left-bottom {
      position: absolute;
      bottom: 0;
      left: 0;
      padding: 8px 15px;
      background: linear-gradient(rgba(0, 0, 0, 0.12), rgba(0, 0, 0, 0.65));
      width: 100%;
      @extend .avenir-roman;
    }
  }
}
.plr30 {
  padding: 0 30px;
}
.scrolldown {
  position: absolute;
  bottom: 20px;
  width: 100px;
  margin: 0 auto;
  left: 50%;
  cursor: pointer;
  @include transform(translate(-50%, -0%));
  @extend .avenir-roman;
  @extend .text-shadow;
  font-size: 12px;
  z-index: 0;
  img {
    width: 15px;
    margin-bottom: 5px;
  }
  &:hover img {
    @include animation(bounce 2s infinite);
  }
  @include keyframes(bounce) {
    0%,
    100%,
    20%,
    50%,
    80% {
      @include transform(translate(-0%, -0%));
    }
    40% {
      @include transform(translate(-0%, -20%));
    }
    60% {
      @include transform(translate(-0%, -10%));
    }
  }
}
.musto-thumbnail {
  width: 500px;
  @include transform(rotate(90deg) translate(0,0));
  position: absolute;
  top: 110px;
  left: -130px;
  .img-holder-place {
    height: 265px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    img {
      width: 265px;
      @include position(absolute, 50% null null 50%);
      // @include transform(rotate(-90deg));
      @include transform(translate(-50%,-50%) rotate(-90deg));
    }
  }
}
.img-holder-place {
  position: relative;
  .destination-desc {
    position: absolute;
    bottom: -20px;
    left: 0;
    background: rgba(0, 0, 0, 0.66);
    color: #fff;
    padding: 20px;
    margin: 0 20px;
  }
}
.fnt-12 {
  font-size: 12px;
}
