@import "../bower_components/bourbon/app/assets/stylesheets/bourbon";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/mixins";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap-sprockets";
@import "../bower_components/flexslider/flexslider.css";
@import "../bower_components/font-awesome/css/font-awesome.min.css";
@import "../bower_components/fancyBox/source/jquery.fancybox.css";
@import "../bower_components/ng-img-crop/compile/minified/ng-img-crop.css";
@import "../bower_components/angular-mappy/build/angular-mappy.css";
/* Bootstrap Variables Goes Here */
$brand-dark-blue: #2c3757;
$brand-blue: #2d3655;
$brand-dark-pink: #f2675b;
$brand-pink: #ff6759;
$brand-dark-cyan: #57d3c7;
$brand-cyan: #11d3cb;
$brand-light-cyan: #91e2d6;
$brand-grey: #b2b2b2;
$brand-light-grey: #e3e3e3;
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";
@mixin placeholder {
  $placeholders: ":-webkit-input" ":-moz" "-moz" "-ms-input";
  @each $placeholder in $placeholders {
    &:#{$placeholder}-placeholder {
      @content;
    }
  }
}
// body {
//   padding-top: 70px;
// }
// over-ride
h1,h2,h3,h4,h5,h6,button,img,a,span,p,ul,ol,figure,input,select,textarea,label:focus {
  outline: none !important;
}
img.loading {
  text-align: center;
  opacity: 1;
  width: 32px !important;
  height: auto;
}
img {
  opacity: 0;
  @include transition(all 300ms ease);
}
img.doneLoading {
  opacity: 1;
}
nav li:hover .dropdown-menu {
  display: block;
}
a, .btn {
  cursor: pointer;
  @include transition(all ease 300ms);
}
a:hover {
  text-decoration: none;
}
//bootstrap forms
.input-lg,
.input-group-lg > .form-control,
.input-group-lg > .input-group-addon,
.input-group-lg > .input-group-btn > .btn,
.btn,
.form-control {
  border-radius: 0;
  @include box-shadow(none);
}
.form-control:focus {
  border-color: $brand-primary;
  outline: 0;
  @include box-shadow(none);
}
//bootstrap forms
// fonts
@font-face {
  font-family: "AvenirLTStd-Black";
  src: url('../fonts/AvenirLTStd-Black.otf');
}
@font-face {
  font-family: "AvenirLTStd-Heavy";
  src: url('../fonts/AvenirLTStd-Heavy.otf');
}
@font-face {
  font-family: "AvenirLTStd-Light";
  src: url('../fonts/AvenirLTStd-Light.otf');
}
@font-face {
  font-family: "AvenirLTStd-Medium";
  src: url('../fonts/AvenirLTStd-Medium.otf');
}
@font-face {
  font-family: "AvenirLTStd-Roman";
  src: url('../fonts/AvenirLTStd-Roman.otf');
}
@font-face {
  font-family: "djb";
  src: url('../fonts/djb.ttf');
}
@font-face {
  font-family: "JennaSue";
  src: url('../fonts/JennaSue.ttf');
}
// end fonts
// classes
.avenir-black {
  font-family: "AvenirLTStd-Black";
}
.avenir-heavy {
  font-family: "AvenirLTStd-Heavy";
}
.avenir-heavy {
  font-family: "AvenirLTStd-Heavy";
}
.avenir-light {
  font-family: "AvenirLTStd-Light";
}
.avenir-medium {
  font-family: "AvenirLTStd-Medium";
}
.avenir-roman {
  font-family: "AvenirLTStd-Roman";
}
.djb-font {
  font-family: "djb";
}
.jenna-font {
  font-family: "JennaSue";
}
textarea {
  resize: none;
}
.pointer {
  cursor: pointer;
}
.block {
  display: block;
}
.inline-block {
  display: inline-block;
}
.m-center {
  margin: 0 auto;
}
.m-clear {
  margin: 0;
}
.relate {
  position: relative;
}
.get-center {
  @include position(absolute, 50% null null 50%);
  @include transform(translate(-50%,-50%));
}
.full-width {
  width: 100%;
}
.row-flex {
  @include display(flex);
}
.col-flex {
  @include flex(1);
}
.font-lighter {
  font-weight: 100;
}
.font-light {
  font-weight: 300;
}
.font-medium {
  font-weight: 500;
}
.font-bold {
  font-weight: 700;
}
.v-top {
  vertical-align: top;
}
.v-mid {
  vertical-align: middle;
}
.mt5 {
  margin-top: 5px;
}
.mr5 {
  margin-right: 5px;
}
.mb5 {
  margin-bottom: 5px;
}
.ml5 {
  margin-left: 5px;
}
.mt10 {
  margin-top: 10px;
}
.mr10 {
  margin-right: 10px;
}
.mb10 {
  margin-bottom: 10px;
}
.ml10 {
  margin-left: 10px;
}
.mt20 {
  margin-top: 20px;
}
.mr20 {
  margin-right: 20px;
}
.mb20 {
  margin-bottom: 20px;
}
.ml20 {
  margin-left: 10px;
}
.pad-zero {
  padding: 0;
}
.col-pad-zero {
  padding: 0;
}
.pt10 {
  padding-top: 10px;
}
.pr10 {
  padding-right: 10px;
}
.pb10 {
  padding-bottom: 10px;
}
.pl10 {
  padding-left: 10px;
}
.color-white {
  color: #fff;
}
.fz12 {
  font-size: 12px;
}
.fz13 {
  font-size: 13px;
}
// end classes
.color-dark-blue {
  color: $brand-dark-blue;
}
.color-blue {
  color: $brand-blue;
}
.color-dark-pink {
  color: $brand-dark-pink;
}
.color-pink {
  color: $brand-pink;
}
.color-dark-cyan {
  color: $brand-dark-cyan;
}
.color-cyan {
  color: $brand-cyan;
}
.color-light-cyan {
  color: $brand-light-cyan;
}
.color-grey {
  color: $brand-grey;
}
.color-light-grey {
  color: $brand-light-grey;
}
.btn-more {
  padding: 8px 34px;
}
// btn classes
// end btn classes
// bg classes
.bg-white {
  background-color: #fff;
}
.bg-dark-blue {
  background-color: $brand-dark-blue;
}
.bg-blue {
  background-color: $brand-blue;
}
.bg-dark-pink {
  background-color: $brand-dark-pink;
}
.bg-pink {
  background-color: $brand-pink;
}
.bg-dark-cyan {
  background-color: $brand-dark-cyan;
}
.bg-cyan {
  background-color: $brand-cyan;
}
.bg-light-cyan {
  background-color: $brand-light-cyan;
}
// end bg classes
// btn classes
.btn {
  border-radius: 6px;
  @include transition(all 300ms linear);
  &:hover {
    @include transition(all 300ms linear);
  }
}
.btn-dark-pink {
  @include button-variant( white, $brand-dark-pink, $brand-dark-blue);
}
.btn-dark-blue {
  @include button-variant( white, $brand-dark-blue, $brand-dark-blue);
}
.btn-blue-outline {
  @include button-variant( $brand-blue, white, $brand-blue);
  &:hover {
    @include button-variant ( white, $brand-dark-pink, $brand-blue);
  }
}
// end btn classes
/* Start writing sass here */
.content {
  min-height: 550px;
  background: url('../img/back-content.jpg') no-repeat;
  background-size: cover;
}
// header
header {
  padding: 10px 0px 0px;
}
.navbar {
  border: none;
  border-radius: 0;
  margin: 0;
}
.hamburger {
  margin: 10px 0;
  span {
    @include size(22px,3px);
    margin-bottom: 4px;
    display: block;
    background-color: $brand-pink;
  }
}
.search {
  margin: 2px 10px;
  input {
    width: 355px;
    border-top: none;
    border-right: none;
    border-bottom: 2px solid #17213e;
    border-left: none;
    background-color: transparent;
    color: #fff;
    font-size: 13px;
    &:focus {
      outline: none;
      border-color: #17213e;
    }
  }
}
.user-detail {
  .list-inline {
    margin: 0;
  }
  .list-inline > li {
    padding: 0 15px;
    font-size: 16px;
  }
  a { color: #80879a; }
}
// end header
// Set Profile process
.verification-complete, .nationality, .city, .gender, .upload-profile {
  padding: 30px 20px;
  box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.7);
  h3 {
    margin: 0 0 25px;
    font-size: 20px;
  }
}
.button-panel {
  margin-top: 80px;
}
// nation tab
.nation-select {
  [type="radio"]:not(:checked),
[type="radio"]:checked {
  position: absolute;
  left: -9999px;
}
[type="radio"]:not(:checked) + label,
[type="radio"]:checked + label {
  width: 100%;
  position: relative;
  margin: 0;
  cursor: pointer;
}

/* radio aspect */
[type="radio"]:not(:checked) + label:before,
[type="radio"]:checked + label:before {
  content: '';
  @include square(20px);
  position: absolute;
  right: 0;
  top: 2px;
  background-color: #d1d1d1;
  color: #f6f6f6;
  @include transition(all 300ms linear);
}
/* checked mark aspect */
[type="radio"]:not(:checked) + label:after,
[type="radio"]:checked + label:after {
  content: '\f00c';
  font: normal normal normal 14px/1 FontAwesome;
  position: absolute;
  top: 6px;
  right: 2px;
  font-size: 15px;
  line-height: 0.8;
  @include transition(all 300ms linear);
}
/* checked mark aspect changes */
[type="radio"]:not(:checked) + label:after {
  opacity: 1;
  transform: scale(1);
}
[type="radio"]:checked + label:before {
  background-color: $brand-pink;
  color: #fff;
  @include transition(all 300ms linear);
}
}
.select-your-nation {
  min-height: 200px;
  position: relative;
  .search-nation {
    position: relative;
    &:before,&:after {
      content: "";
      @include size(1px,15px);
      position: absolute;
      bottom: 0;
      background-color: $brand-pink;
    }
    &:before { left: 0; }
    &:after { right: 0; }
  }
  input {
    border-top: none;
    border-right: none;
    border-bottom: 1px solid $brand-pink;
    border-left: none;
    &:focus {
      border-color: $brand-pink;
    }
  }
  ::-webkit-scrollbar {
    width: 6px;
    padding: 2px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #fff;
}
  ul {
    width: 100%;
    height: 220px;
    padding: 10px 0 0;
    position: absolute;
    overflow-x: hidden;
    overflow-y: scroll;
    list-style-type: none;
    text-align: left;
    li {
      padding: 10px;
      border-bottom: 2px solid $brand-dark-blue;
      color: #fff;
      span { font-size: 16px; }
      &:nth-child(even){
        background-color: #969bab;
      }
      &:nth-child(odd) {
        background-color: #565f79;
      }
    }
  }
}
// nation tab end
// gender
.male, .female {
  @include square(120px);
  border-radius: 100%;
  background-color: #c2c2c2;
  overflow: hidden;
  @include transition(all 300ms linear);
  img {
    height: 100px;
    margin: 20px auto 0;
  }
  span {
    @include position(relative, -17px null null 2px);
  }
}
// gender end
.cropArea {
  @include size(100%,350px);
  overflow: hidden;
}
.getfile {
  @include square(100%);
  position: absolute;
  top: 0;
  opacity: 0;
}
.upload-btn {
  margin: 15px 0;
  button {
    padding: 6px 20px;
  }
}
.active-gender.male {
  background-color: $brand-pink;
  @include transition(all 300ms linear);
}
.active-gender.female {
  background-color: $brand-cyan;
  @include transition(all 300ms linear);
}

// end set Profile process
// holiday step
.holiday-indicators {
  ul {
    padding: 0;
    list-style-type: none;
    text-align: center;
    li {
      padding: 0px 3px;
      display: inline-block;
    }
    a {
      @include square(10px);
      border: 1px solid $brand-blue;
      border-radius: 100%;
      display: inline-block;
      @include transition(all 300ms linear);
    }
  }
  .one, .two, .three, .four {
    background-color: $brand-blue;
    @include transition(all 300ms linear);
  }
}
.select-holiday {
  background: url('../img/grey-half.png') no-repeat 50% 0;
  cursor: pointer;
  @include transition(background 300ms linear);
  &:hover {
    background: url('../img/green-half.png') no-repeat 50% 0;
    @include transition(background 300ms linear);
  }
  figcaption { font-size: 16px; }
}
.active-holiday {
  background: url('../img/green-half.png') no-repeat 50% 0;
  @include transition(background 300ms linear);
}
.holiday-imgholder {
  min-height: 83px;
}
.holiday-row {
  margin: 25px 0px 40px;
}
.holiday-step1, .holiday-step2, .holiday-step3, .holiday-step4 {
  padding: 13px 20px;
  h3 {
    margin: 15px 0 10px;
    font-size: 20px;
  }
}
.usually-go {
  margin-bottom: 35%;
}
.travel-row {
  margin: 20px 0 30px;
}
// holiday step end

// profile
  .profile-main {
    max-width: 1400px;
    margin: 0 auto;
  }
  .profile-photo-section {
    width: 300px;
    margin: 0 auto -12px;
  }
  .profile-more-detail {
    padding: 30px 30px 20px;
    border-radius: 6px;
    background-color: rgba(255,255,255,0.8);
  }
  .profile-imgholder {
    @include size(135px,145px);
    border: 3px solid #fff;
    border-radius: 55px;
    margin: 0 auto -15px;
    background: url('../img/profile-main.png') no-repeat 50% 50%;
  }
  .flag {
    position: absolute;
    right: -15px;
    bottom: 0;
  }
  .wave {
    position: absolute;
    top: 50%;
    left: -40px;
    @include transform(translateY(-50%));
  }
  .user-travel-detail {
    padding: 20px 40px;
    background: url('../img/travel-detail-bg.png') no-repeat;
    background-size: 100% 100%;
    text-align: center;
    ul {
      padding: 0;
      margin: 0;
      li {
        padding: 0px 25px;
        display: inline-block;
        list-style-type: none;
        border-right: 1px solid $brand-dark-blue;
        &:last-child { border-right: none; }
      }
    }
  }
  .travel-inside {
    font-size: 16px;
  }
  .all-profile-detail {
    padding: 0px 25px;
  }
  .more-about-me {
    padding: 25px 20px 20px;
    margin-top: -5px;
    background-color: rgba(255,255,255,0.8);
    p { font-size: 18px; }
    .get-more {
      font-size: 20px;
    }
    .more-detail {
      margin-bottom: 30px;
    }
  }
  .vector-map {
    padding: 30px;
    max-height: 600px;
  }
// profile end

@import "fancybox-override";
