@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/mixins";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap-sprockets";
@import "../bower_components/flexslider/flexslider.css";
@import "../bower_components/font-awesome/css/font-awesome.min.css";
@import "../bower_components/fancyBox/source/jquery.fancybox.css";
@import "../bower_components/swiper/dist/css/swiper.min.css";
@import "../bower_components/ng-img-crop/compile/minified/ng-img-crop.css";
@import "../bower_components/angular-mappy/build/angular-mappy.css";
@import "../bower_components/ng-scrollbar/dist/ng-scrollbar.min.css";
@import "../bower_components/bourbon/app/assets/stylesheets/bourbon";
/* Bootstrap Variables Goes Here */
$brand-dark-blue: #2c3757;
$brand-blue: #2d3655;
$brand-dark-pink: #f2675b;
$brand-pink: #ff6759;
$brand-dark-cyan: #57d3c7;
$brand-cyan: #11d3cb;
$brand-light-cyan: #91e2d6;
$brand-grey: #b2b2b2;
$brand-light-grey: #a0a0a0;
$brand-lighter-grey: #e3e3e3;
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";
@mixin placeholder {
  $placeholders: ":-webkit-input" ":-moz" "-moz" "-ms-input";
  @each $placeholder in $placeholders {
    &:#{$placeholder}-placeholder {
      @content;
    }
  }
}
// body {
//   padding-top: 70px;
// }
// over-ride
h1,
h2,
h3,
h4,
h5,
h6,
button,
img,
a,
span,
p,
ul,
ol,
figure,
input,
select,
textarea,
label:focus {
  outline: none !important;
}
img.loading {
  text-align: center;
  opacity: 1;
  width: 32px !important;
  height: auto;
}
img {
  opacity: 0;
  @include transition(all 300ms ease);
}
img.doneLoading {
  opacity: 1;
}
nav li:hover .dropdown-menu {
  display: block;
}
a,
.btn {
  cursor: pointer;
  @include transition(all ease 300ms);
}
a:hover {
  text-decoration: none;
}
//bootstrap forms
.input-lg,
.input-group-lg > .form-control,
.input-group-lg > .input-group-addon,
.input-group-lg > .input-group-btn > .btn,
.btn,
.form-control {
  border-radius: 0;
  @include box-shadow(none);
}
.form-control:focus {
  border-color: $brand-primary;
  outline: 0;
  @include box-shadow(none);
}
ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.circle-rounded {
  @include size(45px,48px);
  border-radius: 18px;
  display: inline-block;
  line-height: 45px;
  text-align: center;
}
.flexslider {
  border: none;
  margin: 0;
}
//bootstrap forms
// fonts
@font-face {
  font-family: "AvenirLTStd-Black";
  src: url('../fonts/AvenirLTStd-Black.otf');
}
@font-face {
  font-family: "AvenirLTStd-Heavy";
  src: url('../fonts/AvenirLTStd-Heavy.otf');
}
@font-face {
  font-family: "AvenirLTStd-Light";
  src: url('../fonts/AvenirLTStd-Light.otf');
}
@font-face {
  font-family: "AvenirLTStd-Medium";
  src: url('../fonts/AvenirLTStd-Medium.otf');
}
@font-face {
  font-family: "AvenirLTStd-Roman";
  src: url('../fonts/AvenirLTStd-Roman.otf');
}
@font-face {
  font-family: "djb";
  src: url('../fonts/djb.ttf');
}
@font-face {
  font-family: "JennaSue";
  src: url('../fonts/JennaSue.ttf');
}
// end fonts
// classes
.avenir-black {
  font-family: "AvenirLTStd-Black";
}
.avenir-heavy {
  font-family: "AvenirLTStd-Heavy";
}
.avenir-light {
  font-family: "AvenirLTStd-Light";
}
.avenir-medium {
  font-family: "AvenirLTStd-Medium";
}
.avenir-roman {
  font-family: "AvenirLTStd-Roman";
}
.djb-font {
  font-family: "djb";
}
.jenna-font {
  font-family: "JennaSue";
}
textarea {
  resize: none;
}
.pointer {
  cursor: pointer;
}
.block {
  display: block;
}
.inline-block {
  display: inline-block;
}
.m-center {
  margin: 0 auto;
}
.m-clear {
  margin: 0;
}
.relate {
  position: relative;
}
.get-center {
  @include position(absolute, 50% null null 50%);
  @include transform(translate(-50%,-50%));
}
.full-width {
  width: 100%;
}
.row-flex {
  @include display(flex);
}
.col-flex {
  @include flex(1);
}
.font-lighter {
  font-weight: 100;
}
.font-light {
  font-weight: 300;
}
.font-medium {
  font-weight: 500;
}
.font-bold {
  font-weight: 700;
}
.v-top {
  vertical-align: top;
}
.v-mid {
  vertical-align: middle;
}
.mt5 {
  margin-top: 5px;
}
.mr5 {
  margin-right: 5px;
}
.mb5 {
  margin-bottom: 5px;
}
.ml5 {
  margin-left: 5px;
}
.mt10 {
  margin-top: 10px;
}
.mr10 {
  margin-right: 10px;
}
.mb10 {
  margin-bottom: 10px;
}
.ml10 {
  margin-left: 10px;
}
.mt20 {
  margin-top: 20px;
}
.mr20 {
  margin-right: 20px;
}
.mb20 {
  margin-bottom: 20px;
}
.ml20 {
  margin-left: 10px;
}
.pad-zero {
  padding: 0;
}
.col-pad-zero {
  padding: 0;
}
.pt10 {
  padding-top: 10px;
}
.pr10 {
  padding-right: 10px;
}
.pb10 {
  padding-bottom: 10px;
}
.pl10 {
  padding-left: 10px;
}
.pt20 {
  padding-top: 20px;
}
.pr20 {
  padding-right: 20px;
}
.pb20 {
  padding-bottom: 20px;
}
.pl20 {
  padding-left: 20px;
}
.color-white {
  color: #fff;
}
.fz12 {
  font-size: 12px;
}
.fz13 {
  font-size: 13px;
}
// end classes
.color-dark-blue {
  color: $brand-dark-blue;
}
.color-blue {
  color: $brand-blue;
}
.color-dark-pink {
  color: $brand-dark-pink;
}
.color-pink {
  color: $brand-pink;
}
.color-dark-cyan {
  color: $brand-dark-cyan;
}
.color-cyan {
  color: $brand-cyan;
}
.color-light-cyan {
  color: $brand-light-cyan;
}
.color-grey {
  color: $brand-grey;
}
.color-light-grey {
  color: $brand-light-grey;
}
.color-lighter-grey {
  color: $brand-lighter-grey;
}
.btn-more {
  padding: 8px 34px;
}
// btn classes
// end btn classes
// bg classes
.bg-white {
  background-color: #fff;
}
.bg-dark-blue {
  background-color: $brand-dark-blue;
}
.bg-blue {
  background-color: $brand-blue;
}
.bg-dark-pink {
  background-color: $brand-dark-pink;
}
.bg-pink {
  background-color: $brand-pink;
}
.bg-dark-cyan {
  background-color: $brand-dark-cyan;
}
.bg-cyan {
  background-color: $brand-cyan;
}
.bg-light-cyan {
  background-color: $brand-light-cyan;
}
// end bg classes
// btn classes
.btn {
  border-radius: 6px;
  @include transition(all 300ms linear);
  &:hover {
    @include transition(all 300ms linear);
  }
}
.btn-dark-pink {
  @include button-variant( white, $brand-dark-pink, $brand-dark-blue);
}
.btn-pink {
  @include button-variant( white, $brand-dark-pink, $brand-dark-pink);
}
.btn-grey-pink {
  @include button-variant( white, $brand-grey, $brand-dark-blue);
  &:hover {
    @include button-variant( white, $brand-dark-pink, $brand-dark-blue);
  }
}
.btn-dark-blue {
  @include button-variant( white, $brand-dark-blue, $brand-dark-blue);
}
.btn-blue-outline {
  @include button-variant( $brand-blue, white, $brand-blue);
  &:hover {
    @include button-variant ( white, $brand-dark-pink, $brand-blue);
  }
}
// end btn classes
/* Start writing sass here */
.content {
  min-height: 550px;
  background: url('../img/back-content.jpg') no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
// header
header {
  padding: 10px 0 0;
}
.navbar {
  border: none;
  border-radius: 0;
  margin: 0;
}
.hamburger {
  margin: 10px 0;
  span {
    @include size(22px,3px);
    margin-bottom: 4px;
    display: block;
    background-color: $brand-pink;
  }
}
.search {
  margin: 2px 10px;
  input {
    width: 355px;
    border-top: none;
    border-right: none;
    border-bottom: 2px solid #17213e;
    border-left: none;
    background-color: transparent;
    color: #fff;
    font-size: 13px;
    &:focus {
      outline: none;
      border-color: #17213e;
    }
  }
}
.user-detail {
  .list-inline {
    margin: 0;
  }
  .list-inline > li {
    padding: 0 15px;
    font-size: 16px;
  }
  a {
    color: #80879a;
  }
}
.user-img {
  width: 40px;
  height: 42px;
  border: 2px solid #fff;
  border-radius: 15px;
  overflow: hidden;
}
// end header
// Set Profile process
.verification-complete,
.nationality,
.city,
.gender,
.upload-profile {
  padding: 30px 20px;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.7);
  h3 {
    margin: 0 0 25px;
    font-size: 20px;
  }
}
.button-panel {
  margin-top: 80px;
}
// nation tab
.nation-select {
  [type="radio"]:not(:checked),
  [type="radio"]:checked {
    position: absolute;
    left: -9999px;
  }
  [type="radio"]:not(:checked) + label,
  [type="radio"]:checked + label {
    width: 100%;
    position: relative;
    margin: 0;
    cursor: pointer;
  }
  /* radio aspect */
  [type="radio"]:not(:checked) + label:before,
  [type="radio"]:checked + label:before {
    content: '';
    @include square(20px);
    position: absolute;
    right: 0;
    top: 2px;
    background-color: #d1d1d1;
    color: #f6f6f6;
    @include transition(all 300ms linear);
  }
  /* checked mark aspect */
  [type="radio"]:not(:checked) + label:after,
  [type="radio"]:checked + label:after {
    content: '\f00c';
    font: normal normal normal 14px/1 FontAwesome;
    position: absolute;
    top: 6px;
    right: 2px;
    font-size: 15px;
    line-height: 0.8;
    @include transition(all 300ms linear);
  }
  /* checked mark aspect changes */
  [type="radio"]:not(:checked) + label:after {
    opacity: 1;
    transform: scale(1);
  }
  [type="radio"]:checked + label:before {
    background-color: $brand-pink;
    color: #fff;
    @include transition(all 300ms linear);
  }
}
.custom-checkbox {
  [type="checkbox"]:not(:checked),
  [type="checkbox"]:checked {
    position: absolute;
    left: -9999px;
  }
  [type="checkbox"]:not(:checked) + label,
  [type="checkbox"]:checked + label {
    width: 100%;
    position: relative;
    margin: 0;
    cursor: pointer;
  }
  /* checkbox aspect */
  [type="checkbox"]:not(:checked) + label:before,
  [type="checkbox"]:checked + label:before {
    content: '';
    @include square(20px);
    border: 1px solid $brand-cyan;
    border-radius: 4px;
    display: inline-block;
    background-color: transparent;
    @include transition(all 300ms linear);
  }
  /* checked mark aspect */
  [type="checkbox"]:not(:checked) + label:after,
  [type="checkbox"]:checked + label:after {
    content: '\f00c';
    font: normal normal normal 14px/1 FontAwesome;
    @include square(20px);
    color: #b7b7b7;
    position: absolute;
    top: 0;
    left: 0;
    line-height: 20px;
    text-align: center;
    @include transition(all 300ms linear);
  }
  [type="checkbox"]:checked + label:after {
    color: $brand-pink;
    @include transition(all 300ms linear);
  }
}
// custom select
.custom-select {
  position: relative;
  border-radius: 4px;
  overflow: hidden;
  z-index: 999;
  select {
    @include appearance(none);
    border: none;
    width: 100%;
    background-color: transparent;
    outline: 0;
    color: white;
    cursor: pointer;
    height: 40px;
    position: relative;
    z-index: 9999;
  }
  &:after {
    font: normal normal normal 14px/1 FontAwesome;
    content: "\f0d7";
    height: 40px;
    width: 28px;
    color: white;
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
  }
}
// custom select end
.custom-checkbox-heart {
  @extend .custom-checkbox;
  [type="checkbox"]:not(:checked) + label:after,
  [type="checkbox"]:checked + label:after {
    content: "\f004";
    color: #b7b7b7;
  }
  [type="checkbox"]:checked + label:after {
    color: $brand-blue;
  }
}
.select-your-nation {
  min-height: 200px;
  position: relative;
  .search-nation {
    position: relative;
    &:before,
    &:after {
      content: "";
      @include size(1px,15px);
      position: absolute;
      bottom: 0;
      background-color: $brand-pink;
    }
    &:before {
      left: 0;
    }
    &:after {
      right: 0;
    }
  }
  input {
    border-top: none;
    border-right: none;
    border-bottom: 1px solid $brand-pink;
    border-left: none;
    &:focus {
      border-color: $brand-pink;
    }
  }
   ::-webkit-scrollbar {
    width: 6px;
    padding: 2px;
  }
   ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  }
   ::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #fff;
  }
  ul {
    width: 100%;
    height: 220px;
    padding: 10px 0 0;
    position: absolute;
    overflow-x: hidden;
    overflow-y: scroll;
    list-style-type: none;
    text-align: left;
    li {
      padding: 10px;
      border-bottom: 2px solid $brand-dark-blue;
      color: #fff;
      span {
        font-size: 16px;
      }
      &:nth-child(even) {
        background-color: #969bab;
      }
      &:nth-child(odd) {
        background-color: #565f79;
      }
    }
  }
}
// nation tab end
// gender
.male,
.female {
  @include square(120px);
  border-radius: 100%;
  background-color: #c2c2c2;
  overflow: hidden;
  @include transition(all 300ms linear);
  img {
    height: 100px;
    margin: 20px auto 0;
  }
  span {
    @include position(relative, -17px null null 2px);
  }
}
// gender end
.cropArea {
  @include size(100%,350px);
  overflow: hidden;
}
.getfile {
  @include square(100%);
  position: absolute;
  top: 0;
  opacity: 0;
}
.upload-btn {
  margin: 15px 0;
  button {
    padding: 6px 20px;
  }
}
.active-gender.male {
  background-color: $brand-pink;
  @include transition(all 300ms linear);
}
.active-gender.female {
  background-color: $brand-cyan;
  @include transition(all 300ms linear);
}
// end set Profile process
// holiday step
.holiday-indicators {
  ul {
    padding: 0;
    list-style-type: none;
    text-align: center;
    li {
      padding: 0 3px;
      display: inline-block;
    }
    a {
      @include square(10px);
      border: 1px solid $brand-blue;
      border-radius: 100%;
      display: inline-block;
      @include transition(all 300ms linear);
    }
  }
  .one,
  .two,
  .three,
  .four {
    background-color: $brand-blue;
    @include transition(all 300ms linear);
  }
}
.select-holiday {
  background: url('../img/grey-half.png') no-repeat 50% 0;
  cursor: pointer;
  @include transition(background 300ms linear);
  &:hover {
    background: url('../img/green-half.png') no-repeat 50% 0;
    @include transition(background 300ms linear);
  }
  figcaption {
    font-size: 16px;
  }
}
.active-holiday {
  background: url('../img/green-half.png') no-repeat 50% 0;
  @include transition(background 300ms linear);
}
.holiday-imgholder {
  min-height: 83px;
}
.holiday-row {
  margin: 25px 0 40px;
}
.holiday-step1,
.holiday-step2,
.holiday-step3,
.holiday-step4 {
  padding: 13px 20px;
  h3 {
    margin: 15px 0 10px;
    font-size: 20px;
  }
}
.usually-go {
  margin-bottom: 35%;
}
.travel-row {
  margin: 20px 0 30px;
}
// holiday step end
// profile
.profile-main {
  max-width: 1400px;
  margin: 0 auto;
}
.profile-photo-section {
  width: 300px;
  margin: 45px auto -12px;
}
.profile-more-detail {
  padding: 30px 30px 20px;
  border-radius: 6px;
  background-color: rgba(255,255,255,0.8);
}
.profile-imgholder {
  @include size(135px,145px);
  border: 3px solid #fff;
  border-radius: 55px;
  margin: 0 auto -15px;
  overflow: hidden;
  box-shadow: 0 2px 3px #636363;
  // background: url('../img/profile-main.png') no-repeat 50% 50%;
}
.flag {
  position: absolute;
  right: 65px;
  bottom: 0;
}
.wave {
  position: absolute;
  top: 50%;
  left: 42px;
  @include transform(translateY(-50%));
}
.user-travel-detail {
  padding: 20px 40px;
  background: url('../img/travel-detail-bg.png') no-repeat;
  background-size: 100% 100%;
  text-align: center;
  ul {
    padding: 0;
    margin: 0;
    li {
      padding: 0 25px;
      display: inline-block;
      list-style-type: none;
      border-right: 1px solid $brand-dark-blue;
      &:last-child {
        border-right: none;
      }
    }
  }
}
.travel-inside {
  font-size: 16px;
}
.all-profile-detail {
  padding: 0 25px;
}
.more-about-me {
  padding: 25px 20px 20px;
  margin-top: -5px;
  background-color: rgba(255,255,255,0.8);
  p {
    font-size: 18px;
  }
  .get-more {
    font-size: 20px;
  }
  .more-detail {
    margin-bottom: 30px;
    img {
      @include transition(all 300ms linear);
    }
  }
  .abt-me {
    @include transition(all 300ms linear);
    @include transform(rotate(180deg));
  }
}
.vector-map {
  padding: 30px;
  max-height: 550px;
  mappy svg {
    max-height: 500px;
  }
}
.vector-map-full {
  max-height: 750px;
  mappy svg {
    max-height: 750px;
  }
}
// visited list
.wish-country-visit {
  padding: 20px 15px 0 0;
}
.visited-country-list {
  li {
    padding: 10px 0;
    border-top: 1px solid #ebebeb;
  }
  .get-right {
    display: inline-block;
  }
}
.visit-input {
  padding: 8px 18px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 15px 15px 10px 0;
}
.country-list {
  .country-name {
    width: 220px;
    font-size: 16px;
    vertical-align: top;
  }
}
// travel life
.travelled-imgholder {
  @include size(394px,440px);
  overflow: hidden;
}
.onway-imgholder {
  @include size(394px,330px);
  overflow: hidden;
  img {
    min-height: 100%;
  }
}
.travel-life-part {
  ul {
    padding: 0;
    margin: 0;
    li {
      display: inline-block;
      list-style-type: none;
    }
  }
}
// tabs
.profile-tabs {
  padding: 0 10px;
  position: relative;
  .first-strip,
  .sec-strip,
  .third-strip,
  .fourth-strip {
    width: 98%;
    height: 1px;
    position: absolute;
    left: 16px;
    bottom: 0;
    background-color: $brand-grey;
  }
  .sec-strip {
    bottom: 4px;
  }
  .third-strip {
    bottom: 8px;
  }
  ul {
    @include display(flex);
    li {
      @include flex(1);
      &:nth-child(1) {
        z-index: 4;
      }
      &:nth-child(2) {
        .tab-heading {
          padding: 15px 20px;
          margin: 5px 0 0 -18px;
          background: -webkit-linear-gradient(left, #b8544b, #e85a4d, #f05b4d);
          background: -o-linear-gradient(left, #b8544b, #e85a4d, #f05b4d);
          background: linear-gradient(to right, #b8544b, #e85a4d, #f05b4d);
          z-index: 3;
        }
      }
      &:nth-child(3) {
        .tab-heading {
          padding: 11px 20px;
          margin: 9px 0 0 -18px;
          background: -webkit-linear-gradient(left, #b8544b, #e85a4d, #f05b4d);
          background: -o-linear-gradient(left, #b8544b, #e85a4d, #f05b4d);
          background: linear-gradient(to right, #b8544b, #e85a4d, #f05b4d);
          z-index: 2;
        }
      }
      &:nth-child(4) {
        .tab-heading {
          padding: 6px 20px;
          margin: 15px 0 0 -30px;
          background: -webkit-linear-gradient(left, #b8544b, #e85a4d, #f05b4d);
          background: -o-linear-gradient(left, #b8544b, #e85a4d, #f05b4d);
          background: linear-gradient(to right, #b8544b, #e85a4d, #f05b4d);
          z-index: 1;
        }
      }
    }
  }
  .tab-heading {
    padding: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: block;
    background-color: $brand-pink;
    color: #fff;
    font-size: 16px;
    text-align: center;
    position: relative;
    z-index: 1;
  }
}
// tabs end
.add-journey {
  position: relative;
  span {
    @include square(30px);
    display: inline-block;
    border-radius: 100%;
    line-height: 30px;
    background-color: $brand-pink;
    color: #fff;
    text-align: center;
    @include transition(all 300ms linear);
    i {
      @include transition(all 300ms linear);
    }
  }
  .close-more {
    background-color: $brand-grey;
    @include transition(all 300ms linear);
    i {
      @include transform(rotate(45deg));
      @include transition(all 300ms linear);
    }
  }
}
.add-more-journey {
  width: 210px;
  padding: 15px 20px;
  border-radius: 12px;
  border: 1px solid $brand-blue;
  background-color: $brand-pink;
  @include position(absolute,-15px 35px null null);
  z-index: 10;
  &:after {
    content: "";
    border-top: 9px solid transparent;
    border-right: 9px solid transparent;
    border-bottom: 9px solid transparent;
    border-left: 9px solid $brand-pink;
    @include position(absolute, 22px -18px null null);
  }
  &:before {
    content: "";
    border-top: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid $brand-blue;
    @include position(absolute, 21px -20px null null);
  }
  li {
    padding: 8px 0;
    border-bottom: 1px solid $brand-blue;
    &:last-child {
      border: none;
    }
    a {
      color: #fff;
    }
  }
}
.travel-local-life {
  padding: 20px;
}
.country-visited {
  @include position(absolute, -10px 10px null null);
  img {
    margin-left: -10px;
  }
  span {
    margin-left: -18px;
    display: inline-block;
    font-size: 19px;
    color: #fcfcfc;
    text-shadow: 1px 1px 1px #000;
    vertical-align: middle;
  }
}
.journey-tag-holder {
  width: 100%;
  padding: 0 10px;
  position: absolute;
  bottom: 0;
  background-color: rgba(0,0,0,0.7);
  color: #fff;
  a {
    color: #fff;
  }
  h4,
  h3 {
    padding: 15px 0;
  }
}
.journey-type {
  vertical-align: top;
  li {
    padding: 0 5px;
  }
}
.journey-cost {
  display: inline-block;
  vertical-align: top;
  span {
    margin: 0 20px;
    font-size: 15px;
  }
}
.days-spent {
  @include size(45px,48px);
  border-radius: 18px;
  margin-bottom: -15px;
  display: inline-block;
  background-color: $brand-dark-blue;
  p {
    padding-top: 8px;
    font-size: 10px;
    text-align: center;
    span {
      font-size: 18px;
      line-height: 18px;
    }
  }
}
.journey-collection {
  li {
    padding: 0 10px;
    border-right: 1px solid #fff;
    line-height: 12px;
    &:first-child {
      padding: 0 10px 0 0;
    }
  }
}
.social-field-types {
  padding: 0 10px;
}
.user-social-item {
  padding: 12px 0 20px;
  border-bottom: 1px solid $brand-grey;
  li {
    padding: 0 10px;
    &:first-child {
      padding: 0 10px 0 0;
      i {
        font-size: 18px;
        vertical-align: bottom;
      }
    }
  }
}
.social-likes-reviews {
  padding: 15px 0;
  font-size: 12px;
}
// progress bar
.level1,
.level2,
.level3,
.level4,
.level5 {
  span {
    display: block;
    color: $brand-light-grey;
    font-size: 15px;
  }
  .progress-range {
    margin: 10px 0 0 -8px;
  }
}
.level1 {
  .name {
    margin: 0 0 10px -13px;
  }
}
.level2 {
  .name {
    margin: 0 0 10px -40px;
  }
}
.level3 {
  .name {
    margin: 0 0 10px -42px;
  }
  .progress-range {
    margin: 5px 0 0 -10px;
  }
  .progress-bar-strip {
    background-color: #bfbfbf;
  }
}
.level4 {
  .name {
    margin: 0 0 10px -25px;
  }
  .progress-range {
    margin: 5px 0 0 -15px;
  }
  .progress-bar-strip {
    background-color: #bfbfbf;
    &:after {
      background-color: $brand-light-grey;
    }
  }
}
.last-level5 {
  position: absolute;
  top: 0;
  right: -15px;
  .progress-range {
    margin: 25px -15px 0 0;
  }
}
.active-bar {
  .name {
    color: $brand-pink;
  }
}
.last-progress-strip {
  position: relative;
  &:after {
    content: "";
    @include size(8px,17px);
    border-radius: 20px;
    @include position(absolute, 5px 10px null null);
    background-color: $brand-light-grey;
  }
}
.progress-bar-strip {
  width: 100%;
  height: 8px;
  position: relative;
  background-color: $brand-pink;
  &:after {
    content: "";
    @include size(8px,17px);
    border-radius: 20px;
    @include position(absolute, -5px null null 0);
    background-color: $brand-pink;
  }
}
.travel-progress-bar {
  margin-bottom: 30px;
}
// journey tabs
.journey-tabs {
  .btn-tab {
    @include square(18px);
    display: inline-block;
    border: 2px solid #ebebeb;
    margin-right: 5px;
    border-radius: 100px;
    background-color: #ebebeb;
    vertical-align: top;
  }
  .active-btn-travel {
    background-color: $brand-pink;
    @include transition(all 300ms linear);
  }
  .active-btn-local {
    background-color: $brand-cyan;
    @include transition(all 300ms linear);
  }
}
.travel-life-btn {
  span {
    font-size: 16px;
  }
}
// end journey tabs
// masonry tab
.masonry-detail {
  padding: 0 10px;
  margin-top: -10px;
  .masonry-brick {
    border: 1px solid #ccc;
    border-radius: 6px;
    margin: 10px;
  }
}
.travel-journey-heading {
  padding: 10px;
  color: $brand-grey;
}
// masonry end
// travel life end
// local life
.add-more-life {
  @extend .add-journey;
  span {
    background-color: $brand-dark-cyan;
    color: $brand-blue;
  }
  .add-more-journey {
    background-color: $brand-dark-cyan;
    &:after {
      border-left: 9px solid $brand-dark-cyan;
    }
  }
  .close-more {
    background-color: $brand-blue;
    color: #fff;
  }
}
.local-life-main {
  padding: 0 20px;
}
.filter-local-life {
  width: 24%;
  border-top: 1px solid $brand-lighter-grey;
  vertical-align: top;
  span {
    font-size: 17px;
    color: $brand-light-grey;
  }
  .clear-all {
    font-size: 15px;
    text-decoration: underline;
  }
  .checkin-more {
    color: $brand-blue;
    text-decoration: underline;
  }
}
.checkin-filter,
.rating-filter,
.more-filter,
.filter-month {
  padding: 15px 0;
  border-bottom: 1px solid $brand-lighter-grey;
  .custom-checkbox {
    [type="checkbox"]:not(:checked) + label:before,
    [type="checkbox"]:checked + label:before {
      margin-right: 10px;
      vertical-align: top;
    }
    [type="checkbox"]:checked + label:after {
      color: $brand-cyan;
    }
  }
  .local-filter-checkbox {
    margin: 12px 0;
    label {
      color: $brand-blue;
      font-size: 16px;
      font-weight: 400;
      text-transform: capitalize;
    }
    i {
      color: $brand-blue;
    }
  }
}
.custom-select-local {
  margin: 5px 0;
  select {
    width: 93%;
    padding: 0 10px;
    border: 1px solid $brand-dark-cyan;
    border-radius: 4px;
    color: $brand-dark-blue;
    font-size: 15px;
  }
  &.custom-select:after {
    content: "\f078";
    right: 25px;
    color: $brand-dark-cyan;
  }
}
.more-filter {
  border-bottom: none;
}
.post-local-life {
  width: 76%;
  margin-left: -4px;
  vertical-align: top;
  .post-header-view {
    padding: 15px 30px;
  }
}
.post-list-view {
  .list-inline > li {
    padding: 0 13px;
    border-right: 2px solid $brand-blue;
    line-height: 16px;
    font-size: 16px;
    img {
      margin-right: 8px;
    }
    &:last-child {
      border-right: none;
    }
  }
}
.total-post {
  font-size: 16px;
}
.local-post {
  padding: 30px 60px;
  border-right: 1px solid $brand-lighter-grey;
  border-left: 1px solid $brand-lighter-grey;
}
.scrollme {
  max-height: 890px;
}
.scroll-local-life {
  .ngsb-wrap {
    height: auto !important;
  }
  .ngsb-wrap .ngsb-scrollbar .ngsb-track {
    width: 4px;
    background: $brand-dark-cyan;
    box-shadow: none;
  }
  .ngsb-wrap .ngsb-scrollbar .ngsb-thumb-pos .ngsb-thumb {
    @include square(16px);
    background: #fff;
    border: 3px solid $brand-dark-blue;
  }
  .ngsb-wrap .ngsb-scrollbar .ngsb-thumb-pos:active {
    background-color: transparent;
  }
  .ngsb-wrap .ngsb-scrollbar {
    left: 17px;
  }
}
.post-main {
  border: 1px solid $brand-lighter-grey;
  border-radius: 6px;
  margin-bottom: 20px;
  .heading-local-life {
    padding: 10px;
    position: relative;
    font-size: 15px;
    .location {
      @include position(absolute, 10px 10px null null);
    }
  }
  .post-imgholder {
    height: 500px;
    overflow: hidden;
  }
  .post-social-type {
    padding: 0 10px;
  }
  .post-social-item {
    padding: 15px 0 25px;
    border-bottom: 1px solid $brand-lighter-grey;
    li {
      padding: 0 15px;
      display: inline-block;
      vertical-align: middle;
      i {
        font-size: 20px;
      }
      &:first-child {
        padding: 0 15px 0 0;
      }
    }
  }
  .post-socail-reviews {
    padding: 10px 0 15px;
    font-size: 15px;
  }
  .rating-localpost {
    i.glyphicon {
      margin-right: 5px;
      font: normal normal normal 14px/1 FontAwesome;
      font-size: 15px;
    }
    .glyphicon-star-empty:before {
      content: "\f006";
      color: $brand-light-grey;
    }
    .glyphicon-star:before {
      content: "\f005";
      color: $brand-cyan;
    }
  }
}
.local-post-slider {
  padding: 10px;
  .carousel {
    width: 95%;
  }
  .flexslider .slides > li {
    width: 136px !important;
  }
  .flex-direction-nav a {
    @include square(20px);
    color: transparent;
    text-shadow: none;
    &:before {
      color: $brand-blue;
      font: normal normal normal 14px/1 FontAwesome;
      font-size: 18px;
    }
  }
  .flex-direction-nav .flex-prev:before {
    content: '\f053';
  }
  .flex-direction-nav .flex-next:before {
    content: '\f054';
  }
  .flex-direction-nav .flex-prev {
    left: auto;
    right: -27px;
    opacity: 1;
    top: 45%;
  }
  .flex-direction-nav .flex-next {
    left: auto;
    right: -27px;
    opacity: 1;
    top: 65%;
  }
  .flexslider:hover {
    .flex-direction-nav .flex-prev {
      left: auto;
      right: -27px;
      opacity: 1;
      top: 45%;
    }
    .flex-direction-nav .flex-next {
      left: auto;
      right: -27px;
      opacity: 1;
      top: 65%;
    }
  }
  .related-postholder {
    @include square(136px);
    border: 1px solid $brand-cyan;
  }
}
// local life end
// profile end
// moment tab
.moments-active {
  .first-strip,
  .sec-strip,
  .third-strip,
  .fourth-strip {
    left: 14px;
  }
  ul {
    li {
      &:first-child .tab-heading {
        padding: 15px 20px;
        margin: 6px 0 0;
        @include background(linear-gradient(to left, #e85a4d, #f05b4d));
      }
      &:nth-child(2) .tab-heading {
        padding: 20px;
        margin: 0 0 0 -18px;
        background: $brand-pink;
        z-index: 4;
      }
    }
  }
}
.moment-view {
  padding: 0 40px 60px;
  min-height: 500px;
}
.month-collage {
  margin-bottom: 30px;
}
.collage-month-view {
  .moment-imgholder {
    @include square(79px);
    margin-top: -2px;
    display: inline-block;
    cursor: pointer;
    img {
      max-height: 100%;
    }
  }
}
.singleMonth-imgholder {
  @include square(169px);
  display: inline-block;
  cursor: pointer;
  img {
    max-height: 100%;
    margin: 0 auto;
  }
}
.moments-tab {
  padding: 20px;
  @extend .journey-tabs;
  .btn-view-moments {
    margin: 0 20px;
    display: inline-block;
    span {
      color: $brand-dark-blue;
      font-size: 16px;
    }
  }
  .active-btn-all {
    background-color: $brand-dark-blue;
    @include transition(all 300ms linear);
  }
}
// travel moment imgholder
.moment-travel-main {
  .moment-travel-view:nth-child(5n+1) {
    margin: 15px 22px 15px 0;
  }
  .moment-travel-view:nth-child(5n+5) {
    margin: 15px 0 15px 22px;
  }
}
.moment-travel-view {
  margin: 15px 22px;
  display: inline-block;
}
.moment-travelimgholder {
  @include square(200px);
  position: relative;
  .img-backholder {
    @include square(190px);
    @include position(absolute,15px null null 15px);
    @include transform(rotate(1deg));
    img {
      min-height: 100%;
      border: 3px solid #fff;
      border-radius: 6px;
      box-shadow: 1px 1px 5px $brand-light-grey;
    }
  }
  .img-frontholder {
    @include square(200px);
    @include position(absolute, 0 null null 0);
  }
}
.travel-info {
  margin: 20px 0 0;
  h4 {
    margin: 0 0 5px;
    font-size: 17px;
    span {
      font-size: 13px;
    }
  }
}
// travel moment imgholder end
// local moment imgholder
.moment-local-main {
  .moment-local-view:nth-child(5n+1) {
    margin: 15px 22px 15px 0;
  }
  .moment-local-view:nth-child(5n+5) {
    margin: 15px 0 15px 22px;
  }
}
.moment-local-view {
  margin: 15px 22px;
  display: inline-block;
}
.moment-localimgholder {
  @include square(200px);
  position: relative;
  .img-backholder {
    @include square(150px);
    @include position(absolute,30px null null 15px);
  }
  .img-frontholder {
    @include square(200px);
    @include position(absolute, 0 null null 0);
  }
}
// local moment imgholder end
// moment tab end
// revies tab
.review-travel-view {
  margin-top: 20px;
}
.review-all-life {
  padding: 15px 10px 25px;
  border-bottom: 1px solid $brand-lighter-grey;
  .place-name {
    font-size: 22px;
  }
}
.rate-location {
  p {
    font-style: italic;
    font-size: 17px;
  }
  .travel-life-rating {
    .star-rating {
      font-size: 20px;
      margin-right: 7px;
    }
  }
}
.reviews-active {
  .first-strip,
  .sec-strip,
  .third-strip,
  .fourth-strip {
    left: 14px;
  }
  ul {
    li {
      &:first-child .tab-heading {
        padding: 11px 20px;
        margin: 10px 0 0 2px;
        @include background(linear-gradient(to left, #e85a4d, #f05b4d));
      }
      &:nth-child(2) .tab-heading {
        padding: 15px 20px;
        margin: 6px 0 0 -18px;
        @include background(linear-gradient(to left, #e85a4d, #f05b4d));
        z-index: 4;
      }
      &:nth-child(3) .tab-heading {
        padding: 20px;
        margin: 0 0 0 -18px;
        z-index: 4;
        background: #ff6759;
      }
      &:nth-child(4) .tab-heading {
        padding: 10px 20px;
        margin: 12px 0 0 -30px;
      }
    }
  }
}
.list-travel-view {
  display: inline-block;
  vertical-align: top;
  margin-right: 37px;
  margin-bottom: 15px;
  &:nth-child(4n+4) {
    margin-right: 0;
  }
  .review-backimgholder {
    @include square(120px);
    @include position(absolute, 10px 20px null null);
    border-radius: 100%;
    overflow: hidden;
  }
  .review-frontimgholder {
    h3 {
      @include position(absolute, null null 25px 25px);
    }
  }
}
// accordion review
.city-accordion {
  margin-top: 10px;
  .panel-default > .panel-heading {
    padding: 10px 30px;
    border-radius: 0;
    border-bottom: 4px solid $brand-dark-pink;
    background-color: transparent;
    h3 {
      font-size: 18px;
      font-weight: 700;
      text-transform: uppercase;
    }
  }
  .panel-title a:focus {
    outline: none;
    text-decoration: none;
  }
  .panel {
    border: none;
    border-radius: 0;
    box-shadow: none;
  }
  .panel-body {
    border: none;
  }
  .panel-default > .panel-heading + .panel-collapse > .panel-body {
    padding: 0 30px;
    border: none;
  }
  .review-local-life {
    padding: 20px 0;
    border-bottom: 1px solid $brand-grey;
    .place-name {
      font-size: 20px;
    }
  }
  .accordion-detail:last-child .review-local-life {
    border: none;
  }
}
.heading-single-view {
  padding: 15px;
  background-color: #f3f3f3;
  text-align: center;
}
// pop-up rate
.star-post-rating {
  .fa-star:before {
    content: "\f005";
    color: $brand-pink;
  }
  .list-inline > li {
    padding: 0px 15px;
  }
}
.add-review {
  margin: 15px 0px 0px;
  font-size: 16px;
}
.modal-content {
  border: none;
  box-shadow: none;
  background-color: transparent;
}
.post-heading {
  padding: 20px 0;
  .popup-title {
    font-size: 15px;
  }
  .close {
    opacity: 1;
  }
}
.post-content-main {
  padding: 20px 20px 0 20px;
  border-radius: 8px;
  figcaption {
    margin: 10px 0 15px;
    font-size: 18px;
  }
}
.fill-post {
  text-align: center;
  textarea {
    width: 300px;
    border: none;
    margin: 15px auto 0;
    font-size: 16px;
  }
}
.submit-post {
  text-align: center;
  position: relative;
  bottom: -20px;
  button {
    padding: 6px 16px;
    font-size: 17px;
  }
}
// pop-up rate end
// accordion review end
// reviews tab end
// holiday planner tab
.holidayplanner-active {
  .first-strip,
  .sec-strip,
  .third-strip,
  .fourth-strip {
    left: 14px;
  }
  ul {
    li {
      &:nth-child(1) .tab-heading {
        padding: 9px 20px;
        margin: 11px 0 0 2px;
        @include background(linear-gradient(to left, #e85a4d, #f05b4d));
      }
      &:nth-child(2) .tab-heading {
        padding: 12px 20px;
        margin: 8px 0 0 -17px;
        z-index: 4;
        @include background(linear-gradient(to left, #e85a4d, #f05b4d));
      }
      &:nth-child(3) .tab-heading {
        padding: 15px 20px;
        margin: 6px 0 0 -18px;
        z-index: 4;
        @include background(linear-gradient(to left, #e85a4d, #f05b4d));
      }
      &:last-child .tab-heading {
        padding: 20px;
        margin: 0 0 0 -18px;
        background: #ff6759;
        z-index: 4;
      }
    }
  }
}
// holiday planner tab end
// setting tab
.setting {
  padding: 20px 40px;
  background-color: #f1f2f2;
}
.profile-detail-main {
  .profile-photo-sec {
    box-shadow: none;
  }
  label { margin-bottom: 10px; }
}

.setting-list {
  i {
    font-size: 20px;
    color: $brand-lighter-grey;
  }
  li {
    padding: 10px 15px;
  }
}
.setting-prof-imgholder {
  width: 63px;
  height: 65px;
  border: 2px solid $brand-grey;
  border-radius: 25px;
  box-shadow: 0px 3px 1px #e3e3e3;
  display: inline-block;
  overflow: hidden;
}
.profile-detail {
  margin: 12px;
}
.setting-main-detail {
    padding: 20px 30px;
  .form-control {
    height: 40px;
    border: 1px solid $brand-dark-blue;
    color: $brand-blue;
    border-radius: 6px;
    // @include placeholder {
    //   color: $brand-blue;
    // };
  }
  .select-holiday {
    background: url("../img/setting/grey-half.png") no-repeat 50% 0;
    &:hover {
      background: url("../img/setting/green-half.png") no-repeat 50% 0;
    }
    img {
      height: 45px;
    }
    figcaption {
      margin-top: 10px;
      font-size: 13px;
      text-align: center;
    }
  }
  .active-holiday {
    background: url("../img/setting/green-half.png") no-repeat 50% 0;
  }
  .holiday-imgholder { min-height: 55px; }
  .holiday-section, .setting-usually-go, .setting-prefer-travel, .setting-ideal-holiday {
    margin-bottom: 20px;
    ul { margin: 0 -10px; }
    li {
      width: 90px;
      margin: 15px 0px;
      display: inline-block;
      vertical-align: top;
    }
  }
  .holiday-section ul { margin: 0; }
  .profile-photo-sec {
    padding: 0;
    margin-bottom: 25px;
    .upload-section {
      padding: 40px 0 30px;
      border: 1px solid $brand-dark-blue;
      border-radius: 7px;
    }
  }
  img-crop {
    background-color: $brand-dark-blue;
    border-radius: 7px;
  }
  .cropArea {
    height: 300px;
  }
  .cancel {
    @include position(absolute, 3px 7px null null);
    z-index: 1;
  }
  .btn-upload {
    @include position(absolute, null 5px 7px null);
  }
}
.setting-tab-gender {
  .male, .female {
    @include square(100px);
    margin: 0 15px 0 0;
    img { height: 80px; }
  }
}
.setting-tab-heading {
  margin: 0px 0px 15px;
  font-size: 14px;
  font-weight: 700;
}
.setting-nationality {
  margin-top: 25px;
  .custom-select {
    select {
      padding: 10px;
      border: 1px solid $brand-dark-blue;
      border-radius: 7px;
      color: $brand-dark-blue;
    }
    &:after {
      content: "\f078";
      color: $brand-dark-blue;
      right: 8px;
    }
  }
}
.travel-blogger {
  margin-top: 10px;
  margin-bottom: 20px;
  .button-group {
    .btn {
      font-size: 18px;
    }
    .btn:first-child{
      padding: 8px 28px;
    }
    .btn:nth-child(2){
      padding: 8px 30px;
      margin: 0 20px;
    }
    .btn:last-child{
      padding: 8px 60px;
    }
  }
}
// select with checkbox
.checkbox-select {
  [type="checkbox"]:not(:checked),
  [type="checkbox"]:checked {
    position: absolute;
    left: -9999px;
  }
  [type="checkbox"]:not(:checked) + label,
  [type="checkbox"]:checked + label {
    width: 100%;
    height: 40px;
    padding: 10px;
    border: 1px solid #3f4966;
    border-radius: 6px;
    margin: 0;
    position: relative;
    cursor: pointer;
  }
  /* checkbox aspect */
  [type="checkbox"]:not(:checked) + label:before,
  [type="checkbox"]:checked + label:before {
    content: '';
    @include square(20px);
    @include position(absolute, 50% 8px null null);
    @include transform(translateY(-50%));
    @include transition(all 300ms linear);
  }
  /* checked mark aspect */
  [type="checkbox"]:not(:checked) + label:after,
  [type="checkbox"]:checked + label:after {
    content: '\f00c';
    font: normal normal normal 14px/1 FontAwesome;
    @include square(20px);
    color: #b7b7b7;
    @include position(absolute, 50% 8px null null);
    @include transform(translateY(-50%));
    line-height: 20px;
    text-align: center;
    @include transition(all 300ms linear);
  }
  [type="checkbox"]:checked + label:after {
    color: $brand-pink;
    @include transition(all 300ms linear);
  }
}
.radio-select {
  [type="radio"]:not(:checked),
  [type="radio"]:checked {
    position: absolute;
    left: -9999px;
  }
  [type="radio"]:not(:checked) + label,
  [type="radio"]:checked + label {
    width: 100%;
    height: 40px;
    padding: 10px;
    border: 1px solid #3f4966;
    border-radius: 6px;
    margin: 0;
    position: relative;
    cursor: pointer;
  }
  /* radio aspect */
  [type="radio"]:not(:checked) + label:before,
  [type="radio"]:checked + label:before {
    content: '';
    @include square(20px);
    @include position(absolute, 50% 8px null null);
    @include transform(translateY(-50%));
    @include transition(all 300ms linear);
  }
  /* checked mark aspect */
  [type="radio"]:not(:checked) + label:after,
  [type="radio"]:checked + label:after {
    content: '\f00c';
    font: normal normal normal 14px/1 FontAwesome;
    @include square(20px);
    color: #b7b7b7;
    @include position(absolute, 50% 8px null null);
    @include transform(translateY(-50%));
    line-height: 20px;
    text-align: center;
    @include transition(all 300ms linear);
  }
  [type="radio"]:checked + label:after {
    color: $brand-pink;
    @include transition(all 300ms linear);
  }
}
// privacy policy tab end
// report problem tab
.problem-detail {
  label {
    margin-bottom: 10px;
  }
  textarea {
    min-height: 200px;
  }
}
// report problem tab end
// setting tab end

.swiper-container {
    width: 100%;
    padding-bottom: 50px;
}
.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 95%;
    min-height: 432px;
}
.get-width {
  width: 555px;
}
@import "fancybox-override";
