<div class="activity-main bg-white">
  <div class="container">
    <div class="" masonry>
      <div class="row">
        <div class="col-md-4 masonry-brick" ng-repeat="post in activityPost">
          <div class="activity-post">
            <div class="activity-post-main">
              <!-- post header -->
              <div class="post-header relate">
                <div class="inline-block picture-section">
                  <div class="editor-logo">
                    <img src="img/blog/editor-logo.png" alt="" class="img-responsive">
                  </div>
                  <div class="user-pic">
                    <img ng-src="{{post.profilePic}}" alt="" class="img-responsive">
                  </div>
                </div>
                <div class="user-detail inline-block">
                  <h3 class="font-bold color-dark-blue m-clear mb5">{{post.userName}}</h3>
                  <div class="clearfix">
                    <div class="pull-left">
                      <p class="m-clear"><i class="fa fa-calendar"></i><span>{{post.timestampDate}}</span> | <i class="fa fa-clock-o"></i> <span>{{post.timestampHour}}</span></p>
                    </div>
                    <div class="pull-right">
                      <div class="follow-or-following">
                        <span class="">Follow</span>
                        <span class="">Following</span>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- post status -->
                <div class="post-your-status">
                  <p class="your-post">Has started his London Journey</p>
                </div>
                <!-- post status end -->
                <!-- post type icon -->
                <div class="post-icon">
                  <div class="location circle-rounded bg-dark-cyan pointer">
                    <img src="img/location-blue.png" alt="" height="18" class="">
                    <!-- <img src="img/camera.png" alt="" height="18" class=""> -->
                    <!-- <img src="img/video.png" alt="" height="18" class=""> -->
                    <!-- <img src="img/pin.png" alt="" height="18" class=""> -->
                  </div>
                </div>
                <!-- post type icon end -->
                <!-- post header end -->
                <!-- post-main-section -->
                <div class="post-main-section">
                  <div class="relate">
                    <!-- flag country -->
                    <div class="flag-section">
                      <div class="country-visited">
                        <img ng-src="{{visit.imgFlag}}" alt="" height="30" ng-repeat="visit in life.countryVisit track by $index">
                      </div>
                    </div>
                    <!-- flag country end -->
                    <!-- tag on journey -->
                    <div class="tag-ongo-journey">
                      <span class="inline-block">On The Go</span>
                    </div>
                    <!-- tag on journey end-->
                    <!-- video post -->
                    <div class="video-post relate">
                      <img src="img/blog/popular-blog.jpg" alt="" class="img-responsive">
                      <div class="youtube-icon get-center">
                        <span><i class="fa fa-youtube-play fa-4x"></i></span>
                      </div>
                    </div>
                    <!-- video post end -->
                    <!-- img post -->
                    <div class="post-img relate">
                      <img src="img/blog/popular-blog.jpg" alt="" class="img-responsive">
                    </div>
                    <!-- img post end -->
                    <!-- img post slider -->
                    <div class="imgpost-relatedslider">
                      <flex-slider class="carousel">
                        <li>
                          <div class="related-postimgholder">
                            <!-- <img src="" alt="" class="img-responsive"> -->
                          </div>
                        </li>
                      </flex-slider>
                      <div class="post-rating">
                        <span>Rating : <i class="fa fa-star color-pink"></i>
                        <i class="fa fa-star color-pink"></i>
                        <i class="fa fa-star color-pink"></i>
                        <i class="fa fa-star color-pink"></i>
                        <i class="fa fa-star color-pink"></i></span>
                      </div>
                    </div>
                    <!-- img post slider end -->
                    <!-- post travelled journey -->
                    <div class="travelled-journey relate">
                      <div class="travelled-imgholder">
                        <!-- <img ng-src="{{life.imgTravelled}}" alt="" class="img-responsive m-center"> -->
                      </div>
                      <div class="country-visited">
                        <img ng-src="{{visit.imgFlag}}" alt="" height="30" ng-repeat="visit in life.countryVisit track by $index">
                      </div>
                      <div class="journey-tag-holder">
                        <h4 class="m-clear text-capitalize">{{life.Travelledtag}}</h4>
                        <div class="clearfix">
                          <div class="pull-left">
                            <div class="journey-collection">
                              <ul>
                                <li>
                                  <a href="">
                                    <div class="">
                                      <img src="img/camera.png" alt="Camera" width="18" class="mr5">
                                      <span class="inline-block v-mid">{{life.photoCount}}</span>
                                    </div>
                                  </a>
                                </li>
                                <li>
                                  <a href="">
                                    <div class="">
                                      <img src="img/video.png" alt="Video" width="18" class="mr5">
                                      <span class="inline-block v-mid">{{life.videoCount}}</span>
                                    </div>
                                  </a>
                                </li>
                                <li>
                                  <a href="">
                                    <div class="">
                                      <img src="img/location.png" alt="Location" width="18" class="mr5">
                                      <span class="inline-block v-mid">{{life.locationVisited}}</span>
                                    </div>
                                  </a>
                                </li>
                              </ul>
                            </div>
                          </div>
                          <div class="pull-right">
                            <div class="journey-type inline-block">
                              <ul>
                                <li>
                                  <a href=""><img ng-src="{{life.itineraryType1}}" alt="" height="20"></a>
                                </li>
                                <li>
                                  <a href=""><img ng-src="{{life.itineraryType2}}" alt="" height="20"></a>
                                </li>
                                <li>
                                  <a href=""><img ng-src="{{life.itineraryType3}}" alt="" height="20"></a>
                                </li>
                              </ul>
                            </div>
                            <div class="days-spent inline-block">
                              <p><span class="block">{{life.travelledDay}}</span> Days</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- post travelled journey end-->
                    <!-- post onway journey -->
                    <div class="onway-journey relate" ng-show="life.onJourney">
                      <div class="onway-imgholder">
                        <img ng-src="{{life.imgOnway}}" alt="" class="img-responsive m-center">
                      </div>
                      <div class="country-visited">
                        <img ng-src="{{visit.imgFlag}}" alt="" height="30" ng-repeat="visit in life.countryVisit track by $index">
                        <span class="" ng-show="life.onJourney">+4</span>
                      </div>
                      <div class="journey-tag-holder">
                        <h3 class="m-clear text-capitalize">{{life.onwayTag}}</h3>
                        <div class="clearfix">
                          <div class="pull-left">
                            <div class="journey-type">
                              <ul>
                                <li>
                                  <a href=""><img ng-src="{{life.itineraryType1}}" alt="" height="20"></a>
                                </li>
                                <li>
                                  <a href=""><img ng-src="{{life.itineraryType2}}" alt="" height="20"></a>
                                </li>
                                <li>
                                  <a href=""><img ng-src="{{life.itineraryType3}}" alt="" height="20"></a>
                                </li>
                              </ul>
                            </div>
                          </div>
                          <div class="pull-right">
                            <div class="journey-cost">
                              <span>{{life.cost}}</span>
                            </div>
                            <div class="days-spent">
                              <p><span class="block">{{life.spendingDay}}</span>Days</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- post onway journey end-->
                  </div>
                </div>
                <!-- post-main-section end -->
                <!-- post footer -->
                <div class="post-footer">
                  <div class="social-field-types">
                    <div class="user-social-item clearfix">
                      <div class="pull-left">
                        <ul>
                          <li><a href=""><i class="fa fa-heart-o color-blue"></i></a></li>
                          <li>
                            <a href=""><img src="img/comments.png" alt="" height="18"></a>
                          </li>
                          <li>
                            <a href=""><img src="img/reviews.png" alt="" height="18"></a>
                          </li>
                          <li>
                            <a href=""><img src="img/share.png" alt="" height="18"></a>
                          </li>
                        </ul>
                      </div>
                      <div class="pull-right">
                        <div class="">
                          <span><img src="img/options.png" alt="" height="18"></span>
                        </div>
                      </div>
                    </div>
                    <div class="social-likes-reviews">
                      <div class="clearfix">
                        <div class="pull-left">
                          <span class="color-blue mr10"><i class="fa fa-heart color-blue mr5"></i><b class="mr5">15660</b>Likes</span>
                          <span class="color-blue"><img src="img/reviews.png" alt="" height="15" class="mr5 v-top">354 Reviews (4.5/5)</span>
                        </div>
                        <div class="pull-right">
                          <div class="post-travel-icon">
                            <img src="img/travel.png" alt="">
                            <img src="img/cycle-cyan.png" alt="" height="20">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- post footer end -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
