<div class="booking-bg one  pt70 rl img-holder">
    <div class="overlay colorblue ab"></div>
    <div class="text-cont ab text-center">
        <h3 class="color-white avenir-heavy text-shadow fnt-60 no-margin">
            Booking
        </h3>
    </div>
    <div class="container">
        <div class="menu-booking ab">
            <ul class="list-unstyled avenir-medium">
                <li>
                    <a usref="home" class="color-white">Flights</a>
                </li>
                <li>
                    <a usref="home" class="color-white">Hotels</a>
                </li>
                <li>
                    <a usref="home" class="color-white">Cars</a>
                </li>
                <li>
                    <a usref="home" class="color-white">Homestay</a>
                </li>
                <li>
                    <a usref="home" class="color-white">Parcking Space</a>
                </li>
                <li>
                    <a usref="home" class="color-white">Vacation Rentals</a>
                </li>
            </ul>
        </div>
        <div class="menu-contact ab full-width">
            <ul class="list-unstyled list-inline avenir-black text-center">
                <li>
                    <img src="img/libro-home/booking/logo1.png" alt="">
                </li>
                <li>
                    <img src="img/libro-home/booking/logo2.png" alt="">
                </li>
                <li>
                    <img src="img/libro-home/booking/logo3.png" alt="">
                </li>
                <li>
                    <img src="img/libro-home/booking/logo4.png" alt="">
                </li>
                <li>
                    <img src="img/libro-home/booking/logo5.png" alt="">
                </li>
                <li>
                    <img src="img/libro-home/booking/logo6.png" alt="">
                </li>
                <li>
                    <img src="img/libro-home/booking/logo7.png" alt="">
                </li>
            </ul>
        </div>
    </div>
</div>