<div class="contact-bg pt70 mt-60 rl img-holder" auto-height>
  <div class="overlay-black ab"></div>
  <div class="text-cont ab text-center">
    <h3 class="color-white avenir-heavy fnt-60 contact-txt no-margin text-shadow">
      Contact Us
    </h3>
    <p>
      <a href="mailto:info@travelibro.com" class="color-white avenir-heavy fnt-16">info@travelibro.com</a>
    </p>
  </div>
  <footer class="app-icons ab hidden-xs">
    <div class="container-fluid">
      <div class="col-md-12">
        <div>
          <ul class="list-unstyled list-inline text-right color-white">
            <li class="">
              Download App
            </li>
            <li>
              <a href="#" target="_blank" class="color-white">
                <i class="fa fa-apple"></i>
              </a>
            </li>
            <li>|</li>
            <li>
              <a href="#" class="color-white" target="_blank">
                <i class="fa fa-android"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
</div>
