<div class="destination {{getBackdrop}} relate mt-60" scrolladdclass ng-init="openCont=false">
  <div scrolldown>
    <div class="img-holder-destination bg-destination-cc-img relate" id="blur" style="background:url('{{countryDestData.countryCoverPhoto|uploadpath}}')">
      <!-- <div class="overlay"></div> -->
      <div class="get-center country-title">
        <h4 class="color-white title-head">{{countryDestData.name}}</h4>
      </div>
      <div class="list-horizontal">
        <ul class="dest-right color-white">
          <li>
            <div class="right-label">
              <label for="">
              Time
            </label>
            </div>
            <div class="right-label">
              <span>10:10 AM</span>
            </div>
          </li>
          <li>
            <div class="right-label">
              <label for="">
              Capital
            </label>
            </div>
            <div class="right-label">
              <span>{{countryDestData.capital}}</span>
            </div>
          </li>
          <li>
            <div class="right-label">
              <label for="">
              Currency
            </label>
            </div>
            <div class="right-label">
              <span>{{countryDestData.currency}}</span>
            </div>
          </li>
          <li>
            <div class="right-label">
              <label for="">
              Weather
            </label>
            </div>
            <div class="right-label">
              <span>Thunderstorm With Light Rain</span>
            </div>
          </li>
          <li>
            <div class="right-label">
              <label for="">
              Temperature
            </label>
            </div>
            <div class="right-label">
              <span>Max 28OC Min 28OC</span>
            </div>
          </li>
          <li>
            <div class="right-label">
              <a class="color-white" ng-click="openCont = !openCont;">Read</a>
            </div>
          </li>
        </ul>
      </div>
      <div class="slide-cont-dest" ng-class="{'open-cont': openCont==true, '':openCont==false}">
        <div class="blur-bg"></div>
        <div class="hght-destination-scroll color-white">
          <p class="text-justify">{{countryDestData.description}}</p>
          <div class="right-label text-right">
            <a class="color-white pad-40" ng-click="openCont=!openCont;">Close</a>
          </div>
        </div>
      </div>
      <div class="mouse-scrolldown color-white text-center" ng-click="scrollDown();">
        <img src="img/mouse-scroll.png" alt="Travelibro">
        <p>Scroll Down</p>
      </div>
    </div>
  </div>
  <div class="destination-nav second destin-fixednav bg-grey">
    <div class="container">
    <div class="row">
        <div class="col-md-8 col-sm-8">
        <div class="destination-scroll">
          <ul class="list-inline">
            <li ng-click="getTab('featured')" ng-class="{'active': countryoptions.active=='featured'}">Featured Cities</li>
            <li ng-click="getTab('mustdo')" ng-class="{'active': countryoptions.active=='mustdo'}">Must Do’s</li>
            <li ng-click="getTab('itineraries')" ng-class="{'active': countryoptions.active=='itineraries'}">Itineraries</li>
            <li ng-click="getTab('booking')" ng-class="{'active': countryoptions.active=='booking'}">Bookings</li>
            <li ng-click="getTab('visit')" ng-class="{'active': countryoptions.active=='visit'}">Best Time To Visit</li>
          </ul>
        </div>
      </div>
        <div class="col-md-4 col-sm-4">
          <form action="">
            <div class="input-search">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Search Destination">
                <span class="input-group-addon"><i class="fa fa-search" aria-hidden="true"></i></span>
              </div>
            </div>
          </form>
        </div>
    </div>
    </div>
  </div>
  <div class="destination-content-box">
      <div class="destination-content" ng-include="destination.innerView"></div>
  </div>
  <!-- Contact Us side tab -->
  <div class="side-contact avenir-roman">
    <div class="contact-sidetab" ng-show="viewContact" ng-class="{'view-contact-list' : viewContact ,  ' ' : !viewContact}">
      <div class="contacttab-head">
        <h4 class="avenir-heavy color-white">Contact</h4>
      </div>
      <div class="user-contactdetail">
        <h4 class="color-cyan avenir-heavy"> Andrea Travels</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit saepe architecto officia asperiores quod atque delectus nostrum dolore.</p>
        <p><i class="fa fa-phone"></i> <a href="tel:+910224567890"> 022 456 7890 </a> | <a href="tel:+910224567320"> 022 456 7320</a> | <a href="tel:+9102224569823"> 0222 456 9823</a></p>
        <p><i class="fa fa-envelope"></i> <a href="mailto:info@andreatravels.com"> info@andreatravels.com</a></p>
        <p><i class="fa fa-globe" aria-hidden="true"></i> <a href="http://www.andreatravels.com" target="_blank"> www.andreatravels.com</a></p>
      </div>
    </div>
    <div class="contacttab-btn" ng-click="showContact();">
      <a class="btn-transparent-dark-blue btn" ng-class="{'hide' : viewContact}">Contact Us</a>
      <a class="btn-dark-blue btn close-size" ng-class="{'hide': !viewContact}"><i class="fa fa-chevron-down mr5"></i> Close</a>
    </div>
  </div>
  <!-- Contact Us tab enD-->
</div>
