<div class="destination relate" scrolldown>
  <div class="img-holder-destination bg-destination-cc-img relate" id="blur">
    <!-- <div class="overlay"></div> -->
    <div class="get-center country-title">
      <h4 class="color-white title-head">India</h4>
    </div>
    <div class="list-horizontal">
      <ul class="dest-right color-white">
        <li>
          <div class="right-label">
            <label for="">
              Time
            </label>
          </div>
          <div class="right-label">
            <span>10:10 AM</span>
          </div>
        </li>
        <li>
          <div class="right-label">
            <label for="">
              Capital
            </label>
          </div>
          <div class="right-label">
            <span>New Delhi</span>
          </div>
        </li>
        <li>
          <div class="right-label">
            <label for="">
              Currency
            </label>
          </div>
          <div class="right-label">
            <span>INR</span>
          </div>
        </li>
        <li>
          <div class="right-label">
            <label for="">
              Weather
            </label>
          </div>
          <div class="right-label">
            <span>Thunderstorm With Light Rain</span>
          </div>
        </li>
        <li>
          <div class="right-label">
            <label for="">
              Temperature
            </label>
          </div>
          <div class="right-label">
            <span>Max 28OC Min 28OC</span>
          </div>
        </li>
        <li>
          <div class="right-label">
            <a class="color-white" ng-click="openCont();">Read</a>
          </div>
        </li>
      </ul>
    </div>
    <div class="slide-cont-dest" ng-class="{'open-cont': isopencont}">
        <div class="blur-bg"></div>
      <div class="hght-destination-scroll color-white">
        <p class="text-justify">India promises to be nothing short of an all encompassing poetry reveling in striking oxymoron's like serene temples amidst manic bazaars; eternal personification of lost love in form of the Taj Mahal & beautifully juxtaposed, alliterative range
          of snow topped mountains and sun-kissed beaches!</p>
        <p class="text-justify">Bristling with intricately woven phenomenal spectrum of cultures, India for first-timers can be a soul-stirring experience. Being the birthplace of ancient religions, She also provides the seeker with an enriching spiritual life and thought provoking
          philosophies. This medley of vibrant cultures, spiritual depth and sheer history makes for an intensely intoxicating experience!</p>
        <p class="text-justify">As you pendulum wide eyed among magnificent mountains & historical sites in the North, vibrant world of textiles & heart racing safaris in the West, tranquil religious sites & elegant textiles in the South and breathtaking beauty of Nature in
          the East; another aspect that'll take you on a ride is, the food! You'll have a humongous buffet of alluring delicacies ranging from the brilliantly spiced-up Northern food to splendidly steamed Southern delights! So brace up your senses for
          an extraordinary experience- the only souvenir that can sum up this astonishingly diverse journey that India is!</p>
        <p class="text-justify">TraveLibro provides an exhaustive travel guide for India featuring popular cities, attractions, tours, best places to visit, where to go, tourist information, and itineraries.</p>
        <div class="right-label text-right">
          <a class="color-white pad-40" ng-click="openCont();">Close</a>
        </div>
      </div>
    </div>
    <div class="mouse-scrolldown color-white text-center" ng-click="scrollDown();">
      <img src="img/mouse-scroll.png" alt="Travelibro">
      <p>Scroll Down</p>
    </div>
  </div>
</div>

<div class="destination-nav second">
  <div class="container-fluid">
    <div class="col-md-8">
      <ul class="list-inline">
        <li ng-click="getTab(0)" ng-class="{'active': countryoptions.active=='featured'}">Featured Cities</li>
        <li ng-click="getTab(1)" ng-class="{'active': countryoptions.active=='mustdo'}">Must Do’s</li>
        <li ng-click="getTab(2)" ng-class="{'active': countryoptions.active=='itineraries'}">Itineraries</li>
        <li ng-click="getTab(3)" ng-class="{'active': countryoptions.active=='booking'}">Bookings</li>
        <li ng-click="getTab(4)" ng-class="{'active': countryoptions.active=='visit'}">Best Time To Visit</li>
      </ul>
    </div>
    <div class="col-md-4">
      <form action="">
        <div class="input-search">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search Destination">
            <span class="input-group-addon"><i class="fa fa-search" aria-hidden="true"></i></span>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="destination-content" ng-include="destination.innerView"></div>
</div>
