<div class="destination">
  <div class="img-holder-destination relate">
    <div class="overlay"></div>
    <div class="get-center country-title">
      <h4 class="color-white title-head">Destination</h4>
    </div>
    <div class="btm-right right-label color-white">
      Download App
      <a class="color-white" href="#" target="_blank"><i class="fa fa-apple" aria-hidden="true"></i></a> |
      <a class="color-white" href="#" target="_blank"><i class="fa fa-android" aria-hidden="true"></i></a>
    </div>
    <div class="scrolldown color-white text-center" ng-click="scrollDown();">
      <img src="img/mouse-scroll.png" alt="Travelibro">
      <p>Scroll Down</p>
    </div>
  </div>
  <div class="bg-white">
    <div class="destinationmain-head plr30 second">
      <div class="destination-nav">
        <div class="col-md-offset-8 col-md-4">
          <form action="">
            <div class="input-search">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Search Destination">
                <span class="input-group-addon"><i class="fa fa-search" aria-hidden="true"></i></span>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="head-title-all">
        <h4 class="fnt-42">A</h4>
      </div>
      <div class="destination-holder relate">
        <div class="row">
          <div class="col-md-6">
            <div class="img-holder relate">
              <img src="img/destination/taj-featured.jpg" alt="travel-libro" class="full-width">
              <div class="title-head-left color-white text-uppercase">
                India
              </div>
              <div class="title-head-right color-white text-uppercase">
                <img src="img/destination/flag.png" alt="Travelibro">
              </div>

              <div class="read-more left-bottom">
                <ul class="list-inline">
                  <li class="avenir-roman color-white">Cities: <span class="avenir-heavy">33</span> </li>
                  <li class="avenir-heavy color-white">|</li>
                  <li class="avenir-roman color-white">Itineraries: <span class="avenir-heavy">222</span> </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="img-holder relate">
              <img src="img/destination/taj-featured.jpg" alt="travel-libro" class="full-width">
              <div class="title-head-left color-white text-uppercase">
                Mumbai
              </div>
              <div class="title-head-right color-white text-uppercase">
                India
                <img src="img/destination/flag.png" alt="Travelibro">
              </div>
              <div class="read-more left-bottom">
                <ul class="list-inline">
                  <li class="avenir-roman color-white">Must Do’s: <span class="avenir-heavy">33</span> </li>
                  <li class="avenir-heavy color-white">|</li>
                  <li class="avenir-roman color-white">Itineraries: <span class="avenir-heavy">222</span> </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="img-holder relate">
              <img src="img/destination/goldentemple.jpg" alt="travel-libro" class="full-width">
              <div class="title-head-left color-white text-uppercase">
                India
              </div>
              <div class="title-head-right color-white text-uppercase">
                <img src="img/destination/flag.png" alt="Travelibro">
              </div>
              <div class="read-more left-bottom">
                <ul class="list-inline">
                  <li class="avenir-roman color-white">Cities: <span class="avenir-heavy">33</span> </li>
                  <li class="avenir-heavy color-white">|</li>
                  <li class="avenir-roman color-white">Itineraries: <span class="avenir-heavy">222</span> </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="img-holder relate">
              <img src="img/destination/taj-featured.jpg" alt="travel-libro" class="full-width">
              <div class="title-head-left color-white text-uppercase">
                Mumbai
              </div>
              <div class="title-head-right color-white text-uppercase">
                India
                <img src="img/destination/flag.png" alt="Travelibro">
              </div>
              <div class="read-more left-bottom">
                <ul class="list-inline">
                  <li class="avenir-roman color-white">Must Do’s: <span class="avenir-heavy">33</span> </li>
                  <li class="avenir-heavy color-white">|</li>
                  <li class="avenir-roman color-white">Itineraries: <span class="avenir-heavy">222</span> </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="img-holder relate">
              <img src="img/destination/taj-featured.jpg" alt="travel-libro" class="full-width">
              <div class="title-head-left color-white text-uppercase">
                India
              </div>
              <div class="title-head-right color-white text-uppercase">
                <img src="img/destination/flag.png" alt="Travelibro">
              </div>
              <div class="read-more left-bottom">
                <ul class="list-inline">
                  <li class="avenir-roman color-white">Must Do’s: <span class="avenir-heavy">33</span> </li>
                  <li class="avenir-heavy color-white">|</li>
                  <li class="avenir-roman color-white">Itineraries: <span class="avenir-heavy">222</span> </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="alphabhates right-end">
          <ul class="list-unstyle">
            <li><a href="">A</a></li>
            <li><a href="">B</a></li>
            <li><a href="">C</a></li>
            <li><a href="">D</a></li>
            <li><a href="">E</a></li>
            <li><a href="">F</a></li>
            <li><a href="">G</a></li>
            <li><a href="">H</a></li>
            <li><a href="">I</a></li>
            <li><a href="">J</a></li>
            <li><a href="">K</a></li>
            <li><a href="">L</a></li>
            <li><a href="">M</a></li>
            <li><a href="">N</a></li>
            <li><a href="">O</a></li>
            <li><a href="">P</a></li>
            <li><a href="">Q</a></li>
            <li><a href="">R</a></li>
            <li><a href="">S</a></li>
            <li><a href="">T</a></li>
            <li><a href="">U</a></li>
            <li><a href="">V</a></li>
            <li><a href="">W</a></li>
            <li><a href="">X</a></li>
            <li><a href="">Y</a></li>
            <li><a href="">Z</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
