<div class="destinaiton">
  <div class="img-holder-destination relate">
    <!-- <img src="img/destination/info.jpg" alt="travel-libro" class="full-width"> -->
    <div class="overlay"></div>
    <div class="get-center country-title">
      <h4 class="color-white title-head">India</h4>
    </div>
    <div class="list-horizontal">
      <ul class="dest-right color-white">
        <li>
          <div class="right-label">
            <label for="">
              Time
            </label>
          </div>
          <div class="right-label">
            <span>10:10 AM</span>
          </div>
        </li>
        <li>
          <div class="right-label">
            <label for="">
              Capital
            </label>
          </div>
          <div class="right-label">
            <span>New Delhi</span>
          </div>
        </li>
        <li>
          <div class="right-label">
            <label for="">
              Currency
            </label>
          </div>
          <div class="right-label">
            <span>INR</span>
          </div>
        </li>
        <li>
          <div class="right-label">
            <label for="">
              Weather
            </label>
          </div>
          <div class="right-label">
            <span>Thunderstorm With Light Rain</span>
          </div>
        </li>
        <li>
          <div class="right-label">
            <label for="">
              Temperature
            </label>
          </div>
          <div class="right-label">
            <span>Max 28OC Min 28OC</span>
          </div>
        </li>
        <li>
          <div class="right-label">
            <a class="color-white" href="#">Read</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="destination-nav">
  <div class="container-fluid">
    <div class="col-md-8">
      <ul class="list-inline">
        <li>Featured Cities</li>
        <li>Must Do’s</li>
        <li>Itineraries</li>
        <li>Bookings</li>
        <li>Best Time To Visit</li>
      </ul>
    </div>
    <div class="col-md-4">
      <form action="">
        <div class="input-search">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search Destination">
            <span class="input-group-addon"><i class="fa fa-search" aria-hidden="true"></i>
</span>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
