<div class="destination mt-60" scrolldown>
  <div class="img-holder-destination bg-destination relate">
    <div class="overlay-landing"></div>
    <div class="get-center country-title destiantion-country-title">
      <h4 class="color-white title-head">Destinations</h4>
    </div>
    <div class="btm-right right-label download-app destiantion-download-app color-white">
      Download App
      <a class="color-white" href="#" target="_blank"><i class="fa fa-apple" aria-hidden="true"></i></a> |
      <a class="color-white" href="#" target="_blank"><i class="fa fa-android" aria-hidden="true"></i></a>
    </div>
    <div class="mouse-scrolldown color-white text-center" ng-click="scrollDown();">
      <img src="img/mouse-scroll.png" alt="Travelibro">
      <p>Scroll Down</p>
    </div>
  </div>

  <div class="bg-white">
    <div class="destination-head plr30 second">
      <div class="destination-nav">
        <div class="row">
          <div class="col-md-offset-8 col-md-4 col-sm-offset-6 col-sm-6">
            <form action="">
              <div class="input-search dest-chnge pt20">
                <div class="input-group">
                  <input type="text" class="form-control fnt-16" placeholder="Search Destination" ng-model="destination" ng-change="searchDestination(destination)">
                  <span class="input-group-addon"><i class="fa fa-search" aria-hidden="true"></i></span>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="destination-content">
        <div class="head-title">
          <h4 class="fnt-42 brdbtm alpha-color mt-clear text-uppercase">{{viewListByKey}}</h4>
        </div>
        <div class="destination-holder main-destination-page relate pt20 pr20">
          <div class="row">
            <div class="col-md-6"  ng-repeat="dest in destinationList track by $index" ng-if="dest.isCity==true">
              <div class="img-holder relate" style="background:url('{{dest.cityCoverPhoto|uploadpath}}');">
                <div class="title-head-left color-white">
                  {{dest.name}}
                </div>
                <div class="title-head-right color-white">
                  <img ng-src="{{dest.country[0].flag|uploadpath}}"   alt="Travelibro">
                </div>

                <div class="read-more left-bottom">
                  <ul class="list-inline">
                    <li class="avenir-roman color-white">Cities: <span class="avenir-heavy">{{dest.cityCount}}</span> </li>
                    <li class="avenir-heavy color-white">|</li>
                    <li class="avenir-roman color-white">Itineraries: <span class="avenir-heavy">{{dest.itineraryCount}}</span> </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-md-6"  ng-repeat="dest in destinationList track by $index" ng-if="dest.isCity==false">
              <div class="img-holder relate" style="background:url('{{dest.countryCoverPhoto|uploadpath}}');">
                <!-- <img ng-src="{{dest.countryCoverPhoto|uploadpath}}" alt="travel-libro" class="full-width"> -->
                <div class="title-head-left color-white">
                  {{dest.name}}
                </div>
                <div class="title-head-right color-white">
                  <img ng-src="{{dest.flag|uploadpath}}"   alt="Travelibro">
                </div>
                <div class="read-more left-bottom">
                  <ul class="list-inline">
                    <li class="avenir-roman color-white">Cities: <span class="avenir-heavy">{{dest.cityCount}}</span> </li>
                    <li class="avenir-heavy color-white">|</li>
                    <li class="avenir-roman color-white">Itineraries: <span class="avenir-heavy">{{dest.itineraryCount}}</span> </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="alphabhates right-end" scrolladdclass>
            <ul class="list-unstyle">
              <li ng-repeat="countryKey in countryDestList track by $index" ng-click="searchDestination(countryKey)">
                <a href="" class="color-grey-apha">{{countryKey}}</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
