<div class="detail-itinerary-page avenir-roman">
  <div class="container-fluid">
    <div class="bg-white">
      <div class="container">
        <div class="fill-detail-itinerary">
          <h4 class="color-blue avenir-roman mb20">Fill Up The Itinerary</h4>
          <div class="fill-itinerary-detail">
            <form action="">
              <div class="itinerary-title">
                <div class="row">
                  <div class="col-md-6">
                    <div class="itinerary-inputholder">
                      <input type="text" class="form-control" placeholder="Trip Title">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="itinerary-inputholder">
                      <input type="text" class="form-control" placeholder="Travelled With">
                    </div>
                  </div>
                </div>
              </div>
              <!-- itinerary type -->
              <div class="fill-itinerary-type">
                <h4 class="color-light-grey mt20 mb20">Itineraries Type</h4>
                <div class="select-itinerary-type" ng-repeat="itinerary in itineraryType">
                  <figure class="pointer">
                    <div class="itinerary-iconholder">
                      <img ng-src="{{itinerary.img}}" alt="" class="img-responsive">
                    </div>
                    <figcaption class="color-dark-blue avenir-roman">{{itinerary.caption}}</figcaption>
                  </figure>
                </div>
              </div>
              <!-- itinerary type end -->
              <!-- country Visited -->
              <div class="itinerary-country-visited">
                <div class="row">
                  <div class="col-md-6">
                    <div class="itinerary-inputholder">
                      <input type="text" class="form-control" placeholder="Country You Visited">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="itinerary-country-detail">
                      <div class="itinerary-from itinerary-month">
                        <label for="From">From</label>
                        <div class="itinerary-inputholder">
                          <input type="text" class="form-control" id="From">
                        </div>
                      </div>
                      <div class="itinerary-to itinerary-year">
                        <label for="to">To</label>
                        <div class="itinerary-inputholder">
                          <input type="text" class="form-control" id="to">
                        </div>
                      </div>
                      <div class="itinerary-duration">
                        <label for="Duration">Duration</label>
                        <div class="itinerary-inputholder">
                          <input type="text" class="form-control" id="Duration">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="add-country clearfix">
                      <button class="btn btn-dark-pink pull-left">Add City</button>
                      <span class="color-dark-blue pull-right mt5">If you have visited any other cities on the same trip</span>
                    </div>
                  </div>
                </div>
              </div>
              <!-- country Visited end-->
              <!-- city visited  -->
              <div class="itinerary-country-visited itinerary-city-visited" >
                <div class="row">
                  <div class="col-md-6">
                    <div class="itinerary-inputholder">
                      <input type="text" class="form-control" placeholder="Country You Visited">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="itinerary-country-detail">
                      <div class="itinerary-from itinerary-month">
                        <label for="From">From</label>
                        <div class="itinerary-inputholder">
                          <input type="text" class="form-control" id="From">
                        </div>
                      </div>
                      <div class="itinerary-to itinerary-year">
                        <label for="to">To</label>
                        <div class="itinerary-inputholder">
                          <input type="text" class="form-control" id="to">
                        </div>
                      </div>
                      <div class="itinerary-duration">
                        <label for="Duration">Duration</label>
                        <div class="itinerary-inputholder">
                          <input type="text" class="form-control" id="Duration">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="add-country clearfix">
                      <button class="btn btn-dark-pink pull-left">Add City</button>
                      <span class="color-dark-blue pull-right mt5">If you have visited any other cities on the same trip</span>
                    </div>
                  </div>
                </div>
              </div>
              <!-- city visited end -->
              <div class="accordion-trip-detail">
                <div class="trip-heading-accordion">
                  <div class="clearfix">
                    <div class="pull-left">
                      <!-- <img src="" alt=""> -->
                      <h4 class="color-dark-blue">Singapore</h4>
                    </div>
                    <div class="pull-right">
                      <div class="rate-trip">
                        <h4>Rate This Now</h4>
                        <uib-rating ng-model="rate" max="5" on-hover="hoveringOver(value)" on-leave="overStar = null"></uib-rating>
                      </div>
                    </div>
                  </div>
                </div>
                <uib-accordion close-others="oneAtATime">
                  <div class="" uib-accordion-group>
                    <uib-accordion-heading>

                    </uib-accordion-heading>
                  </div>
                </uib-accordion>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
