<section class="loginforgot-bg pt70 rl img-holder">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-3 col-md-6">
                <div class="login-signup-tab">
                    <div class="title-head ptb20">
                        <h4 class="color-white avenir-heavy text-center fnt-22">
                            Reset Your Password
                        </h4>
                    </div>
                    <div class="login-form forgot-pswd-form psd-form ptb20">
                        <form action="">
                            <div class="rl">
                                <div class="form-group side-stick">
                                    <input type="password" class="form-control color-white" id="inputGroupSuccess4" aria-describedby="Password" placeholder="Password">
                                </div>
                            </div>
                            <div class="rl">
                                <div class="form-group side-stick">
                                    <input type="password" class="form-control color-white" placeholder="Confirm Password">
                                </div>
                            </div>
                            <div class="btn-login text-center">
                                <button class="btn btn-outline color-white avenir-roman" ng-click="opensucessfull()">
                                    Set
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
