<section class="loginforgot-bg pt70 rl img-holder">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-3 col-md-6">
        <div class="login-signup-tab">
          <div class="title-head ptb20">
            <h4 class="color-white avenir-heavy text-center fnt-22">
              Forgot Password
            </h4>
          </div>
          <div class="login-form forgot-pswd-form psd-form ptb20">
            <form ng-submit="editUserData(userData);">
              <div class="rl">
                <div class="form-group side-stick">
                  <input type="email" class="form-control color-white" id="email" name="emailid" aria-describedby="EmailId" placeholder="Email Id"
                    required ng-model="userData.email">
                </div>
              </div>
              <p class="text-center color-white avenir-roman">
                One time password will be sent to your registered email address.
              </p>
              <div class="btn-login text-center">
                <button class="btn btn-outline color-white avenir-roman" type="submit">
                                    Send
                                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
