<div class="container">
  <div class="login-process">
    <div class="row">
      <div class="col-md-offset-3 col-md-6">
        <div class="verification">
          <div class="text-center">
            <h3 class="">Verification</h3>
            <p>A 4-digit Verification code has been sent to your registered email address.</p>
            <div class="put-code">
              <form action="">
                <input type="text">
                <input type="text">
                <input type="text">
                <input type="text">
              </form>
            </div>
            <p>If you haven’t received a verification code yet, <span>Click here to <a href="">Re-send</a></span></p>
            <button class="btn btn-blue-outline">Submit</button>
          </div>
        </div>
        <div class="verification-complete">
          <div class="text-center">
            <h3 class="">Verification</h3>
            <!-- <img src="img/verified.png" alt="" class="img-responsive"> -->
            <p>Your account has been successfully verified</p>
            <div class="button-panel clearfix">
              <button class="btn btn-blue-outline pull-right">Next</button>
            </div>
          </div>
        </div>
        <div class="nationality">
          <div class="text-center">
            <h3 class="">Nationality</h3>
            <div class="custom-select">
              <input type="Search" placeholder="Search">
              <ul>
                <li>
                  <a href="">
                    <div class="">
                      <img src="" alt="" class="img-responsive">
                      <span>Afghanistan</span>
                      <div class="nation-select">
                        <input type="checkbox">
                      </div>
                    </div>
                  </a>
                </li>
              </ul>
            </div>
            <div class="button-panel clearfix">
              <button class="bth btn-blue-outline pull-left">Previous</button>
              <button class="btn btn-blue-outline pull-right">Next</button>
            </div>
          </div>
        </div>
        <div class="city">
          <div class="text-center">
            <h3 class="">Where Do You Live?</h3>
            <div class="custom-select">
              <input type="text" placeholder="City">
              <ul>
                <li>
                  <a href="">
                    <div class="">
                      <img src="" alt="" class="img-responsive">
                      <span>Afghanistan</span>
                      <div class="nation-select">
                        <input type="checkbox">
                      </div>
                    </div>
                  </a>
                </li>
              </ul>
            </div>
            <div class="button-panel clearfix">
              <button class="bth btn-blue-outline pull-left">Previous</button>
              <button class="btn btn-blue-outline pull-right">Next</button>
            </div>
          </div>
        </div>
        <div class="gender">
          <div class="text-center">
            <h3 class="">Gender</h3>
            <div class="male">
              <!-- <img src="" alt="" class="img-responsive"> -->
            </div>
            <div class="female">
              <!-- <img src="" alt="" class="img-responsive"> -->
            </div>
            <div class="button-panel clearfix">
              <button class="bth btn-blue-outline pull-left">Previous</button>
              <button class="btn btn-blue-outline pull-right">Next</button>
            </div>
          </div>
        </div>
        <div class="upload-profile">
          <div class="text-center">
            <h3 class="">Upload Profile Photo</h3>
            <div class="">
              <img src="" alt="" class="img-responsive">
              <div class="upload-btn">
                <button class="btn btn-primary">Select a photo from your computer</button>
                <button class="btn btn-primary">Web Camera</button>
              </div>
            </div>
            <div class="button-panel clearfix">
              <button class="bth btn-blue-outline pull-left">Previous</button>
              <button class="btn btn-blue-outline pull-right">Done</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
