<!-- <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide  {{getClass}}">
              <div class="bg-white get-width m-center">
                <div class="verification-complete" ng-show="viewNext==1">
                  <div class="text-center">
                    <h3 class="color-blue avenir-black">Verification</h3>
                    <img src="img/verified.png" alt="Verified" class="mt20 mb20 img-responsive m-center">
                    <p class="color-blue avenir-roman">Your account has been <span class="block">successfully verified</span></p>
                    <div class="button-panel clearfix">
                      <button class="btn btn-blue-outline btn-more pull-right" ng-click="goNext(2)" >Next</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide {{getClass2}} {{getClass}}">
              <div class="bg-white get-width m-center">
                <div class="nationality">
                  <div class="text-center">
                    <h3 class="color-blue avenir-black">Nationality</h3>
                    <div class="select-your-nation">
                      <div class="search-nation">
                        <input type="text" class="form-control avenir-roman" placeholder="Search" ng-click="showNation = (showNation == true)?false:true;" ng-model="searchNation">
                      </div>
                      <ul class="avenir-roman bg-dark-blue" ng-show="showNation">
                        <li ng-repeat="nation in nationality | filter:searchNation track by $index ">
                          <div class="nation-select relate">
                            <input type="radio" id="{{nation.name}}" name="nation" />
                            <label for="{{nation.name}}">
                              <img ng-src="{{nation.img}}" alt="" class="img-responsive inline-block mr10">
                              <span class="color-white">{{nation.name}}</span>
                            </label>
                          </div>
                        </li>
                      </ul>
                    </div>
                    <div class="button-panel clearfix">
                      <button class="btn btn-blue-outline btn-more pull-left" ng-click="goNext(1)">Previous</button>
                      <button class="btn btn-blue-outline btn-more pull-right" ng-click="goNext(3)">Next</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="bg-white get-width m-center">
                <div class="city">
                  <div class="text-center">
                    <h3 class="color-blue avenir-black">Where Do You Live?</h3>
                    <div class="select-your-nation select-your-city">
                      <div class="search-nation select-city">
                        <input type="text" class="form-control avenir-roman" placeholder="City" ng-click="showCity = (showCity == true)?false:true;" ng-model="searchCity">
                      </div>
                      <ul class="avenir-roman bg-dark-blue" ng-show="showCity">
                        <li ng-repeat="nation in nationality | filter:searchCity track by $index ">
                          <div class="nation-select relate">
                            <input type="radio" id="city{{nation.name}}" name="nation" />
                            <label for="city{{nation.name}}">
                              <span class="color-white">{{nation.name}}</span>
                            </label>
                          </div>
                        </li>
                      </ul>
                    </div>
                    <div class="button-panel clearfix">
                      <button class="btn btn-blue-outline btn-more pull-left" ng-click="goNext(2)">Previous</button>
                      <button class="btn btn-blue-outline btn-more pull-right" ng-click="goNext(4)">Next</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div> -->

<!-- upar wala bus check karne k liye hai asliii wala code neeche hai -->

<div class="container">
  <div class="login-process">
    <div class="row">
      <div class="col-md-offset-3 col-md-6">
        <!-- <div class="verification">
          <div class="text-center">
            <h3 class="color-blue">Verification</h3>
            <p>A 4-digit Verification code has been sent to your registered email address.</p>
            <div class="put-code">
              <form action="">
                <input type="text">
                <input type="text">
                <input type="text">
                <input type="text">
              </form>
            </div>
            <p>If you haven’t received a verification code yet, <span>Click here to <a href="">Re-send</a></span></p>
            <button class="btn btn-blue-outline">Submit</button>
          </div>
        </div> -->

        <!--<div class="verification-complete" ng-show="goNext==1">
            <div class="text-center">
              <h3 class="color-blue avenir-black">Verification</h3>
              <img src="img/verified.png" alt="Verified" class="mt20 mb20 img-responsive m-center">
              <p class="color-blue avenir-roman">Your account has been <span class="block">successfully verified</span></p>
              <div class="button-panel clearfix">
                <button class="btn btn-blue-outline btn-more pull-right" ng-click="goNext=2">Next</button>
              </div>
            </div>
          </div>-->
        <div class="bg-white" ng-init="goNext=2">
          <div class="nationality" ng-show="goNext==2">
            <div class="text-center">
              <h3 class="color-blue avenir-black">Nationality</h3>
              <div class="select-your-nation">
                <div class="search-nation">
                  <input type="text" class="form-control avenir-roman" placeholder="Search" ng-model="searchNation">
                </div>
                <ul class="avenir-roman bg-dark-blue">
                  <li ng-repeat="nation in nationality | filter:searchNation track by $index ">
                    <div class="nation-select relate">
                      <input type="radio" id="{{nation._id}}" name="nation" ng-model="userData.homeCountry" ng-value="nation.name" />
                      <label for="{{nation._id}}">
                        <img ng-src="{{nation.img}}" alt="" class="img-responsive inline-block mr10">
                        <span class="color-white">{{nation.name}}</span>
                      </label>
                    </div>
                  </li>
                </ul>
              </div>
              <div class="button-panel clearfix">
                <button class="btn btn-blue-outline btn-more pull-left" ui-sref="mylife">Skip</button>
                <button class="btn btn-blue-outline btn-more pull-right" ng-click="goNext=3" ng-disabled="!userData.homeCountry">Next</button>
              </div>
            </div>
          </div>
          <div class="city" ng-show="goNext==3">
            <div class="text-center">
              <h3 class="color-blue avenir-black">Where Do You Live ?</h3>
              <div class="select-your-nation select-your-city">
                <div class="search-nation select-city">
                  <input type="text" class="form-control avenir-roman" placeholder="City" ng-model="searchCity" ng-value="userData.homeCity"
                    ng-change="searchByKey(searchCity)">
                </div>
                <ul class="avenir-roman bg-dark-blue">
                  <li ng-repeat="city in cities | filter:searchCity track by $index ">
                    <div class="nation-select relate">
                      <input type="radio" id="{{city.id}}" name="city" ng-value="city.description" ng-model="userData.homeCity" />
                      <label for="{{city.id}}">
                        <span class="color-white">{{city.description}}</span>
                      </label>
                    </div>
                  </li>
                </ul>
              </div>
              <div class="button-panel clearfix">
                <button class="btn btn-blue-outline btn-more pull-left" ng-click="goNext=2">Previous</button>
                <button class="btn btn-blue-outline btn-more pull-right" ng-click="goNext=4" ng-disabled="!userData.homeCity">Next</button>
              </div>
            </div>
          </div>
          <div class="gender" ng-show="goNext==4">
            <div class="text-center">
              <h3 class="color-blue avenir-black">Gender</h3>
              <div class="male inline-block pointer ml20 mr20 mt20" ng-class="{'active-gender': gender==1}" ng-click="changeGender(1,'male');">
                <img src="img/male.png" alt="Gender" class="img-responsive">
                <span class="color-blue avenir-medium">He</span>
              </div>
              <div class="female inline-block pointer ml20 mr20 mt20" ng-class="{'active-gender': gender==2}" ng-click="changeGender(2,'female');"
                female ">
                <img src="img/female.png " alt="Gender " class="img-responsive ">
                <span class="color-blue avenir-medium ">She</span>
              </div>
              <div class="button-panel clearfix ">
                <button class="btn btn-blue-outline btn-more pull-left " ng-click="goNext=3 ">Previous</button>
                <button class="btn btn-blue-outline btn-more pull-right " ng-click="goNext=5 " ng-disabled="!userData.gender ">Next</button>
              </div>
            </div>
          </div>
          <div class="upload-profile " ng-show="goNext==5 ">
            <div class="text-center ">
              <h3 class="color-blue avenir-black ">Upload Profile Photo</h3>
              <div class="cropArea " ng-show="showImage ">
                <img-crop image="myImage " result-image="myCroppedImage "></img-crop>
              </div>
              <div class="upload-section " ng-hide="showImage ">
                <img src="img/upload-icon.jpg " alt=" " class="m-center img-responsive ">
                <p class="text-center color-grey avenir-roman ">Drag a profile photo here</p>
                <span class="block mt10 color-grey avenir-roman ">- or -</span>
                <div class="upload-btn ">
                  <div class="relate inline-block mr10 ">
                    <button class="btn btn-dark-blue pointer avenir-light ">Select a photo from your computer input</button>
                    <input type="file " id="fileInput " class="getfile pointer " />
                    <!--image directive used-->
                     <upload-image ng-model="userData.profilePicture "></upload-image>
                  </div>
                  <div class="relate inline-block ml10 ">
                    <button class="btn btn-dark-blue pointer avenir-roman ">Web Camera</button>
                  </div>
                </div>
              </div>
              <div class="button-panel clearfix ">
                <button class="btn btn-blue-outline btn-more pull-left " ng-click="goNext=4 ">Previous</button>
                <button class="btn btn-blue-outline btn-more pull-right " ui-sref="holiday " ng-click="saveUserData(userData) ">Done</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>