<div class="notification-page">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <!-- Notification Card -->
        <div class="notification-card">
          <!-- notification Content -->
          <div class="notification-content">
            <!-- CLOSE / REMOVE NOTIFICATION -->
            <span class="remove-notification"><i class="fa fa-times"></i></span>
            <!-- CLOSE / REMOVE NOTIFICATION END -->

            <!-- PROFILE PIC AND TIMESTAMP -->
            <div class="notification-profile">
              <img src="img/dishapatani1.jpg" alt="" class="img-responsive">
            </div>
            <p class="notification-timestamp"><i class="fa fa-calendar"></i><span class="ml5 ">1 Jan, 2016</span> | <i class="fa fa-clock-o "></i> 1.50 pm<span></span></p>
            <!-- PROFILE PIC AND TIMESTAMP END -->

            <!-- NOTIFICATION DETAIL -->

            <div class="notification-detail">
              <!-- TAG ON GO -->
              <p class="notification-tagongo"><span class="avenir-heavy color-blue">Andrea Christina </span> wants to tag you in her On The Go Journey - <span class="color-pink"> London Diaries.</span></p>
              <!-- TAG ON GO END -->
            </div>
            <!-- NOTIFICATION DETAIL END -->

            <!-- NOTIFICATION TAG ON GO ACTION  -->
            <div class="notification-action notification-tagongo-action">
              <p class="">Accept <span class="avenir-heavy color-blue">Andrea Christina</span>'s request to create your travel memories together.</p>
              <div class="notification-btn">
                <button type="button" name="button" class="btn btn-notification-card">Accept</button>
                <button type="button" name="button" class="btn btn-notification-card">Decline</button>
              </div>
            </div>
            <!-- NOTIFICATION TAG ON GO ACTION END -->
          </div>
          <!-- notification Content END -->
        </div>
        <!-- Notification Card End -->
      </div>
      <div class="col-md-3">
        <div class="notification-card">
          <div class="notification-content">
            <!-- CLOSE / REMOVE NOTIFICATION -->
            <span class="remove-notification"><i class="fa fa-times"></i></span>
            <!-- CLOSE / REMOVE NOTIFICATION END -->

            <!-- PROFILE PIC AND TIMESTAMP -->
            <div class="notification-profile">
              <img src="img/dishapatani1.jpg" alt="" class="img-responsive">
            </div>
            <p class="notification-timestamp"><i class="fa fa-calendar"></i><span class="ml5 ">1 Jan, 2016</span> | <i class="fa fa-clock-o "></i> 1.50 pm<span></span></p>
            <!-- PROFILE PIC AND TIMESTAMP END -->

            <div class="notification-detail">
              <!-- ENDED ON GO -->
              <p class="notification-tagongo"><span class="avenir-heavy color-blue">Andrea Christina </span> has ended her On The Go Journey - <span class="color-pink"> London Diaries.</span></p>
              <!-- ENDED ON GO  END-->
            </div>

            <!-- NOTIFICATION ENDED ON GO ACTION  -->
            <div class="notification-action notification-endedongo-action">
              <p class="">Would you like to end your journey as well?</p>
              <div class="notification-btn">
                <button type="button" name="button" class="btn btn-notification-card">End</button>
                <button type="button" name="button" class="btn btn-notification-card">Decline</button>
              </div>
            </div>
            <!-- NOTIFICATION ENDED ON GO ACTION END -->
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="notification-card">
          <div class="notification-content">
            <!-- CLOSE / REMOVE NOTIFICATION -->
            <span class="remove-notification"><i class="fa fa-times"></i></span>
            <!-- CLOSE / REMOVE NOTIFICATION END -->

            <!-- PROFILE PIC AND TIMESTAMP -->
            <div class="notification-profile">
              <img src="img/dishapatani1.jpg" alt="" class="img-responsive">
            </div>
            <p class="notification-timestamp"><i class="fa fa-calendar"></i><span class="ml5 ">1 Jan, 2016</span> | <i class="fa fa-clock-o "></i> 1.50 pm<span></span></p>
            <!-- PROFILE PIC AND TIMESTAMP END -->

            <div class="notification-detail">
              <!-- TAG ITINERARY -->
              <p class="notification-tagongo"><span class="avenir-heavy color-blue">Andrea Christina </span> has tagged you in an Itinerary - London Diaries.</p>
              <!-- TAG ITINERARY  END-->
            </div>

            <!-- NOTIFICATION TAG ITINERARY ACTION  -->
            <div class="notification-action notification-tagitinerary-action">
              <p class="">View to add to your My Life.</p>
              <div class="notification-tagitinerary-photo">
                <img src="img/london.jpg" alt="" class="img-responsive get-center">
              </div>
            </div>
            <!-- NOTIFICATION TAG ITINERARY ACTION END -->
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="notification-card">
          <div class="notification-content">
            <!-- CLOSE / REMOVE NOTIFICATION -->
            <span class="remove-notification"><i class="fa fa-times"></i></span>
            <!-- CLOSE / REMOVE NOTIFICATION END -->

            <!-- PROFILE PIC AND TIMESTAMP -->
            <div class="notification-profile">
              <img src="img/dishapatani1.jpg" alt="" class="img-responsive">
            </div>
            <p class="notification-timestamp"><i class="fa fa-calendar"></i><span class="ml5 ">1 Jan, 2016</span> | <i class="fa fa-clock-o "></i> 1.50 pm<span></span></p>
            <!-- PROFILE PIC AND TIMESTAMP END -->

            <div class="notification-detail">
              <!-- CHECK IN ON GO -->
              <p class="notification-checkin-ongo"><span class="avenir-heavy color-blue">Andrea Christina </span> has checked-in you in an On The Go Activity.</p>
              <!-- CHECK IN ON GO  END-->
            </div>

            <!-- NOTIFICATION CHECK IN ON GO ACTION  -->
            <div class="notification-action notification-checkin-ongo-action">
              <div class="notification-checkin-ongo-photo">
                <img src="img/london.jpg" alt="" class="img-responsive get-center">
              </div>
            </div>
            <!-- NOTIFICATION CHECK IN ON GO  ACTION END -->
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3">
        <div class="notification-card">
          <div class="notification-content">
            <!-- CLOSE / REMOVE NOTIFICATION -->
            <span class="remove-notification"><i class="fa fa-times"></i></span>
            <!-- CLOSE / REMOVE NOTIFICATION END -->

            <!-- PROFILE PIC AND TIMESTAMP -->
            <div class="notification-profile">
              <img src="img/dishapatani1.jpg" alt="" class="img-responsive">
            </div>
            <p class="notification-timestamp"><i class="fa fa-calendar"></i><span class="ml5 ">1 Jan, 2016</span> | <i class="fa fa-clock-o "></i> 1.50 pm<span></span></p>
            <!-- PROFILE PIC AND TIMESTAMP END -->

            <div class="notification-detail">
              <!--ADD PHOTOS ON GO -->
              <p class="notification-addpic-ongo"><span class="avenir-heavy color-blue">Andrea Christina </span> has added photos of you'll to the On The Go Journey.</p>
              <!-- ADD PHOTOS ON GO  END-->
            </div>

            <!-- NOTIFICATION ADD PHOTOS ON GO ACTION  -->
            <div class="notification-action notification-addpic-ongo-action">
              <div class="notification-addpic-ongo-photo">
                <img src="img/london.jpg" alt="" class="img-responsive get-center">
              </div>
              <div class="notification-addpic-ongo-photo ml5">
                <img src="img/london.jpg" alt="" class="img-responsive get-center">
                <span class="addpic-count"><span>10</span> Images</span>
              </div>
            </div>
            <!-- NOTIFICATION ADD PHOTOS ON GO  ACTION END -->
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="notification-card">
          <div class="notification-content">
            <!-- CLOSE / REMOVE NOTIFICATION -->
            <span class="remove-notification"><i class="fa fa-times"></i></span>
            <!-- CLOSE / REMOVE NOTIFICATION END -->

            <!-- PROFILE PIC AND TIMESTAMP -->
            <div class="notification-profile">
              <img src="img/dishapatani1.jpg" alt="" class="img-responsive">
            </div>
            <p class="notification-timestamp"><i class="fa fa-calendar"></i><span class="ml5 ">1 Jan, 2016</span> | <i class="fa fa-clock-o "></i> 1.50 pm<span></span></p>
            <!-- PROFILE PIC AND TIMESTAMP END -->

            <div class="notification-detail">
              <!--ADD VIDEO ON GO -->
              <p class="notification-addvideo-ongo"><span class="avenir-heavy color-blue">Andrea Christina </span> has added a video of you'll to the On The Go Journey.</p>
              <!-- ADD VIDEO ON GO  END-->
            </div>

            <!-- NOTIFICATION ADD VIDEO ON GO ACTION  -->
            <div class="notification-action notification-addvideo-ongo-action">
              <div class="notification-addvideo-ongo-photo">
                <img src="img/london.jpg" alt="" class="img-responsive get-center">
                <span class="notification-video-thumbicon color-pink"><i class="fa fa-youtube-play"></i></span>
              </div>
            </div>
            <!-- NOTIFICATION ADD VIDEO ON GO  ACTION END -->
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="notification-card">
          <div class="notification-content">
            <!-- CLOSE / REMOVE NOTIFICATION -->
            <span class="remove-notification"><i class="fa fa-times"></i></span>
            <!-- CLOSE / REMOVE NOTIFICATION END -->

            <!-- PROFILE PIC AND TIMESTAMP -->
            <div class="notification-profile">
              <img src="img/dishapatani1.jpg" alt="" class="img-responsive">
            </div>
            <p class="notification-timestamp"><i class="fa fa-calendar"></i><span class="ml5 ">1 Jan, 2016</span> | <i class="fa fa-clock-o "></i> 1.50 pm<span></span></p>
            <!-- PROFILE PIC AND TIMESTAMP END -->

            <div class="notification-detail">
              <!--ADD THOUGHT ON GO -->
              <p class="notification-addthought-ongo"><span class="avenir-heavy color-blue">Andrea Christina </span> has tagged you in a thought in an On The Go Journey Activity.</p>
              <!-- ADD THOUGHT ON GO  END-->
            </div>

            <!-- NOTIFICATION ADD THOUGHT ON GO ACTION  -->
            <div class="notification-action notification-addthought-ongo-action">
              <p>"<span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam placeat quisquam perspiciatis veritatis, </span>"</p>
            </div>
            <!-- NOTIFICATION ADD THOUGHT ON GO  ACTION END -->
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="notification-card">
          <div class="notification-content">
            <!-- CLOSE / REMOVE NOTIFICATION -->
            <span class="remove-notification"><i class="fa fa-times"></i></span>
            <!-- CLOSE / REMOVE NOTIFICATION END -->

            <!-- PROFILE PIC AND TIMESTAMP -->
            <div class="notification-profile">
              <img src="img/dishapatani1.jpg" alt="" class="img-responsive">
            </div>
            <p class="notification-timestamp"><i class="fa fa-calendar"></i><span class="ml5 ">1 Jan, 2016</span> | <i class="fa fa-clock-o "></i> 1.50 pm<span></span></p>
            <!-- PROFILE PIC AND TIMESTAMP END -->

            <div class="notification-detail">
              <!-- STARTED FOLLOWING -->
              <p class="notification-started-following"><span class="avenir-heavy color-blue">Andrea Christina </span> has started following you.</p>
              <!-- STARTED FOLLOWING-->
            </div>

            <!-- NOTIFICATION STARTED FOLLOWING ACTION  -->
            <div class="notification-action notification-started-following-action">
              <div>
                <div class="notification-follower-detail">
                  <span class="notifcation-follower-count">1.4m</span>
                  <span class="notifcation-follower-property">Followers</span>
                </div>
                <div class="notification-follower-detail">
                  <span class="notifcation-follower-count">30</span>
                  <span class="notifcation-follower-property">Countries Visited</span>
                </div>
                <div class="notification-follower-detail">
                  <span class="notifcation-follower-count">20</span>
                  <span class="notifcation-follower-property">Journeys</span>
                </div>
              </div>
              <div class="notification-btn">
                <button type="button" name="button" class="btn btn-notificationpink-card">Follow</button>
              </div>
            </div>
            <!-- NOTIFICATION STARTED FOLLOWING  ACTION END -->
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3">
        <div class="notification-card">
          <div class="notification-content">
            <!-- CLOSE / REMOVE NOTIFICATION -->
            <span class="remove-notification"><i class="fa fa-times"></i></span>
            <!-- CLOSE / REMOVE NOTIFICATION END -->

            <!-- PROFILE PIC AND TIMESTAMP -->
            <div class="notification-profile">
              <img src="img/dishapatani1.jpg" alt="" class="img-responsive">
            </div>
            <p class="notification-timestamp"><i class="fa fa-calendar"></i><span class="ml5 ">1 Jan, 2016</span> | <i class="fa fa-clock-o "></i> 1.50 pm<span></span></p>
            <!-- PROFILE PIC AND TIMESTAMP END -->

            <div class="notification-detail">
              <!-- request FOLLOWING -->
              <p class="notification-started-following"><span class="avenir-heavy color-blue">Andrea Christina </span> has requested to follow your travel and local activities.</p>
              <!-- request FOLLOWING-->
            </div>

            <!-- NOTIFICATION request FOLLOWING ACTION  -->
            <div class="notification-action notification-started-following-action">
              <div>
                <div class="notification-follower-detail">
                  <span class="notifcation-follower-count">1.4m</span>
                  <span class="notifcation-follower-property">Followers</span>
                </div>
                <div class="notification-follower-detail">
                  <span class="notifcation-follower-count">30</span>
                  <span class="notifcation-follower-property">Countries Visited</span>
                </div>
                <div class="notification-follower-detail">
                  <span class="notifcation-follower-count">20</span>
                  <span class="notifcation-follower-property">Journeys</span>
                </div>
              </div>
              <div class="notification-btn">
                <button type="button" name="button" class="btn btn-notification-card">Accept</button>
                <button type="button" name="button" class="btn btn-notification-card">Decline</button>
              </div>
            </div>
            <!-- NOTIFICATION request FOLLOWING  ACTION END -->
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="notification-card">
          <div class="notification-content">
            <!-- CLOSE / REMOVE NOTIFICATION -->
            <span class="remove-notification"><i class="fa fa-times"></i></span>
            <!-- CLOSE / REMOVE NOTIFICATION END -->

            <!-- PROFILE PIC AND TIMESTAMP -->
            <div class="notification-profile">
              <img src="img/dishapatani1.jpg" alt="" class="img-responsive">
            </div>
            <p class="notification-timestamp"><i class="fa fa-calendar"></i><span class="ml5 ">1 Jan, 2016</span> | <i class="fa fa-clock-o "></i> 1.50 pm<span></span></p>
            <!-- PROFILE PIC AND TIMESTAMP END -->

            <div class="notification-detail">
              <!--COMMENT PHOTOS ON GO -->
              <p class="notification-addpic-ongo"><span class="avenir-heavy color-blue">Andrea Christina </span> has commented on a photo in your On The Go Journey.</p>
              <!-- COMMENT PHOTOS ON GO  END-->
            </div>

            <!-- NOTIFICATION COMMENT PHOTOS ON GO ACTION  -->
            <div class="notification-action notification-addpic-ongo-action">
              <div class="notification-addpic-ongo-photo">
                <img src="img/london.jpg" alt="" class="img-responsive get-center">
              </div>
              <div class="notification-addpic-ongo-photo ml5 hide">
                <img src="img/london.jpg" alt="" class="img-responsive get-center">
                <span class="addpic-count"><span>10</span> Images</span>
              </div>
            </div>
            <!-- NOTIFICATION COMMENT PHOTOS ON GO  ACTION END -->
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="notification-card">
          <div class="notification-content">
            <!-- CLOSE / REMOVE NOTIFICATION -->
            <span class="remove-notification"><i class="fa fa-times"></i></span>
            <!-- CLOSE / REMOVE NOTIFICATION END -->

            <!-- PROFILE PIC AND TIMESTAMP -->
            <div class="notification-profile">
              <img src="img/dishapatani1.jpg" alt="" class="img-responsive">
            </div>
            <p class="notification-timestamp"><i class="fa fa-calendar"></i><span class="ml5 ">1 Jan, 2016</span> | <i class="fa fa-clock-o "></i> 1.50 pm<span></span></p>
            <!-- PROFILE PIC AND TIMESTAMP END -->

            <div class="notification-detail">
              <!--COMMENT PHOTOS ON GO -->
              <p class="notification-addpic-ongo"><span class="avenir-heavy color-blue">Andrea Christina </span> has commented on a photo in your Local Life.</p>
              <!-- COMMENT PHOTOS ON GO  END-->
            </div>

            <!-- NOTIFICATION COMMENT PHOTOS ON GO ACTION  -->
            <div class="notification-action notification-addpic-ongo-action">
              <div class="notification-addpic-ongo-photo">
                <img src="img/london.jpg" alt="" class="img-responsive get-center">
              </div>
              <div class="notification-addpic-ongo-photo ml5 hide">
                <img src="img/london.jpg" alt="" class="img-responsive get-center">
                <span class="addpic-count"><span>10</span> Images</span>
              </div>
            </div>
            <!-- NOTIFICATION COMMENT PHOTOS ON GO  ACTION END -->
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="notification-card">
          <div class="notification-content">
            <!-- CLOSE / REMOVE NOTIFICATION -->
            <span class="remove-notification"><i class="fa fa-times"></i></span>
            <!-- CLOSE / REMOVE NOTIFICATION END -->

            <!-- PROFILE PIC AND TIMESTAMP -->
            <div class="notification-profile">
              <img src="img/dishapatani1.jpg" alt="" class="img-responsive">
            </div>
            <p class="notification-timestamp"><i class="fa fa-calendar"></i><span class="ml5 ">1 Jan, 2016</span> | <i class="fa fa-clock-o "></i> 1.50 pm<span></span></p>
            <!-- PROFILE PIC AND TIMESTAMP END -->

            <div class="notification-detail">
              <!--ADD COMMENT ON GO -->
              <p class="notification-addvideo-ongo"><span class="avenir-heavy color-blue">Andrea Christina </span> has commented on a video in your On The Go Journey.</p>
              <!-- ADD COMMENT ON GO  END-->
            </div>

            <!-- NOTIFICATION COMMENT VIDEO ON GO ACTION  -->
            <div class="notification-action notification-addvideo-ongo-action">
              <div class="notification-addvideo-ongo-photo">
                <img src="img/london.jpg" alt="" class="img-responsive get-center">
                <span class="notification-video-thumbicon color-pink"><i class="fa fa-youtube-play"></i></span>
              </div>
            </div>
            <!-- NOTIFICATION COMMENT VIDEO ON GO  ACTION END -->
          </div>
        </div>
      </div>

    </div>

    <div class="row">
      <div class="col-md-3">
        <div class="notification-card">
          <div class="notification-content">
            <!-- CLOSE / REMOVE NOTIFICATION -->
            <span class="remove-notification"><i class="fa fa-times"></i></span>
            <!-- CLOSE / REMOVE NOTIFICATION END -->

            <!-- PROFILE PIC AND TIMESTAMP -->
            <div class="notification-profile">
              <img src="img/dishapatani1.jpg" alt="" class="img-responsive">
            </div>
            <p class="notification-timestamp"><i class="fa fa-calendar"></i><span class="ml5 ">1 Jan, 2016</span> | <i class="fa fa-clock-o "></i> 1.50 pm<span></span></p>
            <!-- PROFILE PIC AND TIMESTAMP END -->

            <div class="notification-detail">
              <!--ADD COMMENT ON GO -->
              <p class="notification-addvideo-ongo"><span class="avenir-heavy color-blue">Andrea Christina </span> has commented on a video in your Local Life.</p>
              <!-- ADD COMMENT ON GO  END-->
            </div>

            <!-- NOTIFICATION COMMENT VIDEO ON GO ACTION  -->
            <div class="notification-action notification-addvideo-ongo-action">
              <div class="notification-addvideo-ongo-photo">
                <img src="img/london.jpg" alt="" class="img-responsive get-center">
                <span class="notification-video-thumbicon color-pink"><i class="fa fa-youtube-play"></i></span>
              </div>
            </div>
            <!-- NOTIFICATION COMMENT VIDEO ON GO  ACTION END -->
          </div>
        </div>
      </div>


      <div class="col-md-3">
        <div class="notification-card">
          <div class="notification-content">
            <!-- CLOSE / REMOVE NOTIFICATION -->
            <span class="remove-notification"><i class="fa fa-times"></i></span>
            <!-- CLOSE / REMOVE NOTIFICATION END -->

            <!-- PROFILE PIC AND TIMESTAMP -->
            <div class="notification-profile">
              <img src="img/dishapatani1.jpg" alt="" class="img-responsive">
            </div>
            <p class="notification-timestamp"><i class="fa fa-calendar"></i><span class="ml5 ">1 Jan, 2016</span> | <i class="fa fa-clock-o "></i> 1.50 pm<span></span></p>
            <!-- PROFILE PIC AND TIMESTAMP END -->

            <div class="notification-detail">
              <!-- ACCEPTED REQUEST -->
              <p class="notification-addvideo-ongo"><span class="avenir-heavy color-blue">Andrea Christina </span> has accepted your follow request.</p>
              <!-- ACCEPTED REQUEST  END-->

              <!-- COMMENT ON GO -->
              <p class="notification-addvideo-ongo"><span class="avenir-heavy color-blue">Andrea Christina </span> has commented on your On The Go Activity.</p>
              <!-- COMMENT ON GO  END-->

              <!-- COMMENT LOCAL LIFE -->
              <p class="notification-addvideo-ongo"><span class="avenir-heavy color-blue">Andrea Christina </span> has commented on your Local Life.</p>
              <!-- COMMENT LOCAL LIFE  END-->

              <!-- Mentioned in Comment -->
              <p class="notification-addvideo-ongo"><span class="avenir-heavy color-blue">Andrea Christina </span> has mentioned you in a comment.</p>
              <!-- Mentioned in Comment  END-->
            </div>
          </div>
        </div>
      </div>


      <div class="col-md-3">
        <div class="notification-card">
          <div class="notification-content">
            <!-- CLOSE / REMOVE NOTIFICATION -->
            <span class="remove-notification"><i class="fa fa-times"></i></span>
            <!-- CLOSE / REMOVE NOTIFICATION END -->

            <!-- PROFILE PIC AND TIMESTAMP -->
            <div class="notification-profile">
              <img src="img/dishapatani1.jpg" alt="" class="img-responsive">
            </div>
            <p class="notification-timestamp"><i class="fa fa-calendar"></i><span class="ml5 ">1 Jan, 2016</span> | <i class="fa fa-clock-o "></i> 1.50 pm<span></span></p>
            <!-- PROFILE PIC AND TIMESTAMP END -->

            <div class="notification-detail">
              <!-- LIKED ON GO -->
              <p class="notification-addvideo-ongo"><span class="avenir-heavy color-blue">Andrea Christina </span> has liked your On The Go Activity.</p>
              <!-- LIKED ON GO  END-->

              <!-- LIKED LOCAL LIFE -->
              <p class="notification-addvideo-ongo"><span class="avenir-heavy color-blue">Andrea Christina </span> has liked your Local Life Activity.</p>
              <!-- v LOCAL LIFE  END-->

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
