<div class="notification-page">
  <div class="container">
    <div class="row">
      <div class="col-md-3" ng-repeat="notification in notificationCard track by $index">
        <!-- Notification Card -->
        <div class="notification-card">
          <!-- notification Content -->
          <div class="notification-content">
            <!-- CLOSE / REMOVE NOTIFICATION -->
            <span class="remove-notification"><i class="fa fa-times"></i></span>
            <!-- CLOSE / REMOVE NOTIFICATION END -->

            <!-- PROFILE PIC AND TIMESTAMP -->
            <div class="notification-profile">
              <img src="img/dishapatani1.jpg" alt="" class="img-responsive">
            </div>
            <p class="notification-timestamp"><i class="fa fa-calendar"></i><span class="ml5 ">1 Jan, 2016</span> | <i class="fa fa-clock-o "></i> 1.50 pm<span></span></p>
            <!-- PROFILE PIC AND TIMESTAMP END -->

            <!-- NOTIFICATION DETAIL -->
            <div class="notification-detail">
              <!-- TAG ON GO -->
              <p class="notification-tagongo" ng-if="notification.notiType == 'tagOnGo'"><span class="avenir-heavy color-blue">Andrea Christina </span> wants to tag you in her On The Go Journey - <span class="color-pink"> London Diaries.</span></p>
              <!-- TAG ON GO END -->

              <!-- ENDED ON GO -->
              <p class="notification-tagongo" ng-if="notification.notiType == 'endOnGo'"><span class="avenir-heavy color-blue">Andrea Christina </span> has ended her On The Go Journey - <span class="color-pink"> London Diaries.</span></p>
              <!-- ENDED ON GO  END-->

              <!-- TAG ITINERARY -->
              <p class="notification-tagongo" ng-if="notification.notiType == 'tagItinerary'"><span class="avenir-heavy color-blue">Andrea Christina </span> has tagged you in an Itinerary - <span>London Diaries.</span></p>
              <!-- TAG ITINERARY  END-->

              <!-- CHECK IN ON GO -->
              <p class="notification-checkin-ongo" ng-if="notification.notiType == 'checkinOnGo'"><span class="avenir-heavy color-blue">Andrea Christina </span> has checked-in you in an On The Go Activity.</p>
              <!-- CHECK IN ON GO  END-->

              <!--ADD PHOTOS ON GO -->
              <p class="notification-addpic-ongo" ng-if="notification.notiType == 'addPicOnGo'"><span class="avenir-heavy color-blue">Andrea Christina </span> has added photos of you'll to the On The Go Journey.</p>
              <!-- ADD PHOTOS ON GO  END-->

              <!--COMMENT PHOTOS ON GO -->
              <p class="notification-addpic-ongo" ng-if="notification.notiType == 'commentPicOnGo'"><span class="avenir-heavy color-blue">Andrea Christina </span> has commented on a photo in your On The Go Journey.</p>
              <!-- COMMENT PHOTOS ON GO  END-->

              <!--COMMENT PHOTOS LOCAL LIFE -->
              <p class="notification-addpic-ongo" ng-if="notification.notiType == 'commentPicLocal'"><span class="avenir-heavy color-blue">Andrea Christina </span> has commented on a photo in your Local Life.</p>
              <!-- COMMENT PHOTOS LOCAL LIFE END-->

              <!--ADD VIDEO ON GO -->
              <p class="notification-addvideo-ongo" ng-if="notification.notiType == 'addVideoOnGo'"><span class="avenir-heavy color-blue">Andrea Christina </span> has added a video of you'll to the On The Go Journey.</p>
              <!-- ADD VIDEO ON GO  END-->

              <!--ADD COMMENT VIDEO ON GO -->
              <p class="notification-addvideo-ongo" ng-if="notification.notiType == 'commentVideoOnGo'"><span class="avenir-heavy color-blue">Andrea Christina </span> has commented on a video in your On The Go Journey.</p>
              <!-- ADD COMMENT VIDEO ON GO  END-->

              <!--ADD COMMENT VIDEO LOCAL -->
              <p class="notification-addvideo-ongo" ng-if="notification.notiType == 'commentVideoLocal'"><span class="avenir-heavy color-blue">Andrea Christina </span> has commented on a video in your Local Life.</p>
              <!-- ADD COMMENT VIDEO LOCAL  END-->

              <!--ADD THOUGHT ON GO -->
              <p class="notification-addthought-ongo" ng-if="notification.notiType == 'addThought'"><span class="avenir-heavy color-blue">Andrea Christina </span> has tagged you in a thought in an On The Go Journey Activity.</p>
              <!-- ADD THOUGHT ON GO  END-->

              <!-- STARTED FOLLOWING -->
              <p class="notification-started-following" ng-if="notification.notiType == 'startedFollowing'"><span class="avenir-heavy color-blue">Andrea Christina </span> has started following you.</p>
              <!-- STARTED FOLLOWING END -->

              <!-- REQUEST FOLLOW -->
              <p class="notification-started-following" ng-if="notification.notiType == 'requestFollow'"><span class="avenir-heavy color-blue">Andrea Christina </span> has requested to follow your travel and local activities.</p>
              <!-- REQUEST FOLLOW END -->

              <!-- ACCEPTED REQUEST -->
              <p class="notification-addvideo-ongo" ng-if="notification.notiType == 'acceptedRequest'"><span class="avenir-heavy color-blue">Andrea Christina </span> has accepted your follow request.</p>
              <!-- ACCEPTED REQUEST  END-->

              <!-- COMMENT ON GO -->
              <p class="notification-addvideo-ongo" ng-if="notification.notiType == 'commentOnGo'"><span class="avenir-heavy color-blue">Andrea Christina </span> has commented on your On The Go Activity.</p>
              <!-- COMMENT ON GO  END-->

              <!-- COMMENT LOCAL LIFE -->
              <p class="notification-addvideo-ongo" ng-if="notification.notiType == 'commentLocal'"><span class="avenir-heavy color-blue">Andrea Christina </span> has commented on your Local Life.</p>
              <!-- COMMENT LOCAL LIFE  END-->

              <!-- MENTIONED IN COMMENT -->
              <p class="notification-addvideo-ongo" ng-if="notification.notiType == 'commentMention'"><span class="avenir-heavy color-blue">Andrea Christina </span> has mentioned you in a comment.</p>
              <!-- MENTIONED IN COMMENT  END-->

              <!-- LIKED ON GO -->
              <p class="notification-addvideo-ongo" ng-if="notification.notiType == 'likedOnGo'"><span class="avenir-heavy color-blue">Andrea Christina </span> has liked your On The Go Activity.</p>
              <!-- LIKED ON GO  END-->

              <!-- LIKED LOCAL LIFE -->
              <p class="notification-addvideo-ongo" ng-if="notification.notiType == 'likedLocal'"><span class="avenir-heavy color-blue">Andrea Christina </span> has liked your Local Life Activity.</p>
              <!-- LIKED LOCAL LIFE  END-->

              <!-- FIRST LOCAL LIFE -->
              <p class="notification-addvideo-ongo" ng-if="notification.notiType == 'firstLocalLife'"><span class="avenir-heavy color-blue">Andrea Christina </span> has added a post to his Local Life for the very first time.</p>
              <!-- FIRST LOCAL LIFE  END-->

              <!-- NEWBIE TO WINGS -->
              <p class="notification-addvideo-ongo" ng-if="notification.notiType == 'newbieWings'"><span class="avenir-heavy color-blue">Andrea Christina </span> has added a post to his Local Life for the very first time.</p>
              <!-- NEWBIE TO WINGS  END-->

              <!-- WINGS TO GLOBE -->
              <p class="notification-addvideo-ongo" ng-if="notification.notiType == 'wingsGlobe'"><span class="avenir-heavy color-blue">Andrea Christina </span> has added a post to his Local Life for the very first time.</p>
              <!-- WINGS TO GLOBE END-->

              <!-- GLOBE TO WAYFARER -->
              <p class="notification-addvideo-ongo" ng-if="notification.notiType == 'globeWafarer'"><span class="avenir-heavy color-blue">Andrea Christina </span> has added a post to his Local Life for the very first time.</p>
              <!-- GLOBE TO WAYFARER  END-->

              <!-- WAYFARER TO NOMAD -->
              <p class="notification-addvideo-ongo" ng-if="notification.notiType == 'wayfarerNomad'"><span class="avenir-heavy color-blue">Andrea Christina </span> has added a post to his Local Life for the very first time.</p>
              <!-- WAYFARER TO NOMAD  END-->

            </div>
            <!-- NOTIFICATION DETAIL END -->

            <!-- NOTIFICATION TAG ON GO ACTION  -->
            <div class="notification-action notification-tagongo-action">
              <!-- TAG ON GO -->
              <div class="notification-tagongo-action" ng-if="notification.notiType == 'tagOnGo'">
                <p class="">Accept <span class="avenir-heavy color-blue">Andrea Christina</span>'s request to create your travel memories together.</p>
                <!-- ACCEPT DECLINE BUTTONS -->
                <div class="notification-btn">
                  <button type="button" name="button" class="btn btn-notification-card">Accept</button>
                  <button type="button" name="button" class="btn btn-notification-card">Decline</button>
                </div>
                <!-- ACCEPT DECLINE BUTTONS END -->
              </div>
              <!-- TAG ON GO END -->

              <!-- END ON GO -->
              <div class="notification-endongo-action" ng-if="notification.notiType == 'endOnGo'">
                <p class="">Would you like to end your journey as well?</p>
                <!-- END DECLINE BUTTONS -->
                <div class="notification-btn">
                  <button type="button" name="button" class="btn btn-notification-card">End</button>
                  <button type="button" name="button" class="btn btn-notification-card">Decline</button>
                </div>
                <!-- END DECLINE BUTTONS END -->
              </div>
              <!-- END ON GO END -->

              <!-- ADD THOUGHT -->
              <p ng-if="notification.notiType == 'addThought'">"<span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam placeat quisquam perspiciatis veritatis, </span>"</p>
              <!-- ADD THOUGHT END -->

              <!-- FOLLOWER DETAILS -->
              <div class="" ng-if="notification.notiType == 'requestFollow'">
                <div class="follower-details" ng-if="notification.notiType == 'startedFollowing'|| notification.notiType == 'requestFollow'">
                  <div class="notification-follower-detail">
                    <span class="notifcation-follower-count">1.4m</span>
                    <span class="notifcation-follower-property">Followers</span>
                  </div>
                  <div class="notification-follower-detail">
                    <span class="notifcation-follower-count">30</span>
                    <span class="notifcation-follower-property">Countries Visited</span>
                  </div>
                  <div class="notification-follower-detail">
                    <span class="notifcation-follower-count">20</span>
                    <span class="notifcation-follower-property">Journeys</span>
                  </div>
                </div>
                <!-- ACCEPT DECLINE BUTTONS -->
                <div class="notification-btn">
                  <button type="button" name="button" class="btn btn-notification-card">Accept</button>
                  <button type="button" name="button" class="btn btn-notification-card">Decline</button>
                </div>
                <!-- ACCEPT DECLINE BUTTONS END -->
              </div>
              <!-- FOLLOWER DETAILS END -->

              <!-- FOLLOWER DETAILS -->
              <div class="" ng-if="notification.notiType == 'startedFollowing'">
                <div class="follower-details">
                  <div class="notification-follower-detail">
                    <span class="notifcation-follower-count">1.4m</span>
                    <span class="notifcation-follower-property">Followers</span>
                  </div>
                  <div class="notification-follower-detail">
                    <span class="notifcation-follower-count">30</span>
                    <span class="notifcation-follower-property">Countries Visited</span>
                  </div>
                  <div class="notification-follower-detail">
                    <span class="notifcation-follower-count">20</span>
                    <span class="notifcation-follower-property">Journeys</span>
                  </div>
                </div>

                <!-- FOLLOW BUTTON -->
                <div class="notification-btn">
                  <button type="button" name="button" class="btn btn-notificationpink-card">Follow</button>
                </div>
                <!-- FOLLOW BUTTON END -->
              </div>
              <!-- FOLLOWER DETAILS END -->

              <!-- TAG ITINERARY -->
              <div class="notification-tagitinerary-action" ng-if="notification.notiType == 'tagItinerary'">
                <p class="">View to add to your My Life.</p>
                <div class="notification-tagitinerary-photo">
                  <img src="img/london.jpg" alt="" class="img-responsive get-center">
                </div>
              </div>
              <!-- TAG ITINERARY END -->

              <!-- CHECKIN ON GO -->
              <div class="notification-checkin-ongo-photo" ng-if="notification.notiType == 'checkinOnGo'">
                <img src="img/london.jpg" alt="" class="img-responsive get-center">
              </div>
              <!-- CHECKIN ON GO END -->

              <!-- NEWBIE TO WINGS -->
              <div class="notification-checkin-ongo-photo" ng-if="notification.notiType == 'newbieWings'">
                <img src="img/notification/newbie-wings.jpg" alt="" class="img-responsive get-center">
              </div>
              <!-- NEWBIE TO WINGS END -->

              <!-- WINGS TO GLOBE -->
              <div class="notification-checkin-ongo-photo" ng-if="notification.notiType == 'wingsGlobe'">
                <img src="img/notification/wings-globe.jpg" alt="" class="img-responsive get-center">
              </div>
              <!-- WINGS TO GLOBE END -->

              <!-- GLOBE TO WAYFARER -->
              <div class="notification-checkin-ongo-photo" ng-if="notification.notiType == 'globeWafarer'">
                <img src="img/notification/globe-wayfarer.jpg" alt="" class="img-responsive get-center">
              </div>
              <!-- GLOBE TO WAYFARER END -->

              <!-- WAYFARER TO NOMAD -->
              <div class="notification-checkin-ongo-photo" ng-if="notification.notiType == 'wayfarerNomad'">
                <img src="img/notification/wayfarer-nomad.jpg" alt="" class="img-responsive get-center">
              </div>
              <!-- WAYFARER TO NOMAD END -->

              <!-- ADD / COMMENT PHOTO -->
              <div class="notification-addpic-ongo-action" ng-if="notification.notiType == 'addPicOnGo' || notification.notiType == 'commentPicOnGo' || notification.notiType == 'commentPicLocal'">
                <div class="notification-addpic-ongo-photo">
                  <img src="img/london.jpg" alt="" class="img-responsive get-center">
                </div>
                <div class="notification-addpic-ongo-photo ml5">
                  <img src="img/london.jpg" alt="" class="img-responsive get-center">
                  <span class="addpic-count"><span>10</span> More</span>
                </div>
              </div>
              <!-- ADD / COMMENT PHOTO END -->

              <!-- ADD / COMMENT VIDEO  -->
              <div class="notification-addvideo-ongo-photo" ng-if="notification.notiType == 'addVideoOnGo' || notification.notiType == 'commentVideoOnGo' || notification.notiType == 'commentVideoLocal'">
                <img src="img/london.jpg" alt="" class="img-responsive get-center">
                <span ng-if="notification.notiType == 'addVideoOnGo' || notification.notiType == 'commentVideoOnGo'" class="notification-video-thumbicon color-pink"><i class="fa fa-youtube-play"></i></span>
                <span ng-if="notification.notiType == 'commentVideoLocal'" class="notification-video-thumbicon notification-youtube-local"><i class="fa fa-youtube-play"></i></span>
              </div>
              <!-- ADD / COMMENT VIDEO END -->

            </div>
            <!-- NOTIFICATION TAG ON GO ACTION END -->
          </div>
          <!-- notification Content END -->
        </div>
        <!-- Notification Card End -->
      </div>
      <!-- col-md-3 end -->
    </div>
    <!-- row end -->
  </div>
</div>
