<div class="relate" auto-height>
  <div class="map-journey">
    <div id="map" class="get-map-height">
    </div>
  </div>
  <div class="on-go-journey">
    <div class="container-fluid">
      <!-- on go journey main -->
      <div class="ongo-journey-main">
        <!-- strip journey -->
        <div class="journey-info-strip clearfix">
          <div class="pull-left">
            <!-- own journey -->
            <div class="own-journey">
              <div class="profile-info">
                <div class="user-img-ongo">
                  <img src="{{userData.profilePicture|uploadpath}}" alt="" class="img-responsive">
                </div>
                <h4 class="avenir-heavy color-blue">{{userData.name}}</h4>
              </div>
            </div>
            <!-- own journey end -->
            <!-- trip list -->
            <div class="trip-list">
              <ul>
                <li>
                  <a href="">
                    <div class="trip-info">
                      <span class="avenir-roman">Trip Travellers :</span>
                      <span class="avenir-heavy">302</span>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="">
                    <div class="trip-info">
                      <img src="img/camera-blue.png" alt="camera">
                      <span class="avenir-heavy">{{journey.count.photos}}</span>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="">
                    <div class="trip-info">
                      <img src="img/video-blue.png" alt="camera">
                      <span class="avenir-heavy">{{journey.count.videos}}</span>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="">
                    <div class="trip-info">
                      <img src="img/location-blue.png" alt="camera">
                      <span class="avenir-heavy">{{journey.count.checkIns}}</span>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="">
                    <div class="trip-info">
                      <img src="img/thought.png" alt="camera">
                      <span class="avenir-heavy">{{journey.count.thoughts}}</span>
                    </div>
                  </a>
                </li>
              </ul>
            </div>
            <!-- trip list end-->
            <div class="btn-summary">
              <button class="btn btn-outline-blue avenir-heavy" ui-sref="tripsummary({id:journey._id})">Trip Summary</button>
            </div>
          </div>
          <div class="pull-right">
            <div class="share-trip-journey relate" ng-click="shareSocial();">
              <img src="img/share.png" alt="Share" width="11">
              <span class="color-blue avenir-heavy">Share</span>
              <div class="share-dropdown" ng-show="viewSocialShare">
                <ul>
                  <li><a href="" class="fb-icon"><i class="fa fa-facebook-square fa-2x"></i></a></li>
                  <li><a href="" class="twi-icon"><i class="fa fa-twitter-square fa-2x"></i></a></li>
                  <li><a href="" class="google-icon"><i class="fa fa-google-plus-square fa-2x"></i></a></li>
                  <li><a href="" class="pin-icon"><i class="fa fa-pinterest-square fa-2x"></i></a></li>
                  <li><a href="" class="linkedin-icon"><i class="fa fa-linkedin-square fa-2x"></i></a></li>
                  <li><a href="" class="mail-icon"><i class="fa fa-envelope-square fa-2x"></i></a></li>
                </ul>
              </div>
            </div>
            <div class="following hide">
              <span class="color-blue avenir-medium">Following</span>
            </div>
            <div class="edit-journey relate">
              <span class="color-blue pointer" ng-click="editJourney = !editJourney">Edit This Journey</span>
              <div class="edit-journey-dropdown" ng-show="editJourney">
                <ul>
                  <li><a href="" title="Journey Cover Photo" ng-click="coverPhoto(journey._id);">Journey Cover Photo</a></li>
                  <li><a href="" title="Journey Name" ng-click="nameJourney(journey.name);">Journey Name</a></li>
                  <li><a href="" title="Reviews Countries Visited" ng-click="countryReview();">Reviews Countries Visited</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <!-- strip journey end-->
        <div class="ongo-card-holder">
          <!-- journey tab view -->
          <div class="journey-tab-view">
            <!-- journey started -->
            <div class="started-journey-card">
              <div class="relate text-center">
                <div class="journey-start">
                  <img src="img/ongojourney/journey-step.png" alt="" class="img-responsive m-center" width="55">
                  <h4 class="avenir-roman color-blue">Exploring <span class="block">{{journey.name}}</span></h4>
                  <div class="you-in">
                    <img src="img/ongojourney/you-are-in.png" alt="" class="img-responsive m-center" width="200">
                  </div>
                </div>
              </div>
              <div class="box-start-journey">
                <!-- header started -->
                <div class="started-heading relate text-center clearfix">
                  <h4 class="color-white avenir-light">{{journey.startLocation}}</h4>
                  <p class="color-white m-clear"><i class="fa fa-calendar mr5"></i><span>{{journey.startTime|formatDate: 'date'}}</span> | <i class="fa fa-clock-o mr5"></i><span>{{journey.startTime|formatDate: 'time'}}</span></p>
                </div>
                <!-- header started end-->
                <div class="journey-imgholder ">
                  <img ng-src="{{journey.startLocationPic | uploadpath}}" alt="" class="img-responsive">
                  <!--- google image --->
                </div>
                <div class="travelling-journey-type">
                  <div class="clearfix">
                    <div class="pull-left">
                      <ul>
                        <li>
                          <a href="">
                            <img ng-src="{{journey.kindOfJourney[0]|kindOfJourney}}" alt="" height="25">
                          </a>
                        </li>
                        <li>
                          <a href="">
                            <img src="{{journey.kindOfJourney[1]|kindOfJourney}}" alt="" height="25">
                          </a>
                        </li>
                        <li>
                          <a href="">
                            <img src="{{journey.kindOfJourney[2]|kindOfJourney}}" alt="" height="25">
                          </a>
                        </li>
                      </ul>
                    </div>
                    <div class="pull-right relate full-width">
                      <div class="journey-travelling-buddies">
                        <div class="img-buddies pointer" ng-repeat="img in journey.buddies|limitTo:3">
                          <img ng-src="{{img.profilePicture|uploadpath}}" alt="" class="img-responsive">
                        </div>
                        <span ng-show="journey.showRemainingCount" class="">+{{journey.remainingCount}}</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="journey-with">
                  <!--<p class="avenir-roman m-clear">{{journey.startLocation}} {{journey.start_Time.year}} <b>{{journey.user.name}}</b> with <b>Monish Shah</b>,
                    <b>Malhar Gala</b> &amp; <b>Nida Kapadia</b></p>-->
                  <p class="avenir-roman m-clear" ng-bind-html="journey.startJourneyString"></p>
                </div>
              </div>
            </div>
            <!-- journey started end-->
          </div>
          <!-- journey tab view end -->
          <!-- card-ongo-main -->
          <div class="relate">
            <div class="dot-line"></div>
            <div class="card-relate-holder">

              <journey-post post="ongo" json=journey profile=userData ng-repeat="ongo in journey.post "></journey-post>
              <!-- ongo journey-end -->
              <div class="ongo-journey-end" ng-if="journey.onGoing==false">
                <div class="journey-end text-center">
                  <h4 class="color-white">{{ongo.location}}</h4>
                  <p class="m-clear color-blue"><i class="fa fa-calendar mr5"></i><span>{{journey.endTime|formatDate: 'date'}}</span> | <i class="fa fa-clock-o mr5"></i><span>{{journey.endTime|formatDate: 'time'}}</span></p>
                </div>
                <div class="end-journey-flag text-center">
                  <img src="img/ongojourney/end-flag.png" alt="" class="img-responsive m-center" width="50">
                  <span class="color-blue jenna-font">until we meet again!</span>
                </div>
              </div>
              <!-- ongo journey end -->
            </div>
          </div>
        </div>
      </div>
      <!-- map -->
      <!-- map end -->
    </div>
  </div>
</div>