<div class="past-story">
	<div class="container-fluid">
		<!-- past story main -->
		<section class="main-paststory">
			<div class="relate text-center">
				<div class="pastjourney-start">
					<img src="img/ongojourney/journey-step.png" alt="" class="img-responsive m-center" width="40">
					<h3 class="avenir-roman color-white"><span class="block">{{pastJourneyArray.name}}</span></h3>
					<!-- <div class="you-in">
						<img src="img/icons/at.png" alt="" class="img-responsive m-center" width="140">
					</div> -->
				</div>
			</div>
			<div class="started-paststory started-journey-card">
				<div class="box-start-paststory box-start-journey">
					<!-- story banner holder -->
					<div class="banner-imgholder journey-imgholder">
						<img src="{{pastJourneyArray.startLocationPic|uploadpath}}" alt="" class="img-responsive">
					</div>
					<!-- story banner holder end-->
					<!-- past story detail -->
					<div class="past-story-detail">
						<div class="clearfix">
							<div class="pull-left">
								<div class="start-end-date avenir-medium">
									<p class="past-startdate">Start Date : <span class="date">{{pastJourneyArray.startTime | formatDate : 'date'}}</span><span class="edit-date pointer">Edit</span></p>
									<p class="past-enddate">End Date : <span class="date">{{pastJourneyArray.endTime | formatDate: 'date'}}</span><span class="edit-date pointer">Edit</span></p>
								</div>
							</div>
							<div class="pull-right">
								<div class="journeys-dayscount color-dark-blue avenir-medium"><span class="days-count">10</span>Days</div>
							</div>
						</div>
					</div>	
					<!-- past story detail end-->
				</div>		
			</div>
			<!-- destination visited -->
			<div class="pastdestination-visited">
				<div class="dest-heading">
					<div class="clearfix">
						<div class="pull-left">
							<span class="avenir-medium color-dark-blue">Destination Visited</span>
						</div>
						<div class="pull-right">
							<span class="add-dest-visited avenir-medium color-dark-blue pointer">Add</span>
						</div>
					</div>
				</div>
				<div class="list-country-city">
					<!-- list of country city visited -->
					<div class="list-holder" ng-repeat="country in pastJourneyArray.countryVisited track by $index">
						<div class="clearfix">
							<div class="pull-left">
								<div class="past-flag-holder">
									<img ng-src="{{country.country.flag|uploadpath}}" alt="" class="get-center" height="40">
								</div>
								<h4 class="dest-country-vist avenir-roman">
									<span class="country-name-visited">{{country.country.name}} :</span>
									<!-- <span class="city-name-visited">Mumbai</span>
									<span class="city-name-visited">Chennai</span>
									<span class="city-name-visited">Kolkata</span> -->
								</h4>
							</div>
							<div class="pull-right">
								<div class="edit-delete-dest">
									<span class="edit-dest pointer" title="Edit"><i class="fa fa-pencil color-light-grey"></i></span>
									<span class="delete-dest pointer" title="Delete"><i class="fa fa-trash color-light-grey"></i></span>
								</div>
							</div>
						</div>
					</div>
					<!-- list of country city visited end-->
				</div>
			</div>
			<!-- destination visited end-->
			<!-- past journey card -->
			<div class="past-journey-card">
				<past-journey-card></past-journey-card>
			</div>
			<!-- past journey card end-->
			<!-- past story main end -->
			<!-- past story map  -->
			<section class="map-paststory">

			</section>
			<!-- past story map end -->
		</div>
	</div>