<div class="destination mt-60" scrolldown>
  <div class="img-holder-destination bg-itinerary relate">
    <div class="overlay-landing"></div>
    <div class="get-center country-title">
      <h4 class="color-white title-head">Popular Itinerary</h4>
    </div>
 <div ng-include="template.footer" class="template footer"></div>
    <div class="mouse-scrolldown color-white text-center" ng-click="scrollDown();">
      <img src="img/mouse-scroll.png" alt="Travelibro">
      <p>Scroll Down</p>
    </div>
  </div>
</div>
<div class="tint-bg">
  <div class="container">
  <div class="popular-itinerary second">
           <!-- other itineraries main -->
      <div class="other-itineraries-main">
        <div class="blog-popular-itineraries">
            <div masonry class="blog-itineraries-main">
              <div class="row">
                <div class="masonry-brick travelLife col-md-4 col-sm-6" ng-repeat="life in travelLife" >
                  <div class="travel-life-part blog-post avenir-roman" ng-if="life.popItinerary">
                    <div class="travel-journey-heading">
                      <div class="editor-logo">
                        <img src="img/blog/editor-logo.png" alt="" width="70" class="img-responsive">
                      </div>
                      <div class="inline-block editor-subdetail">
                        <div class="clearfix">
                          <div class="pull-left">
                            <h3 class="font-bold color-dark-blue m-clear mb5 heading-name">{{life.heading}}</h3>
                          </div>
                          <div class="pull-right">
                            <span class="follow-following color-blue text-capitalize">{{life.follower}}</span>
                          </div>
                        </div>
                        <p class="m-clear"><i class="fa fa-calendar mr5"></i><span class="mr5">{{life.timestampDate}}</span> | <i class="fa fa-clock-o mr5 ml5"></i> <span>{{life.timestampHour}}</span></p>
                      </div>
                    </div>
                    <div class="onway-journey relate">
                      <div class="onway-imgholder">
                        <img ng-src="{{life.imgOnway}}" alt="" class="img-responsive m-center">
                      </div>
                      <div class="country-badges">
                      <div class="country-visited" ng-repeat="visit in life.countryVisit track by $index">
                        <img ng-src="{{visit.imgFlag}}" alt="" height="30">
                      </div>
                      <span>+4</span>
                      </div>
                      <div class="journey-tag-holder">
                          <div class="days-spent pull-right">
                              <p><span class="block">{{life.spendingDay}}</span>Days</p>
                            </div>
                        <h3 class="m-clear text-capitalize">{{life.onwayTag}}</h3>
                        <div class="clearfix journey-travelling-type">
                            <div class="row">
                            <div class="col-xs-6">
                          <div class="pull-left">
                            <div class="journey-collection">
                              <ul>
                                <li>
                                  <a href=""><img ng-src="{{life.itineraryType1}}" alt="" height="18"></a>
                                </li>
                                <li>
                                  <a href=""><img ng-src="{{life.itineraryType2}}" alt="" height="18"></a>
                                </li>
                                <li>
                                  <a href=""><img ng-src="{{life.itineraryType3}}" alt="" height="18"></a>
                                </li>
                              </ul>
                            </div>
                          </div>
                            </div>
                             <div class="col-xs-6">
                          <div class="pull-right">
                            <div class="journey-cost">
                              <span>{{life.cost}}</span>
                            </div>
                          </div>   
                          </div>   
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="social-field-types">
                      <div class="user-social-item clearfix">
                        <div class="pull-left">
                          <ul>
                            <li><a href=""><i class="fa fa-heart-o color-blue"></i></a></li>
                            <li>
                              <a href=""><img src="img/comments.png" alt="" height="18"></a>
                            </li>
                            <li>
                              <a href=""><img src="img/reviews.png" alt="" height="18"></a>
                            </li>
                            <li>
                              <a href=""><img src="img/share.png" alt="" height="18"></a>
                            </li>
                          </ul>
                        </div>
                        <div class="pull-right">
                          <div class="">
                            <span><img src="img/options.png" alt="" height="18" class="pointer"></span>
                          </div>
                        </div>
                      </div>
                      <div class="social-likes-reviews avenir-heavy">
                        <div class="clearfix">
                          <div class="pull-left">
                            <span class="color-blue mr10 like-block"><i class="fa fa-heart color-blue mr5"></i><b class="mr5">{{life.likes}}</b>Likes</span>
                            <span class="color-blue"><img src="img/reviews.png" alt="" height="15" class="mr5 v-top">{{life.reviews}} Reviews ({{life.pointReview}}/5)</span>
                          </div>
                          <div class="pull-right agent-card-ballon">
                            <img src="img/travel.png" alt="">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- visit local and travel post -->
                    <!--<div class="visit-post-main" ng-repeat="visit in life.getvisitPost track by $index">
                      <div class="relate">
                        <div class="visit-view-imgholder">
                          <img ng-src="{{visit.imgVisit}}" alt="" class="img-responsive">
                        </div>
                      </div>
                      <div class="travelocal-visit-foot">
                        <div class="visit-slider" ng-if="visit.visitSlider">
                          <flex-slider class="carousel travelocal-slider" flex-slide="slide in visit.visitedPost track by $index">
                            <li>
                              <div class="postslider-imgholder">
                                <img ng-src="{{slide.imgSlider}}" alt="" class="img-responsive">
                                <span>{{slide.visitName}}</span>
                              </div>
                            </li>
                          </flex-slider>
                        </div>
                        <div class="social-field-types">
                          <div class="user-social-item clearfix">
                            <div class="pull-left">
                              <ul>
                                <li><a href=""><i class="fa fa-heart-o color-blue"></i></a></li>
                                <li>
                                  <a href="">
                                    <img src="img/comments.png" alt="" height="18" class="if-blue">
                                    <img src="img/comments-white.png" alt="" height="18" class="if-white">
                                  </a>
                                </li>
                                <li>
                                  <a href="">
                                    <img src="img/reviews.png" alt="" height="18" class="if-blue">
                                    <img src="img/reviews-white.png" alt="" height="18" class="if-white">
                                  </a>
                                </li>
                                <li>
                                  <a href="">
                                    <img src="img/share.png" alt="" height="18" class="if-blue">
                                    <img src="img/share-white.png" alt="" height="18" class="if-white">
                                  </a>
                                </li>
                              </ul>
                            </div>
                            <div class="pull-right">
                              <div class="">
                                <span>
                                  <img src="img/options.png" alt="" width="3" class="if-blue">
                                  <img src="img/options-white.png" alt="" width="3" class="if-white">
                                </span>
                              </div>
                            </div>
                          </div>
                          <div class="social-likes-reviews">
                            <div class="clearfix">
                              <div class="pull-left">
                                <span class="color-blue mr10 like-block"><i class="fa fa-heart color-blue mr5"></i><b class="mr5">15660</b>Likes</span>
                             </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>-->
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
      <!-- other itineraries main end-->
  </div>  
</div>
