<div class="destination" scrolldown>
  <div class="img-holder-destination bg-agents relate">
    <div class="overlay-landing"></div>
    <div class="get-center country-title">
      <h4 class="color-white title-head">Popular Agents</h4>
    </div>
    <div class="btm-right right-label download-app color-white">
      Download App
      <a class="color-white" href="#" target="_blank"><i class="fa fa-apple" aria-hidden="true"></i></a> |
      <a class="color-white" href="#" target="_blank"><i class="fa fa-android" aria-hidden="true"></i></a>
    </div>
    <div class="mouse-scrolldown color-white text-center" ng-click="scrollDown();">
      <img src="img/mouse-scroll.png" alt="Travelibro">
      <p>Scroll Down</p>
    </div>
  </div>
</div>
<div class="agent-07">
  <div class="pb20 container second">
    <div class="row">
      <div class="col-md-4 mt10">
        <div class="agent-box mt20 relate">
          <div class="pull-right btn-up">
            <button class="btn btn-pink avenir-heavy text-shadow box-shadow">Follow</button>
          </div>
          <div class="img-holder-agent">
            <img src="img/popularagent/popularagent.jpg" class="full-width" alt="travelibro" />
          </div>
          <div class="overlay-down">
            <img src="img/popularagent/akbar.jpg" alt="travelibro" class="logo-agents">
            <div class="title-agent color-white">
              <h4 class="m-clear avenir-heavy fnt-20">Akbar Holidays</h4>
              <div class="title-cityagent">
                <span class="color-white avenir-heavy"><i class="fa fa-map-marker" aria-hidden="true"></i> Mumbai,</span>
                <span class="color-white avenir-heavy">India</span>
              </div>
            </div>
            <div class="btn-btm">
              <button class="btn btn-blue-outline btn-trans avenir-heavy">Connect</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 mt10">
        <div class="agent-box mt20 relate">
          <div class="pull-right btn-up">
            <button class="btn btn-pink avenir-heavy text-shadow box-shadow">Follow</button>
          </div>
          <div class="img-holder-agent">
            <img src="img/popularagent/popularagent.jpg" class="full-width" alt="travelibro" />
          </div>
          <div class="overlay-down">
            <img src="img/popularagent/akbar.jpg" alt="travelibro" class="logo-agents">
            <div class="title-agent color-white">
              <h4 class="m-clear avenir-heavy fnt-20">Akbar Holidays</h4>
              <div class="title-cityagent">
                <span class="color-white avenir-heavy"><i class="fa fa-map-marker" aria-hidden="true"></i> Mumbai,</span>
                <span class="color-white avenir-heavy">India</span>
              </div>
            </div>
            <div class="btn-btm">
              <button class="btn btn-blue-outline btn-trans avenir-heavy">Connect</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 mt10">
        <div class="agent-box mt20 relate">
          <div class="pull-right btn-up">
            <button class="btn btn-pink avenir-heavy text-shadow box-shadow">Follow</button>
          </div>
          <div class="img-holder-agent">
            <img src="img/popularagent/popularagent.jpg" class="full-width" alt="travelibro" />
          </div>
          <div class="overlay-down">
            <img src="img/popularagent/akbar.jpg" alt="travelibro" class="logo-agents">
            <div class="title-agent color-white">
              <h4 class="m-clear avenir-heavy fnt-20">Akbar Holidays</h4>
              <div class="title-cityagent">
                <span class="color-white avenir-heavy"><i class="fa fa-map-marker" aria-hidden="true"></i> Mumbai,</span>
                <span class="color-white avenir-heavy">India</span>
              </div>
            </div>
            <div class="btn-btm">
              <button class="btn btn-blue-outline btn-trans avenir-heavy">Connect</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 mt10">
        <div class="agent-box mt20 relate">
          <div class="pull-right btn-up">
            <button class="btn btn-pink avenir-heavy text-shadow box-shadow">Follow</button>
          </div>
          <div class="img-holder-agent">
            <img src="img/popularagent/popularagent.jpg" class="full-width" alt="travelibro" />
          </div>
          <div class="overlay-down">
            <img src="img/popularagent/akbar.jpg" alt="travelibro" class="logo-agents">
            <div class="title-agent color-white">
              <h4 class="m-clear avenir-heavy fnt-20">Akbar Holidays</h4>
              <div class="title-cityagent">
                <span class="color-white avenir-heavy"><i class="fa fa-map-marker" aria-hidden="true"></i> Mumbai,</span>
                <span class="color-white avenir-heavy">India</span>
              </div>
            </div>
            <div class="btn-btm">
              <button class="btn btn-blue-outline btn-trans avenir-heavy">Connect</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 mt10">
        <div class="agent-box mt20 relate">
          <div class="pull-right btn-up">
            <button class="btn btn-pink avenir-heavy text-shadow box-shadow">Follow</button>
          </div>
          <div class="img-holder-agent">
            <img src="img/popularagent/popularagent.jpg" class="full-width" alt="travelibro" />
          </div>
          <div class="overlay-down">
            <img src="img/popularagent/akbar.jpg" alt="travelibro" class="logo-agents">
            <div class="title-agent color-white">
              <h4 class="m-clear avenir-heavy fnt-20">Akbar Holidays</h4>
              <div class="title-cityagent">
                <span class="color-white avenir-heavy"><i class="fa fa-map-marker" aria-hidden="true"></i> Mumbai,</span>
                <span class="color-white avenir-heavy">India</span>
              </div>
            </div>
            <div class="btn-btm">
              <button class="btn btn-blue-outline btn-trans avenir-heavy">Connect</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
