<div class="setting-main">
  <div class="container">
    <div class="setting" auto-height>
      <h3 class="color-blue font-bold text-center m-clear mb20 setting-heading">Settings</h3>
      <div class="setting-user-detail">
        <div class="row">
          <div class="col-md-4">
            <div class="setting-list avenir-medium">
              <div class="setting-profile-list pointer" ng-click="setting(1)" ng-class="{'bg-white active-setting' : showSetting == 1}">
                <div class="profile-heading clearfix">
                  <i class="fa fa-chevron-right pull-right"></i>
                  <div class="setting-prof-imgholder">
                    <img src="img/profile-main.png" alt="" class="img-responsive">
                  </div>
                  <div class="profile-detail inline-block v-top">
                    <h4 class="color-blue m-clear">Amit Duxctronn</h4>
                    <span class="color-blue">16 Jan 1988</span>
                  </div>
                </div>
              </div>
              <ul>
                <li ng-click="setting(2)" ng-class="{'bg-white active-setting' : showSetting == 2}">
                  <div class="edit-profile-heading clearfix">
                    <div class="row">
                      <div class="col-md-2">
                        <div class="text-center">
                          <img src="img/edit-profile.png" alt="">
                        </div>
                      </div>
                      <div class="col-md-10">
                        <div class="tab-list">
                          <h5 class="color-blue inline-block m-clear">Edit Profile - <span class="fz10">A little more about me</span></h5>
                          <i class="fa fa-chevron-right pull-right"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
                <li ng-click="setting(3)" ng-class="{'bg-white active-setting' : showSetting == 3}">
                  <div class="password-heading clearfix">
                    <div class="row">
                      <div class="col-md-2">
                        <div class="text-center">
                          <img src="img/setting.png" alt="">
                        </div>
                      </div>
                      <div class="col-md-10">
                        <div class="tab-list">
                          <h5 class="color-blue inline-block m-clear">Change Password</h5>
                          <i class="fa fa-chevron-right pull-right"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
                <li ng-click="setting(4)" ng-class="{'bg-white active-setting' : showSetting == 4}">
                  <div class="upload-heading clearfix">
                    <div class="row">
                      <div class="col-md-2">
                        <div class="text-center">
                          <img src="img/data-upload.png" alt="">
                        </div>
                      </div>
                      <div class="col-md-10">
                        <div class="tab-list">
                          <h5 class="color-blue inline-block m-clear">Data Upload</h5>
                          <i class="fa fa-chevron-right pull-right"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
                <li ng-click="setting(5)" ng-class="{'bg-white active-setting' : showSetting == 5}">
                  <div class="privacy-heading clearfix">
                    <div class="row">
                      <div class="col-md-2">
                        <div class="text-center">
                          <img src="img/privacy.png" alt="">
                        </div>
                      </div>
                      <div class="col-md-10">
                        <div class="tab-list">
                          <h5 class="color-blue inline-block m-clear">Privacy</h5>
                          <i class="fa fa-chevron-right pull-right"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
                <li ng-click="setting(6)" ng-class="{'bg-white active-setting' : showSetting == 6}">
                  <div class="report-problem-heading clearfix">
                    <div class="row">
                      <div class="col-md-2">
                        <div class="text-center">
                          <img src="img/report-problem.png" alt="">
                        </div>
                      </div>
                      <div class="col-md-10">
                        <div class="tab-list">
                          <h5 class="color-blue inline-block m-clear">Report A Problem</h5>
                          <i class="fa fa-chevron-right pull-right"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-8 col-pad-zero">
            <div class="setting-main-detail bg-white avenir-roman">
              <!-- profile detail -->
              <div class="profile-detail-main" ng-if="showSetting == 1">
                <form action="">
                  <div class="profile-photo-sec upload-profile">
                    <label for="profile" class="color-blue">Profile Photo</label>
                    <div class="cropArea relate" ng-show="showImage" id="profile">
                      <div class="cancel" ng-click="showImage"><span class="color-white pointer">Cancel</span></div>
                      <img-crop image="myImage" result-image="myCroppedImage">
                      </img-crop>
                      <div class="btn-upload">
                        <button class="btn btn-pink btn-more">Upload</button>
                      </div>
                    </div>
                    <div class="upload-section text-center" ng-hide="showImage">
                      <img src="img/upload-icon.jpg" alt="" class="m-center img-responsive">
                      <p class="text-center color-grey avenir-roman">Drag a profile photo here</p>
                      <span class="block mt10 color-grey avenir-roman">-or-</span>
                      <div class="upload-btn">
                        <div class="relate inline-block mr10">
                          <button class="btn btn-dark-blue pointer">Select a photo from your computer input</button>
                          <input type="file" id="fileInput" class="getfile pointer" />
                        </div>
                        <div class="relate inline-block">
                          <button class="btn btn-dark-blue pointer">Your Photos</button>
                        </div>
                        <div class="relate inline-block ml10">
                          <button class="btn btn-dark-blue pointer">Web Camera</button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <input type="text" class="form-control" placeholder="Amit">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <input type="text" class="form-control" placeholder="Duxctronn">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="email" class="color-blue">Email</label>
                        <input type="text" class="form-control" id="email" placeholder="amit@travelibro.com">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="dob" class="color-blue">DOB</label>
                        <input type="date" class="form-control" id="dob">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="username" class="color-blue">Username</label>
                        <input type="text" class="form-control" placeholder="amit-duxctronn">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="gender">Gender</label>
                        <div class="setting-tab-gender" ng-init="gender=''">
                          <div class="male text-center inline-block pointer ml20 mr20 mt20" ng-class="{'active-gender': gender==1}" ng-click="gender=1">
                            <img src="img/male.png" alt="Gender" class="img-responsive">
                            <span class="color-blue avenir-medium">He</span>
                          </div>
                          <div class="female text-center inline-block pointer ml20 mr20 mt20" ng-class="{'active-gender': gender==2}" ng-click="gender=2">
                            <img src="img/female.png" alt="Gender" class="img-responsive">
                            <span class="color-blue avenir-medium">She</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="setting-nationality">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="Nationality" class="color-blue">Nationality</label>
                          <div class="custom-select">
                            <select name="" id="Nationality">
                              <option value="India">India</option>
                            </select>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="Live" class="color-blue">Where Do You Live ?</label>
                          <div class="custom-select">
                            <select name="" id="Live">
                              <option value="Mumbai">Mumbai</option>
                            </select>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="travel-blogger">
                        <h4 class="color-blue setting-tab-heading">Are You A Travel Blogger?</h4>
                        <div class="button-group djb-font">
                          <button class="btn btn-grey-pink ">
                            <img src="img/travel-photographer.png" alt="" height="25" class="mr5"> travel Photographer
                          </button>
                          <button class="btn btn-grey-pink">
                            <img src="img/travel-blogger.png" alt="" height="25" class="mr5"> travel Blogger
                          </button>
                          <button class="btn btn-grey-pink avenir-roman btn-more">
                            None
                          </button>
                        </div>
                      </div>
                      <div class="blog-link">
                        <div class="form-group">
                          <input type="text" class="form-control" placeholder="Blog Link">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="">
                    <h4 class="color-blue setting-tab-heading">Personal Details</h4>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <input type="text" class="form-control" placeholder="Favourite City">
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <input type="text" class="form-control" placeholder="Dream Destination">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="clearfix mt20">
                    <div class="pull-right">
                      <button type="submit" class="btn btn-dark-pink btn-more">Save</button>
                    </div>
                  </div>
                </form>
              </div>
              <!-- profile detail -->
              <!-- more profile detail -->
              <div class="more-profile-detail avenir-roman" ng-if="showSetting == 2">
                <!-- holiday -->
                <div class="holiday-section">
                  <h4 class="color-blue setting-tab-heading">Your kind of a holiday</h4>
                  <ul ng-init="selectHoliday = 1">
                    <li ng-repeat="holiday in chooseHoliday">
                      <div class="select-holiday {{holiday.class}}" ng-click="holidayType($index)">
                        <figure>
                          <div class="holiday-imgholder">
                            <img src="{{holiday.img}}" alt="" class="img-responsive m-center">
                          </div>
                          <figcaption class="color-blue font-bold">{{holiday.caption}}</figcaption>
                        </figure>
                      </div>
                    </li>
                    <br>
                    <li>
                      <div class="select-holiday" ng-click="selectHoliday=1" ng-class="{'active-holiday': selectHoliday == 1, 'no-active' : selectHoliday != 1}">
                        <figure>
                          <div class="holiday-imgholder">
                            <img src="img/beach.png" alt="" class="img-responsive m-center">
                          </div>
                          <figcaption class="color-blue font-bold">Island &amp; Beach</figcaption>
                        </figure>
                      </div>
                    </li>
                    <li>
                      <div class="select-holiday" ng-click="selectHoliday=2" ng-class="{'active-holiday': selectHoliday == 2 , 'no-active' : selectHoliday !=2 }">
                        <figure>
                          <div class="holiday-imgholder">
                            <img src="img/city.png" alt="" class="img-responsive m-center">
                          </div>
                          <figcaption class="color-blue font-bold">City</figcaption>
                        </figure>
                      </div>
                    </li>
                    <li>
                      <div class="select-holiday" ng-click="selectHoliday=3" ng-class="{'active-holiday': selectHoliday == 3}">
                        <figure>
                          <div class="holiday-imgholder">
                            <img src="img/safari.png" alt="" class="img-responsive m-center">
                          </div>
                          <figcaption class="color-blue font-bold">Safari</figcaption>
                        </figure>
                      </div>
                    </li>
                    <li>
                      <div class="select-holiday" ng-click="selectHoliday=4" ng-class="{'active-holiday': selectHoliday == 4}">
                        <figure>
                          <div class="holiday-imgholder">
                            <img src="img/mountain.png" alt="" class="img-responsive m-center">
                          </div>
                          <figcaption class="color-blue font-bold">Mountains</figcaption>
                        </figure>
                      </div>
                    </li>
                    <li>
                      <div class="select-holiday" ng-click="selectHoliday=5" ng-class="{'active-holiday': selectHoliday == 5}">
                        <figure>
                          <div class="holiday-imgholder">
                            <img src="img/cruise.png" alt="" class="img-responsive m-center">
                          </div>
                          <figcaption class="color-blue font-bold">Cruise</figcaption>
                        </figure>
                      </div>
                    </li>
                    <li>
                      <div class="select-holiday" ng-click="selectHoliday=6" ng-class="{'active-holiday': selectHoliday == 6}">
                        <figure>
                          <div class="holiday-imgholder">
                            <img src="img/countryside.png" alt="" class="img-responsive m-center">
                          </div>
                          <figcaption class="color-blue font-bold">Countryside</figcaption>
                        </figure>
                      </div>
                    </li>
                  </ul>
                </div>
                <!-- holiday -->
                <!-- usually go -->
                <div class="setting-usually-go">
                  <h4 class="color-blue setting-tab-heading">You usually go</h4>
                  <ul ng-init="selectUsually = 11">
                    <li ng-repeat="holiday in usuallyGo">
                      <div class="select-holiday {{holiday.class}}" ng-click="usuallyType($index)">
                        <figure>
                          <div class="holiday-imgholder">
                            <img src="{{holiday.img}}" alt="" class="img-responsive m-center">
                          </div>
                          <figcaption class="color-blue font-bold">{{holiday.caption1}} <span>{{holiday.caption2}}</span></figcaption>
                        </figure>
                      </div>
                    </li>
                    <br>
                    <li>
                      <div class="select-holiday" ng-click="selectUsually=11" ng-class="{'active-holiday' : selectUsually == 11}">
                        <figure>
                          <div class="holiday-imgholder">
                            <img src="img/map.png" alt="" class="img-responsive m-center">
                          </div>
                          <figcaption class="color-blue font-bold">By the map</figcaption>
                        </figure>
                      </div>
                    </li>
                    <li>
                      <div class="select-holiday" ng-click="selectUsually=12" ng-class="{'active-holiday' : selectUsually == 12}">
                        <figure>
                          <div class="holiday-imgholder">
                            <img src="img/road.png" alt="" class="img-responsive m-center">
                          </div>
                          <figcaption class="color-blue font-bold">Where the <span class="block">road takes you</span></figcaption>
                        </figure>
                      </div>
                    </li>
                    <li>
                      <div class="select-holiday" ng-click="selectUsually=13" ng-class="{'active-holiday' : selectUsually == 13}">
                        <figure>
                          <div class="holiday-imgholder">
                            <img src="img/both.png" alt="" class="img-responsive m-center">
                          </div>
                          <figcaption class="color-blue font-bold">A little bit <span class="block">of both</span></figcaption>
                        </figure>
                      </div>
                    </li>
                  </ul>
                </div>
                <!-- usually go -->
                <!-- prefer travel -->
                <div class="setting-prefer-travel">
                  <h4 class="color-blue setting-tab-heading">Prefer to travel</h4>
                  <ul ng-init="selectTravel = 21">
                    <li ng-repeat="holiday in preferTravel" ng-click="travelType($index)">
                      <div class="select-holiday {{holiday.class}}">
                        <figure>
                          <div class="holiday-imgholder">
                            <img src="{{holiday.img}}" alt="" class="img-responsive m-center">
                            <figcaption class="color-blue font-bold">{{holiday.caption}}</figcaption>
                          </div>
                        </figure>
                      </div>
                    </li>
                    <br>
                    <li>
                      <div class="select-holiday" ng-click="selectTravel=21" ng-class="{'active-holiday' : selectTravel == 21}">
                        <figure>
                          <div class="holiday-imgholder">
                            <img src="img/family.png" alt="" class="img-responsive m-center">
                            <figcaption class="color-blue font-bold">Family</figcaption>
                          </div>
                        </figure>
                      </div>
                    </li>
                    <li>
                      <div class="select-holiday" ng-click="selectTravel=22" ng-class="{'active-holiday' : selectTravel == 22}">
                        <figure>
                          <div class="holiday-imgholder">
                            <img src="img/friends.png" alt="" class="img-responsive m-center">
                            <figcaption class="color-blue font-bold">Friends</figcaption>
                          </div>
                        </figure>
                      </div>
                    </li>
                    <li>
                      <div class="select-holiday" ng-click="selectTravel=23" ng-class="{'active-holiday' : selectTravel == 23}">
                        <figure>
                          <div class="holiday-imgholder">
                            <img src="img/spouse.png" alt="" class="img-responsive m-center">
                            <figcaption class="color-blue font-bold">Partner/Spouse</figcaption>
                          </div>
                        </figure>
                      </div>
                    </li>
                    <li>
                      <div class="select-holiday" ng-click="selectTravel=24" ng-class="{'active-holiday' : selectTravel == 24}">
                        <figure>
                          <div class="holiday-imgholder">
                            <img src="img/solo.png" alt="" class="img-responsive m-center">
                            <figcaption class="color-blue font-bold">Solo</figcaption>
                          </div>
                        </figure>
                      </div>
                    </li>
                    <li>
                      <div class="select-holiday" ng-click="selectTravel=25" ng-class="{'active-holiday' : selectTravel == 25}">
                        <figure>
                          <div class="holiday-imgholder">
                            <img src="img/business.png" alt="" class="img-responsive m-center">
                            <figcaption class="color-blue font-bold">Business</figcaption>
                          </div>
                        </figure>
                      </div>
                    </li>
                    <li>
                      <div class="select-holiday" ng-click="selectTravel=26" ng-class="{'active-holiday' : selectTravel == 26}">
                        <figure>
                          <div class="holiday-imgholder">
                            <img src="img/blogger.png" alt="" class="img-responsive m-center">
                            <figcaption class="color-blue font-bold">Blogger</figcaption>
                          </div>
                        </figure>
                      </div>
                    </li>
                    <li>
                      <div class="select-holiday" ng-click="selectTravel=27" ng-class="{'active-holiday' : selectTravel == 27}">
                        <figure>
                          <div class="holiday-imgholder">
                            <img src="img/grouptour.png" alt="" class="img-responsive m-center">
                            <figcaption class="color-blue font-bold">Group Tour</figcaption>
                          </div>
                        </figure>
                      </div>
                    </li>
                    <li>
                      <div class="select-holiday" ng-click="selectTravel=28" ng-class="{'active-holiday' : selectTravel == 28}">
                        <figure>
                          <div class="holiday-imgholder">
                            <img src="img/photographer.png" alt="" class="img-responsive m-center">
                            <figcaption class="color-blue font-bold">Photographer</figcaption>
                          </div>
                        </figure>
                      </div>
                    </li>
                  </ul>
                </div>
                <!-- prefer travel end-->
                <!-- ideal holiday type -->
                <div class="setting-ideal-holiday">
                  <h4 class="color-blue setting-tab-heading">Your ideal holiday type</h4>
                  <ul ng-init="selectIdeal = 31">
                    <li ng-repeat="holiday in idealSelect" ng-click="idealType($index)">
                      <div class="select-holiday {{holiday.class}}">
                        <figure>
                          <div class="holiday-imgholder">
                            <img src="{{holiday.img}}" alt="" class="img-responsive m-center">
                            <figcaption class="color-blue font-bold">{{holiday.caption1}} <span class="block">{{holiday.caption2}}</span></figcaption>
                          </div>
                        </figure>
                      </div>
                    </li>
                    <br>
                    <li>
                      <div class="select-holiday" ng-click="selectIdeal=31" ng-class="{'active-holiday' : selectIdeal == 31}">
                        <figure>
                          <div class="holiday-imgholder">
                            <img src="img/luxury.png" alt="" class="img-responsive m-center">
                            <figcaption class="color-blue font-bold">Luxury</figcaption>
                          </div>
                        </figure>
                      </div>
                    </li>
                    <li>
                      <div class="select-holiday" ng-click="selectIdeal=32" ng-class="{'active-holiday' : selectIdeal == 32}">
                        <figure>
                          <div class="holiday-imgholder">
                            <img src="img/backpacking.png" alt="" class="img-responsive m-center">
                            <figcaption class="color-blue font-bold">Backpacking</figcaption>
                          </div>
                        </figure>
                      </div>
                    </li>
                    <li>
                      <div class="select-holiday" ng-click="selectIdeal=33" ng-class="{'active-holiday' : selectIdeal == 33}">
                        <figure>
                          <div class="holiday-imgholder">
                            <img src="img/greentravelling.png" alt="" class="img-responsive m-center">
                            <figcaption class="color-blue font-bold">Green <span class="block">travelling</span></figcaption>
                          </div>
                        </figure>
                      </div>
                    </li>
                    <li>
                      <div class="select-holiday" ng-click="selectIdeal=34" ng-class="{'active-holiday' : selectIdeal == 34}">
                        <figure>
                          <div class="holiday-imgholder">
                            <img src="img/pocketfriendly.png" alt="" class="img-responsive m-center">
                            <figcaption class="color-blue font-bold">Pocket <span class="block">friendly</span></figcaption>
                          </div>
                        </figure>
                      </div>
                    </li>
                    <li>
                      <div class="select-holiday" ng-click="selectIdeal=35" ng-class="{'active-holiday' : selectIdeal == 35}">
                        <figure>
                          <div class="holiday-imgholder">
                            <img src="img/romance.png" alt="" class="img-responsive m-center">
                            <figcaption class="color-blue font-bold">Romance</figcaption>
                          </div>
                        </figure>
                      </div>
                    </li>
                    <li>
                      <div class="select-holiday" ng-click="selectIdeal=36" ng-class="{'active-holiday' : selectIdeal == 36}">
                        <figure>
                          <div class="holiday-imgholder">
                            <img src="img/sportandadventure.png" alt="" class="img-responsive m-center">
                            <figcaption class="color-blue font-bold">Sports &amp; <span class="block">Adventure</span></figcaption>
                          </div>
                        </figure>
                      </div>
                    </li>
                    <li>
                      <div class="select-holiday" ng-click="selectIdeal=37" ng-class="{'active-holiday' : selectIdeal == 37}">
                        <figure>
                          <div class="holiday-imgholder">
                            <img src="img/historyandculture.png" alt="" class="img-responsive m-center">
                            <figcaption class="color-blue font-bold">History &amp; <span class="block">Culture</span></figcaption>
                          </div>
                        </figure>
                      </div>
                    </li>
                    <li>
                      <div class="select-holiday" ng-click="selectIdeal=38" ng-class="{'active-holiday' : selectIdeal == 38}">
                        <figure>
                          <div class="holiday-imgholder">
                            <img src="img/spirituality.png" alt="" class="img-responsive m-center">
                            <figcaption class="color-blue font-bold">Spirituality &amp; <span class="block">Wellness</span></figcaption>
                          </div>
                        </figure>
                      </div>
                    </li>
                    <li>
                      <div class="select-holiday" ng-click="selectIdeal=39" ng-class="{'active-holiday' : selectIdeal == 39}">
                        <figure>
                          <div class="holiday-imgholder">
                            <img src="img/shopping.png" alt="" class="img-responsive m-center">
                            <figcaption class="color-blue font-bold">Shopping</figcaption>
                          </div>
                        </figure>
                      </div>
                    </li>
                    <li>
                      <div class="select-holiday" ng-click="selectIdeal=40" ng-class="{'active-holiday' : selectIdeal == 40}">
                        <figure>
                          <div class="holiday-imgholder">
                            <img src="img/foodandwine.png" alt="" class="img-responsive m-center">
                            <figcaption class="color-blue font-bold">Food &amp; Wine</figcaption>
                          </div>
                        </figure>
                      </div>
                    </li>
                    <li>
                      <div class="select-holiday" ng-click="selectIdeal=41" ng-class="{'active-holiday' : selectIdeal == 41}">
                        <figure>
                          <div class="holiday-imgholder">
                            <img src="img/festival.png" alt="" class="img-responsive m-center">
                            <figcaption class="color-blue font-bold">Festivals</figcaption>
                          </div>
                        </figure>
                      </div>
                    </li>
                  </ul>
                </div>
                <!-- ideal holiday type end -->
                <div class="clearfix mt20">
                  <div class="pull-right">
                    <button class="btn btn-dark-pink btn-more">Save</button>
                  </div>
                </div>
              </div>
              <!-- more profile detail end -->
              <!-- change password -->
              <div class="change-password-detail" ng-if="showSetting == 3">
                <form>
                  <h4 class="color-blue setting-tab-heading">Password</h4>
                  <div class="row">
                    <div class="col-md-4">
                      <div class="form-group">
                        <input type="password" class="form-control" placeholder="Current Password">
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <input type="password" class="form-control" placeholder="New Password">
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <input type="password" class="form-control" placeholder="Confirm Password">
                      </div>
                    </div>
                  </div>
                  <div class="clearfix mt20">
                    <div class="pull-right">
                      <button class="btn btn-dark-pink btn-more">Save</button>
                    </div>
                  </div>
                </form>
              </div>
              <!-- change password -->
              <!-- data upload -->
              <div class="data-upload-detail" ng-if="showSetting == 4">
                <h4 class="color-blue setting-tab-heading">Data Upload</h4>
                <form>
                  <div class="row">
                    <div class="col-md-4">
                      <div class="custom-checkbox-setting checkbox-select">
                        <input type="checkbox" id="cellular-wifi">
                        <label for="cellular-wifi" class="color-blue">
                          Cellular and Wi-Fi
                        </label>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="custom-checkbox-setting checkbox-select">
                        <input type="checkbox" id="wifi">
                        <label for="wifi" class="color-blue">
                          Wi-Fi
                        </label>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="custom-checkbox-setting checkbox-select">
                        <input type="checkbox" id="Cellular">
                        <label for="Cellular" class="color-blue">
                          Cellular
                        </label>
                      </div>
                    </div>
                  </div>
                  <div class="clearfix mt20">
                    <div class="pull-right">
                      <button class="btn btn-dark-pink btn-more">Save</button>
                    </div>
                  </div>
                </form>
              </div>
              <!-- data upload end-->
              <!-- privacy policy  -->
              <div class="privacy-detail" ng-if="showSetting == 5">
                <h4 class="color-blue setting-tab-heading">Privacy Policy</h4>
                <form>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="radio-select">
                        <input type="radio" id="public" name="privacy">
                        <label for="public" class="color-blue">Public - Everyone</label>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="radio-select">
                        <input type="radio" id="private" name="privacy">
                        <label for="private" class="color-blue">Private - My Followers</label>
                      </div>
                    </div>
                  </div>
                  <p class="avenir-medium color-grey fz12 mt20">When you select your account to be private only, your followers can view your My Life - Journeys, Moments and Reviews.</p>
                  <div class="clearfix mt20">
                    <div class="pull-right">
                      <button class="btn btn-dark-pink btn-more">Save</button>
                    </div>
                  </div>
                </form>
              </div>
              <!-- privacy policy end -->
              <!-- report a problem -->
              <div class="problem-detail" ng-if="showSetting == 6">
                <form>
                  <label for="problem">Report A Problem</label>
                  <textarea name="" id="problem" class="form-control" placeholder="Comment"></textarea>
                  <div class="clearfix mt20">
                    <div class="pull-right">
                      <button class="btn btn-dark-pink btn-more">Submit</button>
                    </div>
                  </div>
                </form>
              </div>
              <!-- report a problem end -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
