<div class="single-notification">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-2 col-md-8">
        <journey-post post="post" ng-if="post.type=='travel-life'" get-comments-data="openCommentSection(post)" get-likes-data="openLikeSection(post)"></journey-post>
        <post-local-life class="single-local-post" ongolocal="post" local-view="localView" ng-if="post.type=='local-life'" open-comment-section="openCommentSection(post)"
          open-like-section="openLikeSection(post)"></post-local-life>
        <comment-like-section post="post" user-data='userData' view-card-comment="viewCardComment" view-card-like='viewCardLike'
          list-of-comments="listOfComments" list-of-likes="listOfLikes" get-card="getCard" show-like-show='showLikeShow'></comment-like-section>
      </div>
    </div>
  </div>
</div>
<div class="backdrop-close" ng-class="{'view-backdrop':viewCardComment==true || viewCardLike==true,'':viewCardComment==false || viewCardLike==false}"
  ng-click="closeBackDrop();"></div>
