<!-- note -->
<!-- All the classes are of journey but extra classes has been added to every element with the journey class -->
<!-- note end -->
<!-- post day -->
<span class="color-white">{{json}}</span>
<p class="color-white">Day {{json.endTime|dateDifference: pastStory.UTCModified}}</p>
<span class="color-white">{{json.endTime|formatDate:'date'}} End Time</span> <span class="color-white">{{pastStory.UTCModified|formatDate:'date'}}</span>
<!-- post day end -->
<!-- post date and location -->
<!-- post date and location end-->
<div class="pastjourney-main ongo-journey-card">
	<!-- past story header -->
	<div class="past-story-header ongo-card-header">
		<div class="clearfix">
			<!-- user image holder -->
			<div class="card-user-imgholder pastcard-user-imgholder">
				<div class="user-img-ongo past-user-img" ui-sref="mylife({'urlSlug':pastStory.user.urlSlug})">
					<img ng-src="{{pastStory.user.profilePicture|uploadpath:45:47:'cover'}}" alt="{{pastStory.user.name}}" class="img-responsive">
				</div>
			</div>
			<!-- user image holder end -->
			<!-- card-descp -->
			<div class="card-journeypost pastcard-journeypost">
				<p class="journey-date pastjourney-date avenir-heavy m-clear">
					<h5 class="font-bold color-username pointer m-clear">{{pastStory.user.name}}</h5>					
					<span class="mr5 ml5">{{pastStory.UTCModified|formatDate:'date'}}</span> |
					<span class="ml5">{{pastStory.UTCModified|formatDate:'time'}}</span>
				</p>
			</div>
			<!-- card-descp end-->
		</div>
	</div>
	<!-- past story header end-->
	<!-- past story middle section main -->
	<div class="ongo-card-main past-card-main">
		<div class="ongo-card-status past-card-status">
			<p class="post mb5" ng-bind-html="pastStory.postString"></p>
		</div>
		<!--if checkin is done and no photos is uploaded then add map i.e.  if showMap is true  STARTS-->
		<div class="card-imgholder past-map-imgholder" ng-if="pastStory.photos && pastStory.photos.length==0 && pastStory.showMap && pastStory.checkIn && pastStory.checkIn.lat ">
			<fade-img-loading blur="{{pastStory.imageUrl}}" image="{{pastStory.imageUrl}}"></fade-img-loading>
		</div>
		<!--if checkin is done and no photos is uploaded then add map i.e.  if showMap is true  ENDS-->
		<!-- past journey images -->
		<div class="card-imgholder pastcard-imgholder pointer" ng-if="pastStory.photos.length>0 && pastStory.onDisplay=='photos'">
			<fade-img-loading blur="{{pastStory.photosVideos[index].name|uploadpath:10:10:'cover'}}" image="{{pastStory.photosVideos[index].name|uploadpath}}"></fade-img-loading>
		</div>
		<!-- past journey images -->
		<!-- past journey videos -->
		<div class="video-ongo-journey video-past-journey relate" ng-if="pastStory.videos.length>0 && pastStory.onDisplay == 'videos'">
			<video id="{{pastStory._id}}_{{index}}"  poster="{{pastStory.photosVideos[index].thumbnail|uploadpath}}" controls="controls" width="550" preload="auto">
				<source src="{{pastStory.photosVideos[index].name|trusted}}" type="video/mp4">
				</video>
				<div class="youtube-icon get-center" hidden>
					<img src="img/ongojourney/play-journey.png" alt="Play Journey" width="40" class="img-responsive">
				</div>
			</div>
			<!-- past journey videos end-->
			<!-- related img if less then 5 -->
			<div class="relate-pic" ng-if="(pastStory.photosVideos.length>1)&&(pastStory.photosVideos.length<=5)">
				<div class="related-ongo-slider related-past-slider" ng-repeat="relatePic in pastStory.photosVideos track by $index">
					<!-- for image  -->					
					<img ng-src="{{relatePic.name|uploadpath:99:99:'cover'}}" alt="" class="img-responsive pointer" ng-if="!(pastStory.photosVideos[$index] && pastStory.photosVideos[$index].thumbnail)"
					ng-click="changeImage($index,'photos')">		
					<!-- for image end-->
					<!-- for video -->
					<img ng-src="{{relatePic.thumbnail|uploadpath:99:99:'cover'}}" alt="" class="img-responsive pointer" ng-if="pastStory.photosVideos[$index] && pastStory.photosVideos[$index].thumbnail"
					ng-click="changeImage($index,'videos')">
					<!-- for video end-->				
				</div>
			</div>
			<!-- related img if less then 5 end-->
			<!-- related img if greater then 5 -->
			<div class="related-imgslider" ng-if="pastStory.photosVideos.length>5">
				<flex-slider flex-slide="slide in pastStory.photosVideos track by $index" item-width="99" class="related-slide carousel" animation="true"
				item-margin="5" control-nav="false">
				<li>
					<div class="related-ongo-slider related-past-slider">
						<!-- for image  -->
						<img ng-src="{{slide.thumbnail|uploadpath:99:99:'cover'}}" alt="" class="img-responsive pointer" ng-if="pastStory.photosVideos[$index] && pastStory.photosVideos[$index].thumbnail"
						ng-click="changeImage($index,'videos')">		
						<!-- for image end-->
						<!-- for video -->
						<img ng-src="{{slide.name|uploadpath:99:99:'cover'}}" alt="" class="img-responsive pointer" ng-if="!(pastStory.photosVideos[$index] && pastStory.photosVideos[$index].thumbnail)"
						ng-click="changeImage($index,'photos')">
						<!-- for video end-->		
					</div>
				</li>
			</flex-slider>
		</div>
		<!-- related img if greater then 5 end-->
	</div>
	<!-- past story middle section main end-->
	<!-- past story footer -->
	<div class="ongo-card-footer past-card-footer">
		<div class="social-field-types">
			<div class="user-social-item clearfix">
				<div class="pull-left">
					<ul>
						<li>
							<a href="" class="relate">
								<i class="fa fa-heart-o color-medium-grey card-like-animation" like-sound></i><span></span>
								<audio id="like-play">
									<source src="img/tiny1.mp3" type="audio/mp3">
									</audio>
								</a>
							</li>
							<li>
								<a href="">
									<img src="img/comments.png" alt="" height="18" >
								</a>
							</li>
							<li>
								<a href="">
									<img src="img/share.png" alt="" height="18" >
								</a>
							</li>
						</ul>
					</div>
					<div class="pull-right">
						<img src="img/options.png" alt="">
					</div>
				</div>
			</div>
		</div>
		<!-- past story footer end-->
	</div>