<!-- note -->
<!-- All the classes are of journey but extra classes has been added to every element with the journey class -->
<!-- note end -->
<!-- post date and location -->
<!-- post date and location end-->
<div class="pastjourney-main ongo-journey-card">
	<!-- past story header -->
	<div class="past-story-header ongo-card-header">
		<div class="clearfix">
			<!-- user image holder -->
			<div class="card-user-imgholder pastcard-user-imgholder">
				<div class="user-img-ongo past-user-img">
					<img src="https://travelibro.com/api/upload/readFile?file=59ad258b245c0052377893ab.jpg" alt="" class="img-responsive">
				</div>
			</div>
			<!-- user image holder end -->
			<!-- card-descp -->
			<div class="card-journeypost pastcard-journeypost">
				<p class="post">Lorem Ipsum the dummy text</p>
				<p class="journey-date pastjourney-date avenir-heavy m-clear">
					<span class="mr5 ml5">6 Sep, 2017</span> |
					<span class="ml5">12:54 am</span>
				</p>
			</div>
			<!-- card-descp end-->
			<!-- card icon holder -->
			<div class="card-iconholder pastcard-iconholder">
				<div class="ongo-journey-icon">
					<img src="img/typeOfPost/otg-location.png" alt="" class="img-responsive m-center">
				</div>
			</div>
			<!-- card icon holder end -->
		</div>
	</div>
	<!-- past story header end-->
	<!-- past story middle section main -->
	<div class="ongo-card-main past-card-main">
		<!--if checkin is done and no photos is uploaded then add map i.e.  if showMap is true  STARTS-->
		<div class="card-imgholder past-map-imgholder">
			<!-- <img src="" alt="" class="img-responsive"> -->
			<!-- <fade-image-loading blur="" image=""></fade-image-loading> -->
		</div>
		<!--if checkin is done and no photos is uploaded then add map i.e.  if showMap is true  ENDS-->
		<!-- past journey images -->
		<div class="card-imgholder pastcard-imgholder pointer" >
			<!-- <img src="" alt="" class="img-responsive"> -->
			<!-- <fade-img-loading blur="" image=""></fade-img-loading> -->
		</div>
		<!-- past journey images -->
		<!-- past journey videos -->
		<div class="video-ongo-journey video-past-journey relate ">
			<!-- <video src=""></video> -->
			<div class="youtube-icon get-center" hidden>
				<img src="img/ongojourney/play-journey.png" alt="Play Journey" width="40" class="img-responsive">
			</div>
		</div>
		<!-- past journey videos end-->
		<!-- related img if less then 5 -->
		<div class="relate-pic" >
			<div class="related-ongo-slider related-past-slider">
				<!-- for image  -->
				<!-- <img src="" alt="" class="img-responsive pointer"> -->				
				<!-- for image end-->
				<!-- for video -->
				<!-- <img src="" class="img-responsive pointer"> -->
				<!-- for video end-->				
			</div>
		</div>
		<!-- related img if less then 5 end-->
		<!-- related img if greater then 5 -->
		<div class="related-imgslider">
			<flex-slider flex-slide="" item-width="99" class="related-slide carousel" animation="true"
			item-margin="5" control-nav="false">
			<li>
				<div class="related-ongo-slider related-past-slider">
					<!-- for image  -->
					<!-- <img src="" alt="" class="img-responsive pointer"> -->				
					<!-- for image end-->
					<!-- for video -->
					<!-- <img src="" class="img-responsive pointer"> -->
					<!-- for video end-->		
				</div>
			</li>
		</flex-slider>
	</div>
	<!-- related img if greater then 5 end-->
</div>
<!-- past story middle section main end-->
<!-- past story footer -->
<div class="ongo-card-footer past-card-footer">
	<div class="social-field-types">
		<div class="user-social-item clearfix">
			<div class="pull-left">
				<ul>
					<li>
						<a href="" class="relate">
							<i class="fa fa-heart-o color-blue card-like-animation" like-sound></i><span></span>
							<audio id="like-play">
								<source src="img/tiny1.mp3" type="audio/mp3">
								</audio>
							</a>
						</li>
						<li>
							<a href="">
								<img src="img/comments.png" alt="" height="18" >
							</a>
						</li>
						<li>
							<a href="">
								<img src="img/share.png" alt="" height="18" >
							</a>
						</li>
					</ul>
				</div>
				<div class="pull-right">
					<img src="img/options.png" alt="">
				</div>
			</div>
		</div>
	</div>
	<!-- past story footer end-->
</div>