<footer>
    <div class="container-fluid">
        <div class="">
            <div class="col-md-12">
                <div class="app-icons ab">
                    <ul class="list-unstyled list-inline text-right color-white">
                        <li class="">
                            Download App
                        </li>
                        <li>
                            <a href="#" target="_blank" class="color-white">
                                <i class="fa fa-apple"></i>
                            </a>
                        </li>
                        <li>|</li>
                        <li>
                            <a href="#" class="color-white" target="_blank">
                                <i class="fa fa-android"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>