<div class="journey-footer visible-xs" ng-if="!isLoggedIn">
  <ul class="list-unstyled list-inline">
    <li class="pull-left">
      <img src="img/ongo-brandlogo.png" alt="Travelibro" class="pull-left" style="height:40px; padding: 10px;">
    </li>
    <li class="pull-right" style="padding: 10px 15px 10px 10px;">
      <a ui-sref="login" href="#/login" class="color-blue"><span class="color-footer-text">Signup</span>&nbsp;&nbsp;|&nbsp;&nbsp;<span class="color-footer-text">Login</span></a>
    </li>
  </ul>
</div>
