<div class="journey-footer visible-xs" ng-if="!isLoggedIn" ng-hide="hideOther ">
  <ul class="list-unstyled list-inline">
    <li class="pull-left">
      <img src="img/ongo-brandlogo.png" alt="Travelibro" class="pull-left" style="height:40px; padding: 10px;">
    </li>
    <li class="pull-right" style="padding: 10px 15px 10px 10px;">
      <a ui-sref="login" href="#/login" class="color-blue"><span class="color-footer-text">Signup</span>&nbsp;&nbsp;|&nbsp;&nbsp;<span class="color-footer-text">Login</span></a>
    </li>
  </ul>
</div>
<a ui-sref="partnerlogin" href="#/partnerlogin" class="visible-xs" ng-if="isUserLogin">
  <div class="partner-login-footer">
    <ul class="list-unstyled list-inline">
      <li class="pull-left" style="padding: 10px 5px 10px 10px;">
        <span class="color-footer-text">Signup</span><span class="color-blue">&nbsp;&nbsp;|&nbsp;&nbsp;</span><span class="color-footer-text">Login</span>

      </li>
      <li class="pull-right" style="padding: 10px 5px 10px 0;">
        <span style="font-size: 11px;font-weight: 600;" class="color-blue">for Travel Agent | Tour Operator | Local Guide</span>
      </li>
    </ul>
  </div>
</a>
