<footer>
            <div class="hidden-xs app-icons ab">
    <div class="container-fluid">
            <div class="col-md-12">
                    <ul class="list-unstyled list-inline text-right color-white">
                        <li class="">
                            Download App
                        </li>
                        <li>
                            <a href="#" target="_blank" class="color-white">
                                <i class="fa fa-apple"></i>
                            </a>
                        </li>
                        <li>|</li>
                        <li>
                            <a href="#" class="color-white" target="_blank">
                                <i class="fa fa-android"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

<div class="visible-xs">
    <div class="download-app text-center uppercase download-app-footer visible-xs">
  <div class="pull-right">
    <i class="fa fa-times color-white" aria-hidden="true"></i>
  </div>
  <a href="#" target="_blank">
  Download App
</a>
</div>
</div>
</footer>
