<header class="bg-dark-blue {{isLoggedIn}}" ng-controller="headerctrl" ng-show="isLoggedIn">
  <nav class="navbar">
    <div class="container-fluid">
      <!-- <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button> -->
      <div class="row">
        <div class="col-md-5 col-sm-1">
          <div class="header-left">
            <div class="hamburger pointer inline-block {{buttonpos}}" ng-click="getnav();">
              <span class="icon-bar box-shadow {{onebar}}"></span>
              <span class="icon-bar box-shadow {{secondbar}}"></span>
              <span class="icon-bar box-shadow {{thirdbar}}"></span>
            </div>
            <div class="search inline-block v-top">
              <form action="">
                <input type="text" class="form-control" placeholder="Search people, destinations, itineraries, agents and tags">
              </form>
            </div>
          </div>
        </div>
        <div class="col-md-2 col-sm-6">
          <h1 class="text-center logo m-clear">
            <a href="" ui-sref="home"><img src="img/travel-logo.png" alt="" class="img-responsive m-center" width="110"></a>
          </h1>
        </div>
        <div class="col-md-5 col-sm-5">
          <div class="user-detail text-right">
            <ul class="list-inline">
              <!--logout BUTTON -->
              <li>
                <a ng-click="logout()">Logout</a>
              </li>
              <!--End OF logout BUTTON -->

              <li>
                <a href="">
                  <div class="user-img inline-block v-mid">
                    <img src="{{userData.profilePicture|uploadpath}}" alt="" width="40" class="img-responsive">
                  </div>
                  <span class="color-white ml10 fz13">{{userData.name}}</span>
                </a>
              </li>
              <li>
                <a href="">
                  <i class="fa fa-envelope"></i>
                </a>
              </li>
              <li>
                <a href="">
                  <i class="fa fa-bell"></i>
                </a>
              </li>
              <li>
                <a href="">
                  <i class="fa fa-cog"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- <a class="navbar-brand" ui-sref="home"><img src="img/logo.png" alt="logo" width="20"> </a> -->
    </div>
    </div>
    <div class="sidemenu menu-common {{getslide}}">
      <div class="nav-list">
        <div class="custscroll">
          <div ng-include="template.menu" class="template menu"></div>
        </div>
      </div>
    </div>
    <!-- <div class="collapse navbar-collapse" id="nav-collapse">
           <div ng-include="template.menu" class="template menu"></div>
    </div> -->
  </nav>
</header>



<header class="libro-header {{isLoggedIn}}" ng-controller="headerctrl" ng-show="!isLoggedIn">
  <section class="bg-black custom-search pd20 " ng-class="{ 'open': isopen} ">
    <div class="container-fluid ">
      <div class="row ">
        <div class="col-md-offset-3 col-md-6 ">
          <form action=" ">
            <div class="form-group ">
              <div class="input-group ">
                <span class="input-group-addon ">
                  <a class="color-white fnt-22 ">
                      <i class="fa fa-search "></i>
                  </a>
                </span>
                <input type="text " class="form-control color-white avenir-light " id="search " aria-describedby="Search
  " placeholder="Search Travellers, Destinations, Itineraries, Agents &amp; Tags ">
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
  <div class="nav-onhead ">
    <div class="container-fluid ">
      <nav class="navbar navbar-default ">
        <div class="row ">
          <div class="col-md-4 ">
            <div class="headerp hamburger ">
              <div class="navbar-header ">
                <button type="button " class="navbar-toggle collapsed {{buttonpos}} " ng-click="getnav(); ">
                  <span class="icon-bar box-shadow {{onebar}} "></span>
                  <span class="icon-bar box-shadow {{secondbar}} "></span>
                  <span class="icon-bar box-shadow {{thirdbar}} "></span>
                </button>
              </div>
            </div>
          </div>
          <div class="col-md-4 ">
            <div class="text-center ">
              <a ui-sref="home ">
                <img src="img/libro-home/logo.png " alt="TravelLibro " class="logo-size ">
              </a>
            </div>
          </div>
          <div class="col-md-4 ">
            <div class="login-signup ">
              <ul class="list-unstyled list-inline text-right color-white ">
                <li>
                  <a ui-sref="login " class="color-white ">Login</a> /
                  <a ui-sref="login " class="color-white ">Sign Up</a>
                </li>
                <li>|</li>
                <li>
                  <a class="color-white " ng-click="opensearch(); ">
                    <i class="fa fa-search "></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </nav>
      <div class="sidemenu menu-common {{getslide}} ">
        <div class="nav-list ">
          <div class="custscroll ">
            <div ng-include="template.menu " class="template menu "></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>