<div class=" min-hght">
<div class="container-fluid">
  <div class="destination-featured">
    <div class="head-title-all bg-white pt20 pb10 destin-fixednav1">
      <h4 class="text-center fnt-22">Featured Cities</h4>
    </div>
      <div class="destination-holder bg-white plr30">
        <div class="row">
          <div class="col-md-6 col-sm-6" ng-repeat="feature in countryDestData.featuredCities ">
            <div class="img-holder relate" ng-click="countryView(feature.urlSlug,dest.isCity)">
              <img alt="travel-libro" ng-src="{{feature.cityCoverPhoto|uploadpath}}" class="full-width">
              <div class="title-head-left color-white text-uppercase">
                {{feature.name}}
              </div>
              <div class="read-more left-bottom">
                <ul class="list-inline">
                  <li class="avenir-roman color-white">Must Do’s: <span class="avenir-heavy">{{feature.mustDoCount}}</span> </li>
                  <li class="avenir-heavy color-white">|</li>
                  <li class="avenir-roman color-white">Itineraries: <span class="avenir-heavy">{{feature.itineraryCount}}</span> </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
