<div class="bg-white min-hght">
  <div class="destination-featured plr30">
    <div class="head-title-all pt20 pb10">
      <h4 class="text-center fnt-22">Top 10 In {{countryDestData.name}}</h4>
    </div>
    <div class="row" ng-init="index=-1">
      <div class="col-md-6 col-sm-6" ng-repeat="must in countryDestData.mustDo track by $index">
        <div class="img-holder card relate" ng-class="($index==index)?'flipped':''">
          <div class="pop-hover-css front" ng-click="openCountry($index);">
            <img src="{{must.mainPhoto|uploadpath}}" alt="travel-libro" class="full-width">
            <div class="title-head-left color-white">
            {{must.name}}
            </div>
          </div>
          <div class="read-more right-bottom filpup">
            <a class="color-white" ng-click="index=$index">Read</a>
          </div>
          <div class="back relate">
            <!-- <div class="img-holder relate">-->
            <img ng-src="{{must.mainPhoto|uploadpath}}" alt="travel-libro" class="full-width">
            <div class="flipped-cont">
              <p>{{must.description}}</p>
            </div>
            <div class="read-more right-bottom flipdown">
              <a class="color-white" ng-click="index=-1">Close{{index}}secindex{{$index}}thri$index</a>
            </div>
            <!-- </div> -->
          </div>
        </div>
      </div>
      <!-- <div class="col-md-6 col-sm-6">
        <div class="img-holder card relate {{cardClass}}">
          <div class="pop-hover-css front" ng-click="openCountry();">
            <img src="img/destination/taj-featured.jpg" alt="travel-libro" class="full-width">
            <div class="title-head-left color-white">
              Taj Mahal
            </div>
          </div>
          <div class="read-more right-bottom filpup">
            <a class="color-white" ng-click="flip();">Read</a>
          </div>
          <div class="back relate">
            <img src="img/destination/taj-featured.jpg" alt="travel-libro" class="full-width">
            <div class="flipped-cont">
              <p>A symbol of an eternal love story etched out in the world’s most marvellous structures in the world, the Taj
                Mahal epitomises one of the greatest romances in the history of mankind. Designated as a UNESCO World Heritage
                Site and one of the Seven Wonders of the World, this ‘tear-drop on the cheek of time’, as Rabindranath Tagore
                described it, is regarded as the best example of Mughal architecture and the country’s rich history. Marvel
                at the great marble monument ornamented with 28 types of precious and semi-precious stones for the inlay
                work. With its four minarets and the red sandstone mosque, this fascinating monument is a sight to behold.</p>
            </div>
            <div class="read-more right-bottom flipdown">
              <a class="color-white" ng-click="flip();">Close</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-6">
        <div class="img-holder card relate {{cardClass}}">
          <div class="pop-hover-css front" ng-click="openCountry();">
            <img src="img/destination/taj-featured.jpg" alt="travel-libro" class="full-width">
            <div class="title-head-left color-white">
              Taj Mahal
            </div>
          </div>
          <div class="read-more right-bottom filpup">
            <a class="color-white" ng-click="flip();">Read</a>
          </div>
          <div class="back relate">
            <img src="img/destination/taj-featured.jpg" alt="travel-libro" class="full-width">
            <div class="flipped-cont">
              <p>A symbol of an eternal love story etched out in the world’s most marvellous structures in the world, the Taj
                Mahal epitomises one of the greatest romances in the history of mankind. Designated as a UNESCO World Heritage
                Site and one of the Seven Wonders of the World, this ‘tear-drop on the cheek of time’, as Rabindranath Tagore
                described it, is regarded as the best example of Mughal architecture and the country’s rich history. Marvel
                at the great marble monument ornamented with 28 types of precious and semi-precious stones for the inlay
                work. With its four minarets and the red sandstone mosque, this fascinating monument is a sight to behold.</p>
            </div>
            <div class="read-more right-bottom flipdown">
              <a class="color-white" ng-click="flip();">Close</a>
            </div>
          </div>
        </div>
      </div> -->
    </div>
  </div>
