<div class="agt-home-itinerary">

    <!-- ADD BUTTON -->
  <div class="container">
    <div class="clearfix">
      <div class="pull-right">
        <div class="add-agtitinerary">
          <span class="pointer" ng-click="showItinerary = !showItinerary" ng-class="{'close-more' : showItinerary == true}"><i class="fa fa-plus"></i></span>
          <div class="add-more-itinerary" ng-show="showItinerary">
            <ul>
              <li class="clearfix relate"><a href="">Detailed Itinerary <span class="pull-right itinerary-info" ng-click="showdetailInfo()"><i class="fa fa-info-circle"></i></span>
              <div class="itinerary-infobox" ng-show="viewdetailInfo">Pen down day-to-day itinerary in every way-country to visit, cities to explore, places to stay at, things to do, landmarks to discover, and more.</div></a></li>
              <li class="clearfix relate"><a href="">Quick Itinerary <span class="pull-right itinerary-info" ng-click="showquickInfo()"><i class="fa fa-info-circle"></i></span>
              <div class="itinerary-infobox "  ng-show="viewquickInfo">Short on time... simply paste your ready made itineraries in our section in as many words as you desire and you are good to go.</div></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ADD BUTTON END -->

  <!-- EMPTY INTRO -->
  <div class="empty-intro" hidden>
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-12 col-xs-12">
          <div class="agthome-itinerary-youtube">
            <iframe src="https://www.youtube.com/embed/IUNM1AeHOv4" frameborder="0" ssallowfullscreen width="100%" height="100%"></iframe>

          <!-- <div class="youtube-placeholder">
              <img src="img/paris.jpg" alt="" class="img-responsive">
          </div> -->
          </div>
        </div>
        <div class="col-md-6 col-sm-12 col-xs-12">
          <div class="agt-home-itineraryintro">
            <h3 class="color-blue">
              Fill in this space to give travel lovers a better sense of what your agency has to offer.</h3>
              <p class="color-blue">Regularly updating your library with new itineraries, keeps travellers interested and informed about how touring with your agency can make a good tour/trip, great!</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- EMPTY INTRO END-->

  <!-- Itinerary cards -->
  <div class="container" >
    <div class="row">
      <div class="col-md-4 col-sm-6" ng-repeat="usritinerary in usrItineraryCard track by $index">
        <div class="agt-itinerarycard">
          <div class="itinerary-cardhead avenir-roman">
            <p class="m-clear color-grey"><i class="fa fa-calendar"></i><span class="ml5 ">{{usritinerary.timestampDate}}</span> | <i class="fa fa-clock-o mr5"></i> <span>{{usritinerary.timestampHour}}</span></p>
          </div>
          <div class="itinerary-img">
            <div class="country-badges">
              <div class="country-holder" ng-repeat="countryflagbadge in usritinerary.countryBadgesFlag track by $index">
                <img ng-src="{{countryflagbadge}}" alt="" class="img-responsive">
              </div>


              <span class="country-count">+4</span>
            </div>
            <img ng-src="{{usritinerary.tripImg}}" alt="" class="img-responsive">
            <div class="itinerary-imgfoot ">
              <div class="imgfoot-top">
                <h4 class="m-clear">{{usritinerary.itineraryTitle}}</h4>
              </div>
              <div class="imgfoot-bottom clearfix">
                <div class="pull-left">
                  <div class="journey-type">
                    <ul class="list-inline">
                      <li ng-repeat="journeytype in usritinerary.tripCat">
                        <a href=""><img src="img/sunset.png" ng-src="{{journeytype}}" alt="" height="20"></a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="pull-right">
                  <div class="rt-foot-marg">
                    <div class="journey-cost">
                      <span>$ {{usritinerary.tripCost}}</span>
                    </div>
                    <div class="days-spent">
                      <p><span class="block">{{usritinerary.noDays}}</span>Days</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="itinerary-cardfoot">
            <div class="social-field-types">
              <div class="user-social-item clearfix">
                <div class="pull-left">
                  <ul>
                    <li><a href=""><i class="fa fa-heart-o color-blue"></i></a></li>
                    <li>
                      <a href="">
                        <img src="img/comments.png" alt="" height="18" class="if-blue">
                      </a>
                    </li>
                    <li>
                      <a href="">
                        <img src="img/reviews.png" alt="" height="18" class="if-blue">
                      </a>
                    </li>
                    <li>
                      <a href="">
                        <img src="img/share.png" alt="" height="18" class="if-blue">
                      </a>
                    </li>
                  </ul>
                </div>
                <div class="pull-right">
                  <div class="">
                    <span>
                    <img src="img/options.png" alt="" width="3" class="if-blue">
                  </span>
                  </div>
                </div>
              </div>
              <div class="social-likes-reviews">
                <div class="clearfix">
                  <div class="pull-left">
                    <span class="color-blue mr10"><i class="fa fa-heart color-blue mr5"></i><b class="mr5">{{usritinerary.agtLikesCount}}</b>Likes</span>
                    <span class="color-blue">
                    <img src="img/reviews.png" alt="" height="15" class="mr5 v-top if-blue">
                    {{usritinerary.agtReviewCount}} Reviews ({{usritinerary.agtRating}}/5)</span>
                  </div>
                  <div class="pull-right">
                    <div class="post-travel-icon">
                      <img src="img/travel.png" alt="" class="activity-travel-icon">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Itinerary cards end -->
</div>
