<div class="agt-home-aboutus">
  <div class="container">
    <div class="clearfix" ng-if="template.isMine">
      <button ui-sref="agent-setting" class="btn btn-outline-blue btn-more pull-right">Edit</button>
    </div>
    <section>
      <h3 class="color-pink">About Us</h3>
      <p class="color-blue">{{userData.company.about}}</p>
    </section>

    <section>
      <!-- itinerary type -->
      <div class="agtcategory-type">
        <h3 class="color-pink">Categories</h3>
        <div class="select-category-type" ng-repeat="agtcategory in userData.company.categoryOfSpeacilization">
          <figure class="pointer">
            <div class="category-iconholder {{agtcategory.activeClass}}" >
              <img ng-src="{{agtcategory|kindOfJourney:'white'}}" alt="{{agtcategory.caption}}" class="img-responsive" width="24px">
            </div>
            <figcaption class="color-dark-blue avenir-roman">{{agtcategory}}</figcaption>
          </figure>
        </div>
      </div>
      <!-- itinerary type end -->
    </section>

    <section>
      <!-- Services type -->
      <div class="agtcategory-type agentservices">
        <h3 class="color-pink">Services</h3>
        <p class="agentservices-list text-capitalize" ng-repeat="service in userData.company.services track by $index"> {{service}}</p>
      </div>
      <!-- Services end -->
    </section>

    <section>
      <h3 class="color-pink">Speciality - Countries</h3>
      <div class="abtcountry-row">
        <div class="abtcountry-col" ng-repeat="specialcountry in userData.company.countryOf track by $index">
          <div class="speciality-imgholder relate">
            <img ng-src="{{specialcountry.countryCoverPhoto|uploadpath}}" alt="{{specialcountry.name | capitalize}}" class="img-responsive">
            <div class="country-textholder clearfix">
              <p class="pull-left spclcountry-name text-capitalize">{{specialcountry.name}}</p>
              <div class="pull-right spclcountry-stamp">
                <img ng-src="{{specialcountry.flag|uploadpath}}" alt="{{specialcountry.name | capitalize}}" class="img-responsive">
              </div>
            </div>
          </div>
        </div>
        <!-- <div class="col-flex">
          <div class="speciality-imgholder  relate">
            <img src="img/default_Images_2.jpg" alt="" class="img-responsive">
            <div class="country-textholder clearfix">
              <p class="pull-left spclcountry-name">India</p>
              <div class="pull-right spclcountry-stamp">
                <img src="img/default_Images_2.jpg" alt="" class="img-responsive">
              </div>
            </div>
          </div>
        </div>
        <div class="col-flex">
          <div class="speciality-imgholder relate">
            <img src="img/default_Images_2.jpg" alt="" class="img-responsive">
            <div class="country-textholder clearfix">
              <p class="pull-left spclcountry-name">India</p>
              <div class="pull-right spclcountry-stamp">
                <img src="img/default_Images_2.jpg" alt="" class="img-responsive">
              </div>
            </div>
          </div>
        </div>
        <div class="col-flex">
          <div class="speciality-imgholder relate">
            <img src="img/default_Images_2.jpg" alt="" class="img-responsive">
            <div class="country-textholder clearfix">
              <p class="pull-left spclcountry-name">India</p>
              <div class="pull-right spclcountry-stamp">
                <img src="img/default_Images_2.jpg" alt="" class="img-responsive">
              </div>
            </div>
          </div>
        </div> -->
      </div>
    </section>
  </div>
</div>
