<div class="agt-home-itinerary">
  <div class="container">
    <div class="clearfix">
      <div class="pull-right">
        <div class="add-agtitinerary">
          <span class="pointer" ng-click="showItinerary = !showItinerary" ng-class="{'close-more' : showItinerary == true}"><i class="fa fa-plus"></i></span>
          <div class="add-more-itinerary" ng-show="showItinerary">
            <ul>
              <li class="clearfix relate"><a href="">Detailed Itinerary <span class="pull-right itinerary-info" ng-click="showdetailInfo()"><i class="fa fa-info-circle"></i></span>
              <div class="itinerary-infobox" ng-show="viewdetailInfo">Pen down day-to-day itinerary in every way-country to visit, cities to explore, places to stay at, things to do, landmarks to discover, and more.</div></a></li>
              <li class="clearfix relate"><a href="">Quick Itinerary <span class="pull-right itinerary-info" ng-click="showquickInfo()"><i class="fa fa-info-circle"></i></span>
              <div class="itinerary-infobox "  ng-show="viewquickInfo">Short on time... simply paste your ready made itineraries in our section in as many words as you desire and you are good to go.</div></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 col-sm-12 col-xs-12">
        <div class="agthome-itinerary-youtube">
          <iframe src="https://www.youtube.com/embed/IUNM1AeHOv4" frameborder="0" ssallowfullscreen width="100%" height="100%"></iframe>

        <!-- <div class="youtube-placeholder">
            <img src="img/paris.jpg" alt="" class="img-responsive">
        </div> -->
        </div>
      </div>
      <div class="col-md-6 col-sm-12 col-xs-12">
        <div class="agt-home-itineraryintro">
          <h3 class="color-blue">
            Fill in this space to give travel lovers a better sense of what your agency has to offer.</h3>
            <p class="color-blue">Regularly updating your library with new itineraries, keeps travellers interested and informed about how touring with your agency can make a good tour/trip, great!</p>
        </div>
      </div>
    </div>
  </div>
</div>
