<div class="agt-home-analytics">

  <!-- PROFILE VIEWS SECTION -->
  <div class="analytics-profileviews " ng-show="profileview">
    <!-- FILTER -->
      <div class="analytics-filter analyticsprofile-filter">
        <div class="container-fluid">
          <div class="analyticsleads-filterhead clearfix">
            <div class="analyticsfilter-head pull-left">
              <p>People who viewed your profile</p>
            </div>
            <div class="pull-right filter-analyticslead">
              <form>
                <!-- MONTH FILTER -->
                <div class="analytics-filterui profilefilter-month">
                  <div class="form-group">
                    <ui-select ng-model="profileMonthFilter" theme="bootstrap">
                      <ui-select-match placeholder="From">{{$select.selected.name}}</ui-select-match>
                      <ui-select-choices repeat="month in leadmonth | filter: $select.search track by $index">
                        <div>
                          {{month}}
                        </div>
                      </ui-select-choices>
                    </ui-select>
                  </div>
                </div>
                  <!-- MONTH FILTER END  -->
                  <!-- YEAR FILTER  -->
                <div class="analytics-filterui profilefilter-year">
                  <div class="form-group">
                    <ui-select ng-model="profileYearFilter" theme="bootstrap">
                      <ui-select-match placeholder="Year">{{$select.selected.name}}</ui-select-match>
                      <ui-select-choices repeat="year in leadyear | filter: $select.search track by $index">
                        <div>
                          {{year}}
                        </div>
                      </ui-select-choices>
                    </ui-select>
                  </div>
                </div>
                <!-- YEAR FILTER END  -->
                <div class="leadfilter-btn">
                  <button class="btn btn-pink"> Go </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    <!-- FILTER END -->
    <!-- EMPTY SCREEN -->
    <div class="analytics-emptyprofile hide">
      <div class="container">
        <div class="emptyprofile-analytics">
          <h3 class="color-blue avenir-heavy">Profile Views</h3>
          <p class="color-blue avenir-roman">People who viewed your profile on a daily basis. This gives you the opportunity to connect with them.</p>
        </div>
      </div>
    </div>
    <!-- EMPTY SCREEN END -->
    <!-- CONTENT SCREEN -->
    <div class="analytics-profilecontent">
      <div class="container">
        <div class="following-container" ng-repeat="list in followingList track by $index">
          <div class="following-holder">
            <div class="follow-imgholder pointer" ui-sref="mylife({'urlSlug':list.urlSlug})">
              <img ng-src="{{list.profilePicture|uploadpath:104:108:'cover'}}" class="img-responsive">
            </div>
            <div class="following-detail text-center">
              <h4 class="color-blue avenir-heavy text-ellipsis pointer" title="{{list.name}}" ui-sref="mylife({'urlSlug':list.urlSlug})">{{list.name}}</h4>
              <h5 class="color-pink avenir-medium text-ellipsis" ng-if="list.homeCity && list.homeCountry.name"><i class="fa fa-map-marker mr5 color-pink"></i> <span>{{list.homeCity}}Mumbai,</span>
                <span>{{list.homeCountry.name}}India</span>
              </h5>
            </div>
            <div class="photos-location-sec clearfix">
              <div class="pull-left photo-countlist">
                <div class="photo-loc">
                  <img src="img/camera-blue.png" alt="Photos" height="15" class="v-mid">
                  <span class="avenir-heavy color-dark-blue v-mid">{{list.count.photoCount}}10</span> |
                  <img src="img/location-blue.png" alt="Location" height="15" class="v-mid"> <span class="avenir-heavy color-dark-blue v-mid">{{list.count.checkInCount}}9</span>
                </div>
              </div>
              <div class="pull-right photo-countfollow">
                <button class="btn btn-pink following-btn" ng-click="followUnFollowUser(list,'fromFollowing')">{{list.following|followFollowingStatus}}</button>
              </div>
            </div>
            <div class="following-user-info">
              <ul>
                <li>
                  <span class="block user-count">{{list.count.countriesVisited}}6</span>
                  <span class="listing-text">Countries <br> Visited</span>
                </li>
                <li>
                  <span class="block user-count">{{list.count.followers}}15</span>
                  <span class="listing-text">Followers</span>
                </li>
                <li>
                  <span class="block user-count">{{list.count.journeysCreatedCount}}21</span>
                  <span class="listing-text">Journeys</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- CONTENT SCREEN END -->
  </div>
  <!-- PROFILE VIEWS SECTION END -->

  <!-- FOLLOWERS SECTION -->
  <div class="analytics-follower " ng-show="follower">
    <!-- FILTER -->
      <div class="analytics-filter analyticsleads-filter">
        <div class="container-fluid">
          <div class="analyticsleads-filterhead clearfix">
            <div class="analyticsfilter-head pull-left">
              <p>Daily Lead Analytics</p>
            </div>
            <div class="pull-right filter-analyticslead">
              <form>
                <p class="filterlead-count">Total Leads: <span>0</span></p>
                <!-- MONTH FILTER -->
                <div class="analytics-filterui followerfilter-month">
                  <div class="form-group">
                    <ui-select ng-model="followerMonthFilter" theme="bootstrap">
                      <ui-select-match placeholder="From">{{$select.selected.name}}</ui-select-match>
                      <ui-select-choices repeat="month in leadmonth | filter: $select.search track by $index">
                        <div>
                          {{month}}
                        </div>
                      </ui-select-choices>
                    </ui-select>
                  </div>
                </div>
                  <!-- MONTH FILTER END  -->
                  <!-- YEAR FILTER  -->
                <div class="analytics-filterui followerfilter-year">
                  <div class="form-group">
                    <ui-select ng-model="followerYearFilter" theme="bootstrap">
                      <ui-select-match placeholder="Year">{{$select.selected.name}}</ui-select-match>
                      <ui-select-choices repeat="year in leadyear | filter: $select.search track by $index">
                        <div>
                          {{year}}
                        </div>
                      </ui-select-choices>
                    </ui-select>
                  </div>
                </div>
                <!-- YEAR FILTER END  -->
                <div class="leadfilter-btn">
                  <button class="btn btn-pink"> Go </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    <!-- FILTER END -->
    <!-- EMPTY SCREEN -->
    <div class="analytics-emptyfollower">
      <div class="container">
        <div class="emptyfollower-analytics">
          <h3 class="color-blue avenir-heavy">Followers</h3>
          <p>Who lives sees, but who travels sees more.</p>
          <p>Update your profile (and all the fields), to show travel lovers how you can add to their travel experiences. Regular and interesting updates are a great way to attract more followers / clients born world over.</p>
          <p>The more followers you have, ranks you higher on the Agents list and there by your agency stands a better chance of getting more leads and enquires.</p>
        </div>
      </div>
    </div>
    <!-- EMPTY SCREEN END -->
    <!-- CONTENT -->
    <div class="analytics-followercontent">
      <div class="container">
        <div class="following-container" ng-repeat="list in followingList track by $index">
          <div class="following-holder">
            <div class="follow-imgholder pointer" ui-sref="mylife({'urlSlug':list.urlSlug})">
              <img ng-src="{{list.profilePicture|uploadpath:104:108:'cover'}}" class="img-responsive">
            </div>
            <div class="following-detail text-center">
              <h4 class="color-blue avenir-heavy text-ellipsis pointer" title="{{list.name}}" ui-sref="mylife({'urlSlug':list.urlSlug})">{{list.name}}</h4>
              <h5 class="color-pink avenir-medium text-ellipsis" ng-if="list.homeCity && list.homeCountry.name"><i class="fa fa-map-marker mr5 color-pink"></i> <span>{{list.homeCity}}Mumbai,</span>
                <span>{{list.homeCountry.name}}India</span>
              </h5>
            </div>
            <div class="photos-location-sec clearfix">
              <div class="pull-left photo-countlist">
                <div class="photo-loc">
                  <img src="img/camera-blue.png" alt="Photos" height="15" class="v-mid">
                  <span class="avenir-heavy color-dark-blue v-mid">{{list.count.photoCount}}10</span> |
                  <img src="img/location-blue.png" alt="Location" height="15" class="v-mid"> <span class="avenir-heavy color-dark-blue v-mid">{{list.count.checkInCount}}9</span>
                </div>
              </div>
              <div class="pull-right photo-countfollow">
                <button class="btn btn-pink following-btn" ng-click="followUnFollowUser(list,'fromFollowing')">{{list.following|followFollowingStatus}}</button>
              </div>
            </div>
            <div class="following-user-info">
              <ul>
                <li>
                  <span class="block user-count">{{list.count.countriesVisited}}6</span>
                  <span class="listing-text">Countries <br> Visited</span>
                </li>
                <li>
                  <span class="block user-count">{{list.count.followers}}15</span>
                  <span class="listing-text">Followers</span>
                </li>
                <li>
                  <span class="block user-count">{{list.count.journeysCreatedCount}}21</span>
                  <span class="listing-text">Journeys</span>
                </li>
              </ul>
            </div>
            <div class="follower-connectbtn">
              <button class="btn btn-dark-blue">Connect</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- CONTENT END -->
  </div>
  <!-- FOLLOWERS SECTION END -->

  <!-- LEADS SECTION -->
  <div class="analytics-leads " ng-show="leads">
    <!-- FILTER -->
    <div class="analytics-filter analyticsleads-filter">
      <div class="container-fluid">
        <div class="analyticsleads-filterhead clearfix">
          <div class="analyticsfilter-head pull-left">
            <p>Daily Lead Analytics</p>
          </div>
          <div class="pull-right filter-analyticslead">
            <form>
              <p class="filterlead-count">Total Leads: <span>0</span></p>
              <!-- MONTH FILTER -->
              <div class="analytics-filterui leadfilter-month">
                <div class="form-group">
                  <ui-select ng-model="leadMonthFilter" theme="bootstrap">
                    <ui-select-match placeholder="From">{{$select.selected.name}}</ui-select-match>
                    <ui-select-choices repeat="month in leadmonth | filter: $select.search track by $index">
                      <div>
                        {{month}}
                      </div>
                    </ui-select-choices>
                  </ui-select>
                </div>
              </div>
                <!-- MONTH FILTER END  -->
                <!-- YEAR FILTER  -->
              <div class="analytics-filterui leadfilter-year">
                <div class="form-group">
                  <ui-select ng-model="leadYearFilter" theme="bootstrap">
                    <ui-select-match placeholder="Year">{{$select.selected.name}}</ui-select-match>
                    <ui-select-choices repeat="year in leadyear | filter: $select.search track by $index">
                      <div>
                        {{year}}
                      </div>
                    </ui-select-choices>
                  </ui-select>
                </div>
              </div>
              <!-- YEAR FILTER END  -->
              <div class="leadfilter-btn">
                <button class="btn btn-pink"> Go </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- FILTER END -->
    <!-- EMPTY SCREEN -->
    <div class="analytics-emptyleads">
      <div class="container">
        <div class="emptyleads-analytics">
        </div>
      </div>
    </div>
    <!-- EMPTY SCREEN END -->
  </div>
  <!-- LEADS SECTION END -->

  <!-- VIEWS DOWNLOADS SECTION -->
  <div class="analytics-download " ng-show="viewsdownload">
    <!-- FILTER -->
    <div class="analytics-filter analyticsleads-filter ">
        <div class="container-fluid">
          <div class="analyticsleads-filterhead clearfix">
            <div class="pull-right filter-analyticslead">
              <form>
                <!-- MONTH FILTER -->
                <div class="analytics-filterui downloadfilter-month">
                  <div class="form-group">
                    <ui-select ng-model="downloadMonthfilter" theme="bootstrap">
                      <ui-select-match placeholder="From">{{$select.selected.name}}</ui-select-match>
                      <ui-select-choices repeat="month in leadmonth | filter: $select.search track by $index">
                        <div>
                          {{month}}
                        </div>
                      </ui-select-choices>
                    </ui-select>
                  </div>
                </div>
                  <!-- MONTH FILTER END  -->
                  <!-- YEAR FILTER  -->
                <div class="analytics-filterui downloadfilter-year">
                  <div class="form-group">
                    <ui-select ng-model="downloadYearFilter" theme="bootstrap">
                      <ui-select-match placeholder="Year">{{$select.selected.name}}</ui-select-match>
                      <ui-select-choices repeat="year in leadyear | filter: $select.search track by $index">
                        <div>
                          {{year}}
                        </div>
                      </ui-select-choices>
                    </ui-select>
                  </div>
                </div>
                <!-- YEAR FILTER END  -->
                <div class="leadfilter-btn">
                  <button class="btn btn-pink"> Go </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    <!-- FILTER END -->
    <!-- EMPTY SCREEN -->
    <div class="analytics-emptydownload hide">
      <div class="container">
        <div class="emptydownload-analytics">
          <h3 class="color-blue avenir-heavy">Views & Downloads</h3>
          <p class="color-blue avenir-roman">All the Itineraries and Tour & Packings that have been viewed or downloaded over the last 90 days have been listed below.</p>
        </div>
      </div>
    </div>
    <!-- EMPTY SCREEN END -->
    <!-- CONTENT -->
    <div class="analytics-downloadcontent">
      <div class="container">
        <div class="sec-travel-activity masonry-main" masonry preserve-order>
          <div class="row">
            <div class="col-md-4 col-sm-6 masonry-brick" ng-repeat="activity in travelActivity track by $index">
              <div class="travel-activity">
                <!-- header travel sec -->
                <div class="header-travel-sec" ng-if="activity.header">
                  <!-- agent traveller part header -->
                  <div class="agent-travel-header" ng-if="activity.agentHeader">
                    <div class="agent-traveller-imgholder">
                      <img ng-src="{{activity.travellerProfile}}" alt="" class="img-responsive">
                    </div>
                    <div class="agent-traveller-detail">
                      <h4 class="color-blue avenir-heavy">{{activity.agentName}}</h4>
                      <p class="m-clear color-grey"><i class="fa fa-calendar"></i><span class="ml5  ng-binding">{{activity.travelDate}}</span> | <i class="fa fa-clock-o mr5"></i> <span class="ng-binding">{{activity.travelTime}}</span></p>
                    </div>
                  </div>
                  <!-- agent traveller part header end-->
                  <!-- itinerary header-->
                  <div class="travel-itinerary-header" ng-if="activity.itineraryHeader">
                    <p class="m-clear color-grey"><i class="fa fa-calendar"></i><span class="ml5  ng-binding">{{activity.itineraryDate}}</span> | <i class="fa fa-clock-o mr5"></i> <span class="ng-binding">{{activity.itineraryTime}}</span></p>
                  </div>
                  <!-- itinerary header end-->
                </div>
                <!-- header travel sec end-->
                <!-- main travel sec -->
                <div class="activitiy-card-sec">
                  <!-- agent traveller card -->
                    <div class="agent-traveller-card" ng-if="activity.travellerAgent">
                      <div class="traveller-post color-blue">
                        <p>{{activity.agentPost}}</p>
                      </div>
                    </div>
                  <!-- agent traveller card end-->
                  <!-- tour package card -->
                  <div class="tour-package-card" ng-if="activity.tourPackage">
                    <div class="itinerary-img">
                      <div class="theme">
                        <div class="theme-img">
                          <img ng-src="{{activity.packageImg}}" class="img-responsive doneLoading" alt="">
                        </div>
                        <div class="theme-name">
                          <p class="ng-binding">{{activity.packageType}}</p>
                        </div>
                      </div>
                      <img ng-src="{{activity.tourPic}}" alt="" class="img-responsive doneLoading">
                      <div class="itinerary-imgfoot">
                        <div class="imgfoot-top clearfix">
                          <div class="pull-left">
                            <h4 class="avenir-heavy font-sz18 m-clear ng-binding">{{activity.tourTitle}}</h4>
                            <p class="day-night"><span class="ng-binding">{{activity.tourNight}} Nights</span> | <span class="ng-binding">{{activity.tourDay}} Days</span></p>
                            <p class="font-sz10"><i class="fa fa-calendar"></i><span class="ml5  ng-binding">{{activity.tourDate}}</span> | <i class="fa fa-clock-o mr5"></i> <span class="ng-binding">{{activity.tourTime}}</span></p>
                          </div>
                          <div class="pull-right">
                            <p class="font-sz18 cost-posi ng-binding">${{activity.tourCost}}</p>
                          </div>
                          <button class="btn btn-pink btn-book">Book</button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- tour package card end -->
                  <!-- itinerary activity card  -->
                  <div class="itinerary-activity-card" ng-if="activity.itinerary">
                    <div class="itinerary-img">
                      <img ng-src="{{activity.itineraryPic}}" alt="" class="img-responsive doneLoading">
                      <!-- new -->
                      <div class="journey-tag-holder">
                        <div class="days-spent pull-right" ng-if="activity.itineraryDays>0">
                          <p><span class="block">{{activity.itineraryDays}}</span>Days</p>
                        </div>
                        <h3 class="m-clear text-capitalize">{{activity.itineraryTitle}}</h3>

                        <div class="clearfix journey-travelling-type">
                          <div class="row">
                            <div class="col-xs-5">
                              <div class="pull-left">
                                <div class="journey-type m0">
                                  <ul>
                                    <li ng-repeat="type in activity.itineraryJourney|limitTo:3">
                                      <a href=""><img ng-src="{{type|kindOfJourney:'white'}}" alt="" height="20"></a>
                                    </li>
                                  </ul>
                                </div>
                              </div>
                            </div>
                            <div class="col-xs-7">
                              <div class="" ng-if="activity.itinerarytype=='quick-itinerary'">
                                <div class="quick-itinerary-tag">
                                  <h4>Quick</h4>
                                  <p>Itinerary</p>
                                </div>
                                <div class="date-quick-itinerary">
                                  {{activity.month}} {{activity.year}}
                                </div>
                              </div>
                              <div class="text-right">
                                <div class="journey-cost" ng-if="activity.itineraryCost!=''">
                                  <span>$</span>
                                  <span>{{activity.itineraryCost | number}}</span>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- new -->
                    </div>
                  </div>
                  <!-- itinerary activity card end -->
                </div>
                <!-- main travel sec end-->
                <!-- footer travel sec -->
                <div class="footer-travel-sec">
                  <div class="footertravel-count">
                    <p><span class="footertravel-downloadcount"> 0009 </span> Views </p>
                  </div>
                  <div class="footertravel-count">
                    <p><span class="footertravel-downloadcount"> 0003 </span> Downloads </p>
                  </div>
                </div>
                <!-- footer travel sec end-->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- CONTENT END -->
  </div>
  <!-- VIEWS DOWNLOADS SECTION END -->
</div>
