<div class="mustdo-modal">
  <div class="pb22">
    <div class="row">
      <div class="col-md-10">
        <div class="flex-slider">
          <div class="holder-places">
            <div class="img-holder-place">
              <flex-slider flex-slide="item in place.images track by $index" slider-id="slider" prev-text="" next-text="" sync="#carousel" slideshow="true" animation="slide">
                <li>
                  <img ng-src="{{item.imgurl}}" alt="Travelibro" class="full-width">
                  <div class="overlay-slider"></div>
                </li>
              </flex-slider>
              <div class="destination-desc-modal">
                <h4 class="title-head mt-clear">
                {{place.title}}
              </h4>
                <p class="cont-place" ng-bind-html="place.description"></p>
                <p class="cont-place text-right fnt-12 m-clear">
                  Image Courtesy: <a href="{{place.link}}" class="color-white" target="_blank">{{place.link}}</a >
            </p>
          </div>
      </div>
    </div>
  </div>
  </div>
      <div class="col-md-2">
        <div class="musto-thumbnail">
          <flex-slider flex-slide="item in place.images track by $index" animation="slide" animation-loop="false" item-width="100" item-margin="0" as-nav-for="#slider" slideshow="true" control-nav="false" prev-text="" next-text="" slider-id="carousel"
  animation-loop="false">
            <li>
              <div class="img-holder-place">
                <img ng-src="{{item.imgurl}}" alt="Travelibro">
              </div>
            </li>
          </flex-slider>
        </div>
      </div>
    </div>
  </div>
</div>
