<div class="mustdo-modal">
  <div class="bg-white pl20 pr20">
    <!-- <div class="img-holder-made">
      <img src="img/destination/taj.jpg" alt="">
    </div> -->
    <flex-slider slide="place in places track by id" animation="slide" control-nav="thumbnails">
      <li>
        <div class="img-holder-place">
          <img ng-src="{{place.img}}" alt="Travelibro">
        </div>
        <div class="destination-desc">
          <h4 class="title-head">
            {{place.title}}
          </h4>
          <p class="cont-place" ng-bind-html="place.cont"></p>
        </div>
      </li>
    </flex-slider>
    <flex-slider slide="place in places track by id" animation="slide" control-nav="thumbnails">
      <li>
        <div class="img-holder-place">
          <img ng-src="{{place.img}}" alt="Travelibro">
        </div>
        <div class="destination-desc">
          <h4 class="title-head">
            {{place.title}}
          </h4>
          <p class="cont-place" ng-bind-html="place.cont"></p>
        </div>
      </li>
    </flex-slider>

  </div>
</div>
