<div class="country-visited-main">
  <span class="text-center block year-title">Update Year</span>
  <div class="update-year-main">
    <div class="search-year-input">
      <input type="text" class="form-control" placeholder="Search Year">
      <div class="search-dropdown-icon">
        <i class="fa fa-search"></i>
      </div>
    </div>
    <div class="update-dropdown">
      <ul>
        <li>
          <div class="year-checkbox custom-checkbox">
            <input type="checkbox" id="year2016">
            <label for="year2016">2016</label>
          </div>
          <div class="count-visited">
            <span><i class="fa fa-minus-circle minus"></i></span>
            <input type="text" id="rooms" placeholder="00">
            <span><i class="fa fa-plus-circle plus"></i></span>
          </div>
        </li>
        <li>
          <div class="year-checkbox custom-checkbox">
            <input type="checkbox" id="year2015">
            <label for="year2015">2015</label>
          </div>
        </li>
        <li>
          <div class="year-checkbox custom-checkbox">
            <input type="checkbox" id="year2014">
            <label for="year2014">2014</label>
          </div>
        </li>
        <li>
          <div class="year-checkbox custom-checkbox">
            <input type="checkbox" id="year2013">
            <label for="year2013">2013</label>
          </div>
        </li>
        <li>
          <div class="year-checkbox custom-checkbox">
            <input type="checkbox" id="year2012">
            <label for="year2012">2012</label>
          </div>
        </li>
        <li>
          <div class="year-checkbox custom-checkbox">
            <input type="checkbox" id="year2011">
            <label for="year2011">2011</label>
          </div>
        </li>
        <li>
          <div class="year-checkbox custom-checkbox">
            <input type="checkbox" id="year2010">
            <label for="year2010">2010</label>
          </div>
        </li>
      </ul>
    </div>
    <div class="update-btn text-right">
      <button class="btn btn-pink">Update</button>
    </div>
  </div>
</div>
