<div class="mustdo-modal">
  <div class="bg-white pl20 pr20 pt20 pb20">
    <!-- <div class="img-holder-made">
      <img src="img/destination/taj.jpg" alt="">
    </div> -->
    <div class="row">
      <div class="col-md-9">
        <div class="holder-places">
          <div class="img-holder-place">
            <flex-slider flex-slide="item in place.images track by $index" animation="slide" animation-loop="false" as-nav-for="#sliders" slideshow="false">
              <img ng-src="{{item.imgurl}}" alt="Travelibro" class="full-width">
            </flex-slider>
            <div class="destination-desc">
              <h4 class="title-head">
                {{place.title}}
              </h4>
              <p class="cont-place" ng-bind-html="place.description"></p>
              <p class="cont-place text-right fnt-12 m-clear">
                Image Courtesy: <a href="{{place.link}}" class="color-white" target="_blank">{{place.link}}</a >
            </p>
          </div>
      </div>
    </div>
  </div>
      <div class="col-md-3">
        <div class="musto-thumbnail">
          <flex-slider flex-slide="item in place.images track by $index" class="carousel" animation="slide" item-width="170" as-nav-for="#sliders" control-nav="false">
            <li>
              <div class="img-holder-place">
                <img ng-src="{{item.imgurl}}" alt="Travelibro">
              </div>
            </li>
          </flex-slider>
        </div>
      </div>
    </div>
  </div>
</div>
