<div class="notify-main">
  <div class="container-fluid">
    <div class="bg-white">
      <div class="notify-imgsec">
        <div class="notify-imgholder">
          <img src="img/notify-adrena.jpg" alt="Andrea" class="img-reponsive">
        </div>
      </div>
      <div class="comment-like-notify">
        <div class="like-comment-mainsec">
          <div class="clearfix">
            <div class="pull-left">
              <ul class="notify-like">
                <li><a href=""><i class="fa fa-heart-o color-blue"></i></a></li>
                <li><a href=""><img src="img/comments.png" alt="" height="20" class="img-responisve"></a></li>
                <li><a href=""><img src="img/share.png" alt="" height="20" class="img-responisve"></a></li>
              </ul>
            </div>
            <div class="pull-right">
              <div class="notification-like">
                <span class="like-holder"><i class="fa fa-heart color-blue"></i> <span>15600 </span>Like
                <div class="like-dropdown">
                  <ul>
                    <li><a href="">Monish Shah</a></li>
                    <li><a href="">Malhar Gala</a></li>
                    <li><a href="">Raman</a></li>
                    <li><a href="">Saket Dave</a></li>
                    <li><a href="">Vigensh Kasturi</a></li>
                    <li><a href="">Amit Verma</a></li>
                  </ul>
                </div>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="comment-tag color-blue">
        <p class="m-clear avenir-roman">Evening by the beach! :)  with Sarvesh Bramhe & Gayatri Sakalkar - at Girgaon</p>
      </div>
    </div>
  </div>
</div>
