<div class="listed-detail-page">
  <!-- LISTED HEADER -->
  <div class="listed-detail-header">
    <h3>Listed <span class=""> Hotels </span> In <span class="">Mumbai</span></h3>
    <span class="listed-popup-close" ng-click="$dismiss();"><i class="fa fa-times"></i></span>
  </div>
  <!-- LISTED HEADER END -->

  <div class="listed-popup-list">
    <div class="row">
      <div class="col-md-6">
        <ul>
          <li>
            <div class="listed-popup-select relate">
              <input type="checkbox" id="chika" name="" />
              <label for="chika">
                    <span class="follower-username">TAJ MAHAL HOTEL</span>
                    <span class="list-select-budget">$$$</span>
                </label>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
