<div class="profile-main">
  <!-- <div class="" ng-include="profile.profileMain"></div> -->
  <div class="drafts-main">
    <div class="container-fluid m-p0">
      <div class="all-profile-detail">
        <div class="bg-white">
          <!-- tabs -->
          <div class="profile-tabs drafts-active" id="tabs">
            <span class="first-strip"></span>
            <span class="sec-strip"></span>
            <span class="third-strip"></span>
            <span class="fourth-strip"></span>
            <ul>
              <li><a href="" class="tab-heading" ng-click="getTab(0)">Journey</a></li>
              <li><a href="" class="tab-heading" ng-click="getTab(1)">Moments</a></li>
              <li><a href="" class="tab-heading" ng-click="getTab(2)">Reviews</a></li>
              <li ng-if="ownerProfile"><a href="" class="tab-heading" ng-click="getTab(3)">Untold</a></li>
            </ul>
          </div>
          <!-- end tabs -->
          <div class="moment-view drafts-view" ng-if="nodrafts">
            <!-- create new drafts -->
            <div class="create-drafts">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-offset-1 col-md-10">
                    <h3 class="color-pink text-center createdraft-heading">Wherever you go it becomes a part of your story.</h3>
                    <p class="text-center createdraft-text">The past story feature allows you to view and publish an automated timeline view of your past trips. Add quick thoughts and reviews to make your story more personalished. Quickly upload photos and videos of a trip to see the magic unfold</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="addBrick pointer addCard" ng-click="addNewDraft()" ng-if="showBox">
              <div class="journey-masonry-brick">
                <div class="travelled-imgholder add-draft">
                  <div class="newDraft">
                    <i class="fa fa-plus fa-add" aria-hidden="true"></i>
                    <p>Upload A Past Story</p>
                  </div>
                </div>
              </div>
            </div>
            <!-- drafts cards -->
            <div class="drafts-list" ng-if="!showBox">
              <form name="newDraft" ng-submit="createDraft(Draft)">
                <div class="draft-group">
                  <label>Trip Name :</label>
                  <input type="text" class="new-draft form-control" ng-model="Draft.name" required/>
                </div>
                <div class="draft-group ">
                  <label>From :</label>
                  <span class="draft-inputholder setting-datepicker">
                    <input type="text" placeholder="Start Date" class="form-control text-center detail-date" ng-click="open1();" uib-datepicker-popup="{{format}}" is-open="popup1.opened" datepicker-options="dateOptions" close-text="Close" alt-input-formats="false" ng-model="Draft.startTime" name="start-date" required/>
                  </span>
                </div>
                <div class="draft-group ">
                  <label>To :</label>
                  <span class="draft-inputholder setting-datepicker">
                    <input type="text" placeholder="End Date" class="form-control text-center detail-date" ng-click="open2();" uib-datepicker-popup="{{format}}" is-open="popup2.opened" datepicker-options="dateOptions" close-text="Close" alt-input-formats="false" ng-model="Draft.endTime" name="end-date" required/>
                  </span>
                </div>
                <div class="add-draft">
                  <button type="submit" class="addBtn" ng-disabled="newDraft.$invalid">
                    <i class="fa fa-plus fa-add" aria-hidden="true"></i>
                  </button>
                  <p>Upload A Past Story</p>
                </div>
              </form>
              </div>

            </div>
            <!--drafts card start-->
          <div class="container draftContainer"
               ng-if="template.isMine || (userData.following==1 && userData.status=='private') || userData.status=='public'">

            <div class="masonry-detail" ng-show="hasJourney" infinite-scroll="getMore()" infinite-scroll-disabled="scroll.busy" infinite-scroll-distance='1'>
              <div masonry preserve-order>
                <div class="row-fluid " style="background-color: #fff" ng-if="!nodrafts">
                  <div class="masonry-brick col-lg-4 col-md-6 col-sm-6 addBrick pointer" ng-click="addNewDraft()">
                    <div class="journey-masonry-brick">
                      <div class="travelled-imgholder add-draft"><div class="newDraft">
                          <i class="fa fa-plus fa-add" aria-hidden="true"></i>
                        <p>Upload A Past Story</p>
                      </div></div>
                    </div>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-6 col-sm-6 masonry-brick " ng-repeat="life in  draftCreated  track by $index">
                    <!--journey card -->
                    <div class="journey-masonry-brick" ng-if="life.draft">
                      <div class="travel-life-part avenir-roman">
                        <!--<div class="travel-journey-heading relate">-->
                          <!--&lt;!&ndash; <p ng-if="life.type=='ended-journey'">Has ended the Journey</p>-->
                            <!--<p ng-if="life.type=='on-the-go-journey'">Has started a Journey</p> &ndash;&gt;-->
                          <!--<p><span class="text-capitalize">{{life.name}}</span> - Journey (<span>{{life.duration}} {{life.duration | singularPlural: 'Days'}}</span>)</p>-->
                          <!--&lt;!&ndash; flag section &ndash;&gt;-->
                          <!--<div class="flag-section">-->
                            <!--<div class="country-visited" ng-repeat="visit in life.countryVisited | limitTo : 3">-->
                              <!--<img ng-src="{{visit.country.flag|uploadpath:20:20:'cover'}}" alt="" height="20">-->
                            <!--</div>-->
                            <!--<span ng-if="life.countryVisited.length>3" class="">+{{life.countryVisited.length-3}}</span>-->
                          <!--</div>-->
                          <!--&lt;!&ndash; flag section end&ndash;&gt;-->
                          <!--&lt;!&ndash; <p class="m-clear journey-timestamp"><i class="fa fa-calendar mr5"></i><span class="mr5">{{life.startTime|formatDate: 'date'}}</span>|-->
                            <!--<i class="fa fa-clock-o mr5 ml5"></i><span class="avenir-roman">{{life.startTime|formatDate: 'time'}}</span>                            <span>{{life.timestampHour}}</span></p> &ndash;&gt;-->
                        <!--</div>-->
                        <!--jounrey main detail card-->
                        <div class="travelled-journey relate">
                          <!-- ONGO BADGE BADGE -->
                          <!-- <div class="tag-ongo-journey">
                            <span class="inline-block color-white">On The Go</span>
                          </div> -->
                          <!-- ONGO BADGE BADGE -->
                          <div class="travelled-imgholder relate" ng-if="life.coverPhoto!=null">
                            <div class="black-overlay">
                              <div class="pull-right delete-draft pointer"><i class="fa fa-trash-o color-white" ng-click="deleteDraft(life._id)"></i></div>
                              <div class="color-white life-details">{{life.name}}</div>
                              <button class="btn pointer" ng-click="routeTO(life)">Edit & Publish</button>
                              <div class="days">
                                <span>{{life.duration}}</span>
                                <span ng-if="life.duration>1">Days</span>
                                <span ng-if="life.duration==1">Day</span>
                              </div>
                            </div>
                            <fade-img-loading blur="{{life.coverPhoto|uploadpath:10:10:'cover'}}" image="{{life.coverPhoto|uploadpath:722:750:'cover'}}" >
                            </fade-img-loading>
                          </div>
                          <div class="travelled-imgholder pointer map-imageholder relate" ng-if="life.coverPhoto==null">
                            <div class="black-overlay">
                              <div class="pull-right delete-draft pointer"><i class="fa fa-trash-o color-white" ng-click="deleteDraft(life._id)"></i></div>
                              <div class="color-white">{{life.name}}</div>
                              <button class="btn pointer" ng-click="routeTO(life)">Edit & Publish</button>
                            </div>
                            <fade-img-loading blur="{{life.startLocationPic|small|uploadpath:10:10:'cover'}}" image="{{life.startLocationPic|small|uploadpath:722:750:'cover'}}" >
                            </fade-img-loading>
                          </div>
                          <div class="journey-tag-holder" hidden>
                            <div class="days-spent pull-right" ng-init="count=(life.endTime|dateDifference: life.startTime)">
                              <!-- <p ng-if="life.type =='detail-itinerary'"><span class="block">{{count}}</span>{{count|singularPlural:'Days'}}</p> -->
                              <p><span class="block">{{life.duration}}</span> {{life.duration | singularPlural: 'Days'}}</p>
                            </div>
                            <h4 class="m-clear text-capitalize">{{life.name}}</h4>
                            <div class="clearfix journey-travelling-type">
                              <div class="row">
                                <div class="col-xs-7">
                                  <div class="pull-left">
                                    <div class="journey-collection">
                                      <!--<ul ng-if="life.photos.length">-->
                                      <ul>
                                        <li ng-if="life.photoCount!=0">
                                          <a href="">
                                            <div class="">
                                              <img src="img/camera.png" alt="Camera" width="18" class="mr5">
                                              <span class="inline-block v-mid">{{life.photoCount }}</span>
                                            </div>
                                          </a>
                                        </li>
                                        <li ng-if="life.videoCount!=0">
                                          <a href="">
                                            <div class="">
                                              <img src="img/video.png" alt="Video" width="18" class="mr5">
                                              <span class="inline-block v-mid">{{life.videoCount}}</span>
                                            </div>
                                          </a>
                                        </li>
                                        <li ng-if="life.checkInCount!=0">
                                          <a href="">
                                            <div class="">
                                              <img src="img/location.png" alt="Location" width="18" class="mr5">
                                              <span class="inline-block v-mid">{{life.checkInCount}}</span>
                                            </div>
                                          </a>
                                        </li>
                                      </ul>
                                    </div>
                                  </div>
                                </div>
                                <div class="col-xs-5">
                                  <div class="pull-right">
                                    <div class="journey-type">
                                      <ul>
                                        <li ng-repeat="list in life.kindOfJourney|limitTo:3 track by $index">
                                          <a href=""><img ng-src="{{list|kindOfJourney:'white'}}" alt="" height="18"></a>
                                        </li>
                                      </ul>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!--jounrey main detail end-->
                      </div>
                    </div>

                    <!--journey card end-->
                    <!--itinerary card-->
                  </div>
                  <!--itinerary card end-->
                </div>
              </div>
            </div>
          </div>
        </div>
            <!-- drafts cards end-->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
