<div class="profile-main">
  <!-- <div class="" ng-include="profile.profileMain"></div> -->
  <div class="moments-main">
    <div class="container-fluid">
      <div class="all-profile-detail">
        <div class="bg-white">
          <!-- tabs -->
          <div class="profile-tabs moments-active" id="tabs">
            <span class="first-strip"></span>
            <span class="sec-strip"></span>
            <span class="third-strip"></span>
            <span class="fourth-strip"></span>
            <ul>
              <li><a class="tab-heading" ng-click="getTab(0); ">Journey</a></li>
              <li><a class="tab-heading" ng-click="getTab(1); ">Moments</a></li>
              <li><a class="tab-heading" ng-click="getTab(2); ">Reviews</a></li>
              <!-- <li><a  class="tab-heading" ng-click="getTab(3); ">Holiday Planner</a></li> -->
            </ul>
          </div>
          <!-- end tabs -->
          <!-- moments view tab -->
          <div class="moments-tab">
            <div class="btn-view-moments pointer" ng-click="changeMomentTypeView(1)">
              <span class="btn-tab" ng-class="{'active-btn-all': momentView ==1}"></span>
              <span>All</span>
            </div>
            <div class="btn-view-moments pointer" ng-click="changeMomentTypeView(2)">
              <span class="btn-tab" ng-class="{'active-btn-travel': momentView ==2}"></span>
              <span>Travel Life</span>
            </div>
            <div class="btn-view-moments pointer" ng-click="changeMomentTypeView(3)">
              <span class="btn-tab" ng-class="{'active-btn-local': momentView ==3}"></span>
              <span>Local Life</span>
            </div>
            <!-- back button -->
            <div class="pull-right" ng-if="viewMonth">
              <button class="btn btn-blue-outline btn-more" ng-click="showMonthView();">Back</button>
            </div>
            <!-- back button end -->
          </div>
          <!-- moments view tab end -->
          <!-- moment all view -->
          <div class="container">
            <div class="moment-view">
              <div class="moment-all-view" ng-if="momentView == 1 && viewMonth==false" infinite-scroll="getMoreMoments(allMoments)">
                <!-- empty all view profile user login for first time  -->
                <div class="empty-moment-all empty-profile-moment text-center" ng-if="allMoments.arr[0].token==-1">
                  <div class="row">
                    <div class="col-lg-offset-3 col-lg-6 col-md-offset-3 col-md-6">
                      <h3 class="color-pink empty-title">Unwind​ B​y Rewinding</h3>
                      <p class="empty-descp">Revisit and reminisce the days gone by through brilliant pictures and videos of your travel and local
                        life.
                      </p>
                    </div>
                  </div>
                </div>
                <!-- empty all view profile user login for first time -->
                <div ng-if="allMoments.arr.length!==0">
                  <div class="month-collage" ng-repeat="singleObject in allMoments.arr track by $index" ng-click="getPerMonthMoments(singleObject,'all');"
                    ng-if="singleObject.token!=-1 && viewMonth == false">
                    <h4 class="month-name">{{singleObject.token|momentsDate}} <span>({{singleObject.count}})</span></h4>
                    <div class="collage-month-view">
                      <div class="flex-wrap-container">
                        <div class="row">
                          <div class="col-xs-1" ng-repeat="img in singleObject.data track by $index">
                            <div class="moment-imgholder">
                              <img ng-src="{{img.name|uploadpath:80:80:'cover'}}" alt="" class="img-responsive" ng-if="img.type=='photo'">
                              <img ng-src="{{img.thumbnail|uploadpath:80:80:'cover'}}" alt="" class="img-responsive" ng-if="img.type=='video'">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- moment all view end -->
              <!-- moment travel view  -->
              <div class="moment-travel-main" ng-if="momentView == 2 && viewMonth==false" infinite-scroll="getMoreMoments(travelLifeMoments)">
                <!-- empty travel view profile user login for first time  -->
                <div class="empty-moment-travel empty-profile-moment text-center" ng-if="travelLifeMoments.arr.length==0">
                  <div class="row">
                    <div class="col-lg-offset-3 col-lg-6 col-md-offset-3 col-md-6">
                      <h3 class="color-pink empty-title">Travel Becomes A Reason To Take Pictures And Store Them</h3>
                      <p class="empty-descp">Some memories are worth sharing, travel surely tops the list. Your travels will not only inspire you
                        to explore more of the world, you may just move another soul or two!</p>
                    </div>
                  </div>
                </div>
                <!-- empty travel view profile user login for first time-->
                <!--<div class="container-fluid">
                <div class="row">
                  <div class="col-md-3 col-sm-4" >-->
                <div ng-if="travelLifeMoments.arr.length!==0">
                  <div class="row">
                    <div class="col-sm-3 col-xs-4" ng-repeat="view in travelLifeMoments.arr" ng-click="getJournItiMoments(view);" ng-if="!viewMonth">
                      <div class="moment-travel-view">
                        <div class="moment-travelimgholder pointer">
                          <div class="img-backholder">
                            <div class="backholder-height" ng-if="view.type==undefined">
                              <img ng-src="{{view.coverPhoto|uploadpath:230:230:'cover'}}" alt="" class="img-responsive" ng-if="view.coverPhoto!=null">
                              <img ng-src="{{view.startLocationPic|uploadpath:230:230:'cover'}}" alt="" class="img-responsive" ng-if="view.coverPhoto==null">
                            </div>
                            <div class="backholder-height" ng-if="view.type!=''">
                              <img ng-src="{{view.photos.name|uploadpath:230:230:'cover'}}" alt="" class="img-responsive" ng-if="view.photos!=null">
                            </div>
                          </div>
                          <div class="img-frontholder">
                            <img src="img/moment-travel.png" alt="" class="img-responsive">
                          </div>
                        </div>
                        <div class="travel-info text-center avenir-roman">
                          <span class="pull-right">({{view.mediaCount}})</span>
                          <h4>{{view.name}} </h4>
                          <span class="color-light-grey pull-right">{{view.startTime|formatDate:'date'}}</span>
                        </div>
                        <!--</div>
                  </div>
                </div>-->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- moment travel view end  -->
              <!-- moment local view  -->
              <div class="moment-local-main" ng-if="momentView == 3 && viewMonth==false" infinite-scroll="getMoreMoments(localLifeMoments)">
                <!-- empty local view profile user login for first time  -->
                <div class="empty-moment-local empty-profile-moment text-center" ng-if="localLifeMoments.arr[0].token==-1">
                  <div class="row">
                    <div class="col-lg-offset-3 col-lg-6 col-md-offset-3 col-md-6">
                      <h3 class="color-pink empty-title">Suspended In Time</h3>
                      <p class="empty-descp">Beautiful memories created through fabulous pictures and videos of those precious moments shared with
                        family, friends and yourself.</p>
                    </div>
                  </div>
                </div>
                <!-- empty local view profile user login for first time-->
                <!--<div class="container-fluid">
                <div class="row">
                  <div class="col-md-3 col-sm-4" >-->
                <div ng-if="localLifeMoments.arr.length!==0">
                  <div class="row">
                    <div class="col-sm-3 col-xs-4" ng-repeat="moment in localLifeMoments.arr" ng-click="getPerMonthMoments(moment,'local');"
                      ng-if="moment.token!=-1 && viewMonth==false">
                      <div class="moment-local-view">
                        <div class="moment-localimgholder pointer">
                          <div class="img-backholder">
                            <img ng-src="{{moment.data[0].name|uploadpath:180:180:'cover'}}" alt="" class="img-responsive" ng-if="moment.data[0].type=='photo'">
                            <!--<img ng-src="{{moment.data[0].thumbnail|uploadpath:180:180:'cover'}}" alt="" class="img-responsive" style="border:2px solid red"
                          ng-if="moment.data[0].type=='video'">-->
                            <img ng-src="{{moment.data[0].thumbnail|uploadpath:180:180:'cover'}}" alt="" class="img-responsive" ng-if="moment.data[0].type=='video'">
                          </div>
                          <div class="img-frontholder">
                            <img src="img/moment-local.png" alt="" class="img-responsive">
                          </div>
                        </div>
                        <div class="local-info text-center avenir-roman">
                          <h4>{{moment.token|momentsDate}} <span>({{moment.count}})</span></h4>
                        </div>
                        <!--</div>
                  </div>
                </div>-->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="month-view-moments" ng-if="viewMonth">
                <span ng-if="momentView!=2"><h4>{{token|momentsDate}} <span>({{count}})</span></h4>
                </span>
                <span ng-if="momentView==2"><h4>{{token}} <span>({{count}})</span></h4>
                </span>
                <div class="month-view-pic collage-month-view" infinite-scroll="getMorePhotos(album)">
                  <div class="flex-wrap-container">
                    <div class="row">
                      <div class="col-xs-2" ng-repeat="monthMoments in album.perMonthMoments track by $index">
                        <div class="singleMonth-imgholder">
                          <img ng-src="{{monthMoments.name|uploadpath:170:170:'cover'}}" alt="" class="img-responsive" ng-if="monthMoments.type=='photo'"
                            ng-click="getPhotosCommentData(monthMoments._id, $index, album.perMonthMoments.length,album.perMonthMoments)">
                          <img ng-src="{{monthMoments.thumbnail|uploadpath:170:170:'cover'}}" alt="" class="img-responsive" ng-if="monthMoments.type=='video'"
                            ng-click="getPhotosCommentData(monthMoments._id, $index, album.perMonthMoments.length,album.perMonthMoments)">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- moment local view end -->
        </div>
      </div>
    </div>
  </div>
</div>
