<div class="min-hght">
    <div class="relate destin-fixednav1 fliter-min-hght" ng-class="{'openfilter': isopenfilter}">
        <div class="pt10 pb10 head-title-all bg-white mb20">
            <div class="row m-clear">
                <div class="col-md-3">
                    <div class="pad-btn">
                        <button class="btn btn-pink" ng-click="openFilter()"><i class="fa fa-filter" aria-hidden="true"></i> Filter
          </button>
                    </div>
                </div>
                <div class="col-md-6">
                    <h4 class="text-center fnt-24">TraveLibro Recommended Hotels</h4>
                    <p class="text-center avenir-roman m-clear"><span class="pr20">$$$ - Luxury</span> <span class="pr20">$$ - Mid Range    </span> <span>$ - Place To Crash</span></p>
                </div>
            </div>
        </div>

        <div class="libro-filter filterclose">
            <form>
                <div class="pt20 pb10 head-title-all bg-white">
                    <div class="container-fluid">
                        <div class="pad-btn">
                            <div class="row">
                                <div class="col-md-2 col-sm-3">
                                    <div class="select-all-made" ng-mouseleave="showme=false">
                                        <span class="btn btn-default form-control" ng-click="showme=true" ng-hide="showme">Cuisine
                  <i class="fa fa-angle-down pull-right" aria-hidden="true"></i></span>
                                        <input type="type" placeholder="Cuisine" ng-model="searchFilter" ng-show="showme" class="form-control input-tab avenir-roman">
                                        <div class="check-box-panel" ng-show="showme">
                                            <ul>
                                                <li ng-repeat="country in countries | filter:searchFilter">
                                                    <input type="checkbox" id="{{country.code}} " ng-show="showme" class="form-control">
                                                    <label for="{{country.code}} " class="avenir-roman ">{{country.name}}</label>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-3">
                                    <div class="select-all-made" ng-mouseleave="showme=false">
                                        <span class="btn btn-default form-control" ng-click="showme=true" ng-hide="showme">Budget 
                  <i class="fa fa-angle-down pull-right" aria-hidden="true"></i></span>
                                        <input type="type" placeholder="Budget" ng-model="searchFilter" ng-show="showme" class="form-control input-tab avenir-roman">
                                        <div class="check-box-panel" ng-show="showme">
                                            <ul>
                                                <li ng-repeat="country in countries | filter:searchFilter">
                                                    <input type="checkbox" id="{{country.code}} " ng-show="showme" class="form-control">
                                                    <label for="{{country.code}} " class="avenir-roman ">{{country.name}}</label>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <!--<div class="col-md-2 col-sm-3 ">
                <div class="select-all-made ">
                  <ui-select ng-model="selectedItem ">
                    <ui-select-match placeholder="Budget ">
                      <span ng-bind="$select.selected.name "></span>
                    </ui-select-match>
                    <ui-select-choices repeat="item in (countries | filter: $select.search) track by $index ">
                      <span ng-bind="item.name "></span>
                    </ui-select-choices>
                  </ui-select>
                </div>
              </div>-->
                                <div class="col-md-offset-1 col-md-5  col-sm-3 ">
                                    <!--<button type="submit">Add</button>-->
                                    <div class="txt-clear text-right ">
                                        <a>Clear All</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pt10 pb10 head-title-all bg-grey mb20 ">
                    <div class="container-fluid ">
                        <div class="plr30 ">
                            <div class="close-all ">
                                <a class="btn btn-pink avenir-roman " ng-click="openFilter() ">X Close</a>
                                <span class="tags avenir-roman" ng-repeat="item in country">{{item}} <span>X</span></span>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>