<div class="container-fluid">
  <div class="min-hght">
    <div class="relate" ng-class="{'openfilter': isopenfilter}">
      <div class="pt10 pb10 head-title-all bg-white mb20">
        <div class="row m-clear">
          <div class="col-md-3">
            <div class="pad-btn">
              <button class="btn btn-pink" ng-click="openFilter()"><i class="fa fa-filter" aria-hidden="true"></i> Filter
          </button>
            </div>
          </div>
          <div class="col-md-6">
            <h4 class="text-center fnt-24">TraveLibro Recommended Hotels</h4>
            <p class="text-center avenir-roman m-clear"><span class="pr20">$$$ - Luxury</span> <span class="pr20">$$ - Mid Range    </span> <span>$ - Place To Crash</span></p>
          </div>
        </div>
      </div>

      <div class="libro-filter filterclose">
        <form>
          <div class="pt20 pb10 head-title-all bg-white">
            <div class="pad-btn">
              <div class="row">
                <div class="col-md-2 col-sm-3">
                  <div class="select-all-made destination-filterscroll">
                    <input type="text" placeholder="City" class="form-control" ng-click="cityCategory=!cityCategory;" ng-model="cityHotelCategory">
                    <div class="destination-filterdrop" ng-show="cityCategory">
                      <ul>
                        <li ng-repeat="category in cityDestData.subType track by $index">
                          <div class="custom-checkbox">
                            <input type="checkbox" id="{{category}}" ng-click="cityHotelFilter(category,'categoryType')">
                            <label for="{{category}}" class="avenir-roman">{{category}}</label>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col-md-2 col-sm-3">
                  <div class="select-all-made destination-filterscroll">
                    <input type="text" class="form-control" placeholder="Budget" ng-model="cityHotelBudget" ng-click="hotelBudget= !hotelBudget">
                    <div class="destination-filterdrop" ng-show="hotelBudget">
                      <ul>
                        <li>
                          <div class="custom-checkbox">
                            <input type="checkbox" id="three-budget" ng-click="cityHotelFilter('$$$','categoryBudget')">
                            <label for="three-budget">$$$</label>
                          </div>
                        </li>
                        <li>
                          <div class="custom-checkbox">
                            <input type="checkbox" id="two-budget" ng-click="cityHotelFilter('$$','categoryBudget')">
                            <label for="two-budget">$$</label>
                          </div>
                        </li>
                        <li>
                          <div class="custom-checkbox">
                            <input type="checkbox" id="one-budget" ng-click="cityHotelFilter('$','categoryBudget')">
                            <label for="one-budget">$</label>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col-md-offset-1 col-md-7 col-sm-5">
                  <div class="txt-clear text-right ">
                    <a>Clear All</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="pt10 pb10 head-title-all bg-grey mb20 ">
            <div class="plr30 ">
              <div class="close-all ">
                <a class="btn btn-pink avenir-roman " ng-click="openFilter() ">X Close</a>
                <a class="btn btn-pink avenir-roman " ng-click="getCityInfo('hotel',urlDestinationCity)">Submit</a>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="destination-featured plr30">
      <div class="hotels">
        <div class="row">
          <div class="col-md-4 col-sm-6 col-xs-12 mb20" ng-repeat="hotels in cityDestData.hotel">
            <div class="hotel-card">
              <div class="brdbtm">
                <div class="title-head-inside">
                  <span class="pull-right fnt-20 color-grey-dollar avenir-roman">{{hotels.budget}}</span>
                  <h4 class="avenir-heavy fnt-22">{{hotels.name}}</h4>
                </div>
                <div class="rating-localpost inline-block">
                  <span ng-if="hotels.rating==null">
                    <i class="fa fa-star-o color-pink"></i>
                    <i class="fa fa-star-o color-pink"></i>
                    <i class="fa fa-star-o color-pink"></i>
                    <i class="fa fa-star-o color-pink"></i>
                    <i class="fa fa-star-o color-pink"></i>
                  </span>
                  <span ng-if="hotels.rating>0">
                    <span class="rated-star"><i class="fa fa-star color-pink" ng-repeat="a in getRating(hotels.rating,'marked') track by $index"></i></span>
                    <span class="non-rated-star"><i class="fa fa-star-o color-pink" ng-repeat="b in getRating(hotels.rating,'unmarked') track by $index"></i></span>
                    </span>
                  <span ng-if="hotels.rating>0">({{hotels.ratingCount}})</span>
                </div>
                <div class="category">
                  <span>Category :</span>
                  <span ng-repeat="category in hotels.type track by $index">{{category}}</span>
                </div>
              </div>
              <div class="review pointer brdbtm">
                <span class="icon-read pointer">Read Reviews :</span> <span class="font-bold">5</span>
              </div>
              <div class="review pt10">
                <div class="pull-right">
                  <a>Suggest An Edit</a>
                </div>
                <span>Been Here :</span> <span class="italic pointer" ng-click="rateDestination(hotels,'hotel')">Rate this now</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
