<div class="container-fluid">
  <div class="bg-white pt20 min-hght">
    <div class="destination-featured plr30">
      <div class="row">
        <div class="col-md-6">
          <div class="img-holder relate" ng-click="openCity();">
            <img src="img/destination/taj-featured.jpg" alt="travel-libro" class="full-width">
            <div class="title-head-left color-white">
              1. Taj Mahal
            </div>
            <div class="read-more right-bottom">
              <a class="color-white">Read</a>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="img-holder relate" ng-click="openCity();">
            <img src="img/destination/goldentemple.jpg" alt="travel-libro" class="full-width">
            <div class="title-head-left color-white">
              2. Taj Mahal on a Full Moon Night
            </div>
            <div class="read-more right-bottom"><a class="color-white">Read</a></div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="img-holder relate" ng-click="openCity();">
            <img src="img/destination/taj-featured.jpg" alt="travel-libro" class="full-width">
            <div class="title-head-left color-white">
              1. Taj Mahal
            </div>
            <div class="read-more right-bottom"><a class="color-white">Read</a></div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="img-holder relate" ng-click="openCity();">
            <img src="img/destination/goldentemple.jpg" alt="travel-libro" class="full-width">
            <div class="title-head-left color-white">
              2. Taj Mahal on a Full Moon Night
            </div>
            <div class="read-more right-bottom"><a class="color-white">Read</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
