<div class="min-hght">
  <div class="relate destin-fixednav1" ng-class="{'openfilter': isopenfilter}">
    <div class="pt10 pb10 head-title-all bg-white mb20">
      <div class="row m-clear">
        <div class="col-md-3">
          <div class="pad-btn">
            <button class="btn btn-pink avenir-roman" ng-click="openFilter()"><i class="fa fa-filter" aria-hidden="true"></i>
   Filter</button>
          </div>
        </div>
        <div class="col-md-6">
          <h4 class="text-center fnt-24">TraveLibro Recommended Restaurants</h4>
          <p class="text-center avenir-roman m-clear"><span class="pr20">$$$ - Luxury</span> <span class="pr20">$$ - Mid Range    </span> <span>$ - Place To Crash</span></p>
        </div>
      </div>
    </div>
    <div class="libro-filter filterclose">
      <form>
        <div class="pt20 pb10 head-title-all fliter-min-hght bg-white">
          <div class="container-fluid">
            <div class="pad-btn">
              <div class="row">
                <div class="col-md-2 col-sm-3">
                  <div class="select-all-made" ng-mouseleave="showme=false">
                    <form action="#">
                      <span class="btn btn-default form-control" ng-click="showme=true" ng-hide="showme">Cuisine
                  <i class="fa fa-angle-down pull-right" aria-hidden="true"></i></span>
                      <input type="type" placeholder="Cuisine" ng-model="searchFilter" ng-show="showme" class="form-control input-tab avenir-roman">
                      <div class="check-box-panel" ng-show="showme">
                        <ul>
                          <li ng-repeat="country in countries | filter:searchFilter">
                            <input type="checkbox" id="{{country.code}} " ng-show="showme" class="form-control">
                            <label for="{{country.code}} " class="avenir-roman ">{{country.name}}</label>
                          </li>
                        </ul>
                      </div>
                  </div>
                  </form>
                </div>
                <div class="col-md-2 col-sm-3">
                  <div class="select-all-made" ng-mouseleave="showme=false">
                    <form action="#">
                      <span class="btn btn-default form-control" ng-click="showme=true" ng-hide="showme">Type
                  <i class="fa fa-angle-down pull-right" aria-hidden="true"></i></span>
                      <input type="type" placeholder="Type" ng-model="searchFilter" ng-show="showme" class="form-control input-tab avenir-roman">
                      <div class="check-box-panel" ng-show="showme">
                        <ul>
                          <li ng-repeat="country in countries | filter:searchFilter">
                            <input type="checkbox" id="{{country.code}} " ng-show="showme" class="form-control">
                            <label for="{{country.code}} " class="avenir-roman ">{{country.name}}</label>
                          </li>
                        </ul>
                      </div>
                  </div>
                  </form>
                </div>
                <div class="col-md-2 col-sm-3">
                  <div class="select-all-made" ng-mouseleave="showme=false">
                    <span class="btn btn-default form-control" ng-click="showme=true" ng-hide="showme">Budget
                  <i class="fa fa-angle-down pull-right" aria-hidden="true"></i></span>
                    <input type="type" placeholder="Budget" ng-model="searchFilter" ng-show="showme" class="form-control input-tab avenir-roman">
                    <div class="check-box-panel" ng-show="showme">
                      <ul>
                        <li ng-repeat="country in countries | filter:searchFilter">
                          <input type="checkbox" id="{{country.code}} " ng-show="showme" class="form-control" ng-model="testCtrl.myText">
                          <label for="{{country.code}} " class="avenir-roman ">{{country.name}}</label>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <!--<div class="col-md-2 col-sm-3 ">
                <div class="select-all-made ">
                  <ui-select ng-model="selectedItem ">
                    <ui-select-match placeholder="Budget ">
                      <span ng-bind="$select.selected.name "></span>
                    </ui-select-match>
                    <ui-select-choices repeat="item in (countries | filter: $select.search) track by $index ">
                      <span ng-bind="item.name "></span>
                    </ui-select-choices>
                  </ui-select>
                </div>
              </div>-->
                <div class="col-md-offset-1 col-md-5  col-sm-3 ">
                  <!--<button type="submit">Add</button>-->
                  <div class="txt-clear text-right ">
                    <a>Clear All</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="pt10 pb10 head-title-all bg-grey mb20 ">
          <div class="container-fluid ">
            <div class="plr30 ">
              <div class="close-all ">
                <a class="btn btn-pink avenir-roman " ng-click="openFilter() ">X Close</a>
                <span class="tags avenir-roman" ng-repeat="item in country">{{item}} <span>X</span></span>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="container-fluid ">
    <div class="destination-featured plr30 ">
      <div class="hotels ">
        <div class="row ">
          <div class="col-md-4 col-sm-6 col-xs-12 mb20 ">
            <div class="hotel-card ">
              <div class="brdbtm pb10 ">
                <div class="title-head-inside ">
                  <span class="pull-right color-grey-dollar fnt-20 avenir-roman ">$$$</span>
                  <h4 class="avenir-heavy inline-block fnt-22 ">Bellevue</h4>
                  <div class="rating-localpost inline-block pb10 pr20 pl20 ">
                    <!-- <span class="color-blue font-bold mr5 ">Rating:</span> -->
                    <i class="fa fa-star color-pink "></i>
                    <i class="fa fa-star color-pink "></i>
                    <i class="fa fa-star color-pink "></i>
                    <i class="fa fa-star-o color-pink "></i>
                    <i class="fa fa-star-o color-pink "></i>
                    <span>(345)</span>
                  </div>
                </div>
                <div class="category pb10 ">
                  <span>Cuisine: </span> Indian, Chinese, Mexican +4</span>
                </div>
                <div class="tag-made category ">
                  <span>Vegan</span>
                  <span>Vegetarian</span>
                  <span>Non Vegetarian</span>
                </div>
              </div>
              <div class="review pointer pb20 pt20 brdbtm ">
                <div class="pull-right ">
                  <p><i class="fa fa-circle " aria-hidden="true "></i></p>
                  <p><i class="fa fa-circle " aria-hidden="true "></i></p>
                  <p><i class="fa fa-circle " aria-hidden="true "></i></p>
                </div>
                <span class="icon-read pointer ">Read Reviews :</span> <span class="font-bold ">5</span>
              </div>
              <div class="review pt20 ">
                <div class="pull-right ">
                  <a>Suggest An Edit</a>
                </div>
                <span>Been Here :</span> <span class="italic pointer ">Rate This</span>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12 mb20 ">
            <div class="hotel-card ">
              <div class="brdbtm pb10 ">
                <div class="title-head-inside ">
                  <span class="pull-right color-grey-dollar fnt-20 avenir-roman ">$$$</span>
                  <h4 class="avenir-heavy inline-block fnt-22 ">Bellevue</h4>
                  <div class="rating-localpost inline-block pb10 pr20 pl20 ">
                    <!-- <span class="color-blue font-bold mr5 ">Rating:</span> -->
                    <i class="fa fa-star color-pink "></i>
                    <i class="fa fa-star color-pink "></i>
                    <i class="fa fa-star color-pink "></i>
                    <i class="fa fa-star-o color-pink "></i>
                    <i class="fa fa-star-o color-pink "></i>
                    <span>(345)</span>
                  </div>
                </div>
                <div class="category pb10 ">
                  <span>Cuisine: </span> Indian, Chinese, Mexican +4</span>
                </div>
                <div class="tag-made category ">
                  <span>Vegan</span>
                  <span>Vegetarian</span>
                  <span>Non Vegetarian</span>
                </div>
              </div>
              <div class="review pointer pb20 pt20 brdbtm ">
                <div class="pull-right ">
                  <p><i class="fa fa-circle " aria-hidden="true "></i></p>
                  <p><i class="fa fa-circle " aria-hidden="true "></i></p>
                  <p><i class="fa fa-circle " aria-hidden="true "></i></p>
                </div>
                <span class="icon-read pointer ">Read Reviews :</span> <span class="font-bold ">5</span>
              </div>
              <div class="review pt20 ">
                <div class="pull-right ">
                  <a>Suggest An Edit</a>
                </div>
                <span>Been Here :</span> <span class="italic pointer ">Rate This</span>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12 mb20 ">
            <div class="hotel-card ">
              <div class="brdbtm pb10 ">
                <div class="title-head-inside ">
                  <span class="pull-right color-grey-dollar fnt-20 avenir-roman ">$$$</span>
                  <h4 class="avenir-heavy inline-block fnt-22 ">Bellevue</h4>
                  <div class="rating-localpost inline-block pb10 pr20 pl20 ">
                    <!-- <span class="color-blue font-bold mr5 ">Rating:</span> -->
                    <i class="fa fa-star color-pink "></i>
                    <i class="fa fa-star color-pink "></i>
                    <i class="fa fa-star color-pink "></i>
                    <i class="fa fa-star-o color-pink "></i>
                    <i class="fa fa-star-o color-pink "></i>
                    <span>(345)</span>
                  </div>
                </div>
                <div class="category pb10 ">
                  <span>Cuisine: </span> Indian, Chinese, Mexican +4</span>
                </div>
                <div class="tag-made category ">
                  <span>Vegan</span>
                  <span>Vegetarian</span>
                  <span>Non Vegetarian</span>
                </div>
              </div>
              <div class="review pointer pb20 pt20 brdbtm ">
                <div class="pull-right ">
                  <p><i class="fa fa-circle " aria-hidden="true "></i></p>
                  <p><i class="fa fa-circle " aria-hidden="true "></i></p>
                  <p><i class="fa fa-circle " aria-hidden="true "></i></p>
                </div>
                <span class="icon-read pointer ">Read Reviews :</span> <span class="font-bold ">5</span>
              </div>
              <div class="review pt20 ">
                <div class="pull-right ">
                  <a>Suggest An Edit</a>
                </div>
                <span>Been Here :</span> <span class="italic pointer ">Rate This</span>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12 mb20 ">
            <div class="hotel-card ">
              <div class="brdbtm pb10 ">
                <div class="title-head-inside ">
                  <span class="pull-right color-grey-dollar fnt-20 avenir-roman ">$$$</span>
                  <h4 class="avenir-heavy inline-block fnt-22 ">Bellevue</h4>
                  <div class="rating-localpost inline-block pb10 pr20 pl20 ">
                    <!-- <span class="color-blue font-bold mr5 ">Rating:</span> -->
                    <i class="fa fa-star color-pink "></i>
                    <i class="fa fa-star color-pink "></i>
                    <i class="fa fa-star color-pink "></i>
                    <i class="fa fa-star-o color-pink "></i>
                    <i class="fa fa-star-o color-pink "></i>
                    <span>(345)</span>
                  </div>
                </div>
                <div class="category pb10 ">
                  <span>Cuisine: </span> Indian, Chinese, Mexican +4</span>
                </div>
                <div class="tag-made category ">
                  <span>Vegan</span>
                  <span>Vegetarian</span>
                  <span>Non Vegetarian</span>
                </div>
              </div>
              <div class="review pointer pb20 pt20 brdbtm ">
                <div class="pull-right ">
                  <p><i class="fa fa-circle " aria-hidden="true "></i></p>
                  <p><i class="fa fa-circle " aria-hidden="true "></i></p>
                  <p><i class="fa fa-circle " aria-hidden="true "></i></p>
                </div>
                <span class="icon-read pointer ">Read Reviews :</span> <span class="font-bold ">5</span>
              </div>
              <div class="review pt20 ">
                <div class="pull-right ">
                  <a>Suggest An Edit</a>
                </div>
                <span>Been Here :</span> <span class="italic pointer ">Rate This</span>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12 mb20 ">
            <div class="hotel-card ">
              <div class="brdbtm pb10 ">
                <div class="title-head-inside ">
                  <span class="pull-right color-grey-dollar fnt-20 avenir-roman ">$$$</span>
                  <h4 class="avenir-heavy inline-block fnt-22 ">Bellevue</h4>
                  <div class="rating-localpost inline-block pb10 pr20 pl20 ">
                    <!-- <span class="color-blue font-bold mr5 ">Rating:</span> -->
                    <i class="fa fa-star color-pink "></i>
                    <i class="fa fa-star color-pink "></i>
                    <i class="fa fa-star color-pink "></i>
                    <i class="fa fa-star-o color-pink "></i>
                    <i class="fa fa-star-o color-pink "></i>
                    <span>(345)</span>
                  </div>
                </div>
                <div class="category pb10 ">
                  <span>Cuisine: </span> Indian, Chinese, Mexican +4</span>
                </div>
                <div class="tag-made category ">
                  <span>Vegan</span>
                  <span>Vegetarian</span>
                  <span>Non Vegetarian</span>
                </div>
              </div>
              <div class="review pointer pb20 pt20 brdbtm ">
                <div class="pull-right ">
                  <p><i class="fa fa-circle " aria-hidden="true "></i></p>
                  <p><i class="fa fa-circle " aria-hidden="true "></i></p>
                  <p><i class="fa fa-circle " aria-hidden="true "></i></p>
                </div>
                <span class="icon-read pointer ">Read Reviews :</span> <span class="font-bold ">5</span>
              </div>
              <div class="review pt20 ">
                <div class="pull-right ">
                  <a>Suggest An Edit</a>
                </div>
                <span>Been Here :</span> <span class="italic pointer ">Rate This</span>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
