<div class="container-fluid ">
  <div class="min-hght">
    <div class="relate" ng-class="{'openfilter': isopenfilter}">
      <div class="pt10 pb10 head-title-all bg-white mb20">
        <div class="row m-clear">
          <div class="col-md-3">
            <div class="pad-btn">
              <button class="btn btn-pink avenir-roman" ng-click="openFilter()"><i class="fa fa-filter" aria-hidden="true"></i>Filter</button>
            </div>
          </div>
          <div class="col-md-6">
            <h4 class="text-center fnt-24">TraveLibro Recommended Restaurants</h4>
            <p class="text-center avenir-roman m-clear"><span class="pr20">$$$ - Luxury</span> <span class="pr20">$$ - Mid Range    </span> <span>$ - Place To Crash</span></p>
          </div>
        </div>
      </div>
      <div class="libro-filter filterclose">
        <form>
          <div class="pt20 pb10 head-title-all fliter-min-hght bg-white">
            <div class="container-fluid">
              <div class="pad-btn">
                <div class="row">
                  <div class="col-md-2 col-sm-3">
                    <div class="select-all-made destination-filterscroll entry-content">
                      <input type="text" placeholder="Cuisine" class="form-control" ng-model="cityCuisine" ng-click="viewDropdown.showDropdown=!viewDropdown.show">
                      <div class="view-cuisine destination-filterdrop" ng-show="viewDropdown.showDropdown">
                        <ul>
                          <li ng-repeat="cuisine in cityDestData.cuisine track by $index">
                            <div class="custom-checkbox">
                              <input type="checkbox" id="{{cuisine}}" ng-click="hotelRestaurantFilter(cuisine,'restaurantCuisine')">
                              <label class="entry-content" for="{{cuisine}}">{{cuisine}}</label>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-2 col-sm-3">
                    <div class="select-all-made destination-filterscroll">
                      <input type="text" class="form-control" placeholder="Type" ng-click="showType=!showType" ng-model="cityTypeRestaurant">
                      <div class="destination-filterdrop" ng-show="showType">
                        <ul>
                          <li ng-repeat="restaurant in cityDestData.subType track by $index">
                            <div class="custom-checkbox">
                              <input type="checkbox" id="{{restaurant}}Resto" ng-click="hotelRestaurantFilter(restaurant,'typeRestaurant')">
                              <label for="{{restaurant}}Resto">{{restaurant}}</label>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-2 col-sm-3">
                    <div class="select-all-made destination-filterscroll">
                      <input type="text" placeholder="Budget" class="form-control" ng-model="cityRestoBudget" ng-click="showBudget=!showBudget">
                      <div class="destination-filterdrop" ng-show="showBudget">
                        <ul>
                          <li>
                            <div class="custom-checkbox">
                              <input type="checkbox" id="budget-three" ng-click="hotelRestaurantFilter('$$$','restaurantBudget')">
                              <label for="budget-three">$$$</label>
                            </div>
                          </li>
                          <li>
                            <div class="custom-checkbox">
                              <input type="checkbox" id="budget-two" ng-click="hotelRestaurantFilter('$$','restaurantBudget')">
                              <label for="budget-two">$$</label>
                            </div>
                          </li>
                          <li>
                            <div class="custom-checkbox">
                              <input type="checkbox" id="budget-one" ng-click="hotelRestaurantFilter('$','restaurantBudget')">
                              <label for="budget-one">$</label>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <!--<div class="col-md-2 col-sm-3 ">
                <div class="select-all-made ">
                  <ui-select ng-model="selectedItem ">
                    <ui-select-match placeholder="Budget ">
                      <span ng-bind="$select.selected.name "></span>
                    </ui-select-match>
                    <ui-select-choices repeat="item in (countries | filter: $select.search) track by $index ">
                      <span ng-bind="item.name "></span>
                    </ui-select-choices>
                  </ui-select>
                </div>
              </div>-->
                  <div class="col-md-offset-1 col-md-5  col-sm-3 ">
                    <!--<button type="submit">Add</button>-->
                    <div class="txt-clear text-right ">
                      <a>Clear All</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="pt10 pb10 head-title-all bg-grey mb20 ">
            <div class="container-fluid ">
              <div class="plr30 ">
                <div class="close-all ">
                  <a class="btn btn-pink avenir-roman " ng-click="openFilter() ">X Close</a>
                  <a class="btn btn-pink avenir-roman " ng-click="getCityInfo('restaurant', urlDestinationCity)">Submit</a>

                  <!-- abhi iska api mai dekhna hai -->
                  <!-- <span class="tags avenir-roman" ng-repeat="item in country">{{item}} <span>X</span></span> -->
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="destination-featured plr30 ">
      <div class="hotels">
        <div class="row ">
          <div class="col-md-4 col-sm-6 col-xs-12 mb20 " ng-repeat="rest in cityDestData.restaurant track by $index">
            <div class="hotel-card ">
              <div class="brdbtm pb10 ">
                <div class="title-head-inside clearfix">
                  <h3 class="pull-right color-grey-dollar m-clear avenir-roman ">{{rest.budget}}</h3>
                  <h4 class="avenir-heavy inline-block">{{rest.name}}</h4>
                </div>
                <div class="rating-localpost inline-block">
                  <!-- <span class="color-blue font-bold mr5 ">Rating:</span> -->
                  <i class="fa fa-star color-pink "></i>
                  <i class="fa fa-star color-pink "></i>
                  <i class="fa fa-star color-pink "></i>
                  <i class="fa fa-star-o color-pink "></i>
                  <i class="fa fa-star-o color-pink "></i>
                  <span>(345)</span>
                </div>
                <div class="category ">
                  <span>Cuisine: </span>
                  <span ng-repeat="cuisine in rest.cuisine track by $index"> {{cuisine}}</span>
                </div>
                <div class="tag-made category ">
                  <span>Vegan</span>
                  <span>Vegetarian</span>
                  <span>Non Vegetarian</span>
                </div>
              </div>
              <div class="review pointer brdbtm clearfix">
                <div class="pull-right ">
                  <div class="options">
                    <img src="img/options.png" alt="Options" height="18">
                  </div>
                </div>
                <span class="icon-read pointer ">Read Reviews :</span> <span class="font-bold ">5</span>
              </div>
              <div class="review clearfix">
                <div class="pull-right ">
                  <a>Suggest An Edit</a>
                </div>
                <span>Been Here :</span>
                <span class="italic pointer color-blue">Rate This Now</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
